{% extends "base.html" %}

{% block headtags %}
<link rel="stylesheet" type="text/css" href="/media/css/offsite.css" />
<script type="text/javascript" src="/media/js/offsite.js"></script>
{% endblock %}

{% block content %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>Downloads ativos</h2>
		<div class="right">
            A lista será atualizada em <span class="tempo_restante">10</span> segundos. <small>(<a href="#" rel="{{script_name}}" class="atualizar_agora">atualizar agora</a>)</small>
		</div>
	</div>

    <div class="block_content">

        {% if not object_list %}
            <p>Não existem downloads ativos no momento.</p>
        {% else %}
            <table class="request_list">
                <thead>
                    <tr>
                        <th>Caminho do arquivo</th>
                        <th>Criado em</th>
                        <th>Tentativas</th>
                        <th>Transferência</th>
                        <th>Concluído</th>
                    </tr>
                </thead>

                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.volume.filename }}</td>
                        <td>{{ object.created_at|date:"d/m/Y H:i" }}</td>
                        <td align="right">{{ object.attempts }} <small>(última: {{ object.last_attempt }})</small></td>
                        <td align="right">{{ object.friendly_rate }} <small>(tempo restante: {{ object.estimated_transfer_time }})</small></td>
                        <td align="right">
                            <div class="concluido_wrapper" title="{{ object.finished_percent }}% concluído.">
                                <div class="concluido_percent" style="width: {{ object.finished_percent }}%">&nbsp;</div>
                            </div>
                        </td>
                    </tr>
                {{ object.path }}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
