{% extends "base.html" %}
{% load i18n %}

{% block headtags %}
<link rel="stylesheet" type="text/css" href="/media/css/offsite.css" />
<script type="text/javascript" src="/media/js/offsite.js"></script>
{% endblock %}


{% block content %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{ title }}</h2>
		<div class="right">
            {% trans "The list will be updated within" %}<span class="tempo_restante">10</span> {% trans "seconds." %} <small>(<a href="#" rel="{{script_name}}" class="atualizar_agora">{% trans "Update now" %}</a>)</small>
			
		</div>
	</div>

    <div class="block_content">

        {% if not object_list %}
            <p>{% trans "There are no downloads currently active" %}</p>
        {% else %}
            <table class="request_list">
                <thead>
                    <tr>
                        <th>{% trans "File path" %}</th>
                        <th>{% trans "Created on" %}</th>
                        <th>{% trans "Attempts" %}</th>
                        <th>{% trans "Transference" %}</th>
                        <th>{% trans "Done" %}</th>
		    </tr>
                </thead>

                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.volume.filename }}</td>
                        <td>{{ object.created_at|date:"d/m/Y H:i" }}</td>
                        <td align="right">{{ object.attempts }} <small>({% trans "last:" %} {{ object.last_attempt }})</small></td>
                        <td align="right">{{ object.friendly_rate }} <small>({% trans "remaining time:" %} {{ object.estimated_transfer_time }})</small></td>
                        <td align="right">
                            <div class="concluido_wrapper" title= "{{ object.finished_percent }}"{% trans "% completed." %}")
>
                                <div class="concluido_percent" style="width: {{ object.finished_percent }}%">&nbsp;</div>
                            </div>
                        </td>
                    </tr>
                {{ object.path }}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
