{% extends "base.html" %}
{% block content %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>Selecionar dispositivo</h2>
	</div>

    <div class="block_content">

        <h1>Por favor, selecione o destino onde deseja realizar a cópia de segurança:</h1>

        <div class="bloco_texto">

        <form action="{% url nimbus.offsite.views.copy_files_to_storage %}" method="post">
            {% for device in devices %}
                <p>
                    <input type="radio" name="device" value="{{device}}" id="{{device}}" class="radio" />
                    <label for="{{device}}">{{device}}</label>
                </p>
            {% empty %}
                <p>Nenhum dispositivo foi encontrado. Por favor conecte um hd ou pendrive externo.</p>
            {% endfor %}

            {% if devices %}
                <p><input type="submit" class="submit mid" value="Prosseguir" /></p>
            {%endif%}
        </form>
        </div>
        
        <div class="clear"></div>
    </div>

    <div class="bendl"></div>
	<div class="bendr"></div>

</div>


{% endblock %}
