{% extends "base.html" %}


{% block headtags %}
<!-- <link rel="stylesheet" type="text/css" href="/media/css/offsite.css" /> -->
<link rel="stylesheet" type="text/css" href="/media/css/transfers.css" />
<!-- <script type="text/javascript" src="/media/js/offsite.js"></script> -->
<script type="text/javascript" src="/media/js/transfers.js"></script>
{% endblock %}


{% block content %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{ title }}</h2>
		<div class="right">
            A lista será atualizada em <span class="tempo_restante">10</span> segundos. <small>(<a href="#" rel="{{script_name}}" class="atualizar_agora">atualizar agora</a>)</small>
			
		</div>
	</div>

    <div class="block_content">
		<table id="overview_box">
			<tr>
				<td>Transferidos {{upload_done|floatformat}} de {{upload_total|floatformat}} MB ({% widthratio upload_done upload_total 100 %}%)</td>
				<td>Velocidade atual: {{current_speed|floatformat}} kB/s</td>
				<td>Tempo estimado: {{eta_str}}</td>
				<td>Término estimado para {{end_time_str}}</td>
			</tr>
		</table>
		<div id="fullbar">
			{% for upload in uploads %}
			<div id="queue_item_{{upload.id}}" class="part {% cycle 'par' 'impar' %}" style="width: {% widthratio upload.total upload_total 910 %}px">{% if upload.done > 0 %}<div class="icon {% if upload.speed > 0%}upload_icon_{% cycle 'par' 'impar' %}{% else %}stalled_icon_{% cycle 'par' 'impar' %}{% endif %}"></div>{% endif %}</div>
			{% endfor %}
		</div>
		<div id="marker_box">
			<div id="marker"></div>
		</div>
		<div id="upload_info_box">
			{% for upload in uploads %}
			<div class="upload_info" id="info_queue_item_{{upload.id}}" {% if forloop.first %}style="display: block;"{% endif %}>
				<table>
					<tbody>
						<tr><td>Procedimento:</td><td>{{upload.name}}</td></tr>
						<tr><td>Concluído:</td><td>{{upload.done}} de {{upload.total}} MB ({% widthratio upload.done upload.total 100 %}%)</td></tr>
						<tr><td>Volume atual:</td><td>procedure_98273094801834081234083242</td></tr>
						<tr><td>Taxa de transferência:</td><td>{{upload.speed}} kB/s</td></tr>
						<tr><td>Tempo estimado:</td><td>01:35:22</td></tr>
						<tr><td>Adicionado a fila em:</td><td>08:35:29 de 08/02/2012</td></tr>
						<tr><td>Inicio estimado para:</td><td>Em andamento</td></tr>
						<tr><td>Conclusão estimada em:</td><td>09:23:58 de 08/02/2012</td></tr>
					</tbody>
				</table>
				<div class="progress_bar">
					<div class="done_bar" style="width: {% widthratio upload.done upload.total 100 %}%"></div>
				</div>
			</div>
			{% endfor %}
		</div>
    </div>

    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
