{% extends "base.html" %}
{% load i18n %}

{% block headtags %}
<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
<!-- <link rel="stylesheet" type="text/css" href="/media/css/offsite.css" /> -->
<link rel="stylesheet" type="text/css" href="/media/css/transfers.css" />
<!-- <script type="text/javascript" src="/media/js/offsite.js"></script> -->
<script type="text/javascript" src="/media/js/transfers.js"></script>
{% endblock %}


{% block content %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{ title }}</h2>
	</div>
    <div id="empty_content" class="block_content {% if uploads %}hidden{% endif %}">
		<center>{% trans "There is no backup being sent to the Off Site" %}</center>
	</div>
	<div id="full_content" class="block_content {% if not uploads %}hidden{% endif %}">
		<table id="overview_box">
			<tr>
				<td>{% trans "Downloaded" %}<span id="upload_done">{{upload_done|floatformat:1}}</span>{% trans "of" %} <span id="upload_total">{{upload_total|floatformat}}</span> MB (<span id="percent_done">{% widthratio upload_done upload_total 100 %}</span>%)</td>
				<td>{% trans "Current speed" %}: <span id="current_speed">{{current_speed|floatformat:1}}</span> kB/s</td>
				<td>{% trans "Estimated time:" %} <span id="eta_str">{{eta_str}}</span></td>
				<td>{% trans "Estimated end:" %} <span id="end_time_str">{{end_time_str}}</span></td>
			</tr>
		</table>
		<div id="fullbar">
			{% for upload in uploads %}
			<div id="queue_item_{{upload.id}}" onClick="set_part_focus($(this));" class="part" style="width: {{upload.block_width}}px"><div class="name_block"><span>{{upload.name}}</span></div><div class="done_part_block"><div class="done_part queue_item_{{upload.id}}" style="width: {{upload.done_percent}}%;"></div></div><div class="icon info_queue_item_{{upload.id}} {% if upload.done > 0 %} {% if upload.speed > 0%}upload_icon{% else %}stalled_icon{% endif %}{% endif %}"></div></div>
			{% endfor %}
		</div>
		<div id="marker_box">
			<div id="marker"></div>
		</div>
		<div id="upload_info_box">
			{% for upload in uploads %}
			<div class="upload_info" id="info_queue_item_{{upload.id}}" {% if forloop.first %}style="display: block;"{% endif %}>
				<table>
					<tbody>
						<tr><td>{% trans "Procedure" %}</td><td><span class="upload_name info_queue_item_{{upload.id}}">{{upload.name}}</span></td></tr>
						<tr><td>{% trans "Completed:" %}</td><td><span class="upload_done info_queue_item_{{upload.id}}">{{upload.done|floatformat:1}}</span>{% trans "of" %}<span class="upload_total info_queue_item_{{upload.id}}">{{upload.total|floatformat:1}}</span> MB (<span class="done_percent info_queue_item_{{upload.id}}">{{upload.done_percent|floatformat:1}}</span>%)</td></tr>
						<tr><td>{% trans "Current volume:" %}</td><td><span class="current_file info_queue_item_{{upload.id}}">{{upload.current_file}}</span></td></tr>
						<tr><td>{% trans "Transfer rate:" %}</td><td><span class="current_speed info_queue_item_{{upload.id}}">{{upload.speed|floatformat:1}}</span> kB/s</td></tr>
						<tr><td>{% trans "Estimated time left:" %}</td><td><span class="eta_str info_queue_item_{{upload.id}}">{{upload.eta_str}}</span></td></tr>
						<tr><td>{% trans "Added to queue at:" %}</td><td><span class="added info_queue_item_{{upload.id}}">{{upload.added}}</span></td></tr>
						<tr><td>{% trans "Start in:" %}</td><td><span class="estimate_start info_queue_item_{{upload.id}}">{{upload.estimate_start}}</span></td></tr>
						<tr><td>{% trans "Conclusion estimated time:" %}</td><td><span class="end_time_str info_queue_item_{{upload.id}}">{{upload.end_time_str}}</span></td></tr>
					</tbody>
				</table>
				<div class="progress_bar">
					<div class="done_bar info_queue_item_{{upload.id}}" style="width: {% widthratio upload.done upload.total 100 %}%"></div>
				</div>
			</div>
			{% endfor %}
		</div>
    </div>
	<!-- <button type="button" class="css3button positive big" id="submit_button" value="Atualizar">Salvar</button> -->
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
