{% extends "bkp/base.html" %}
{% block content %}

<h2>Procedimento: {{proc.procedure_name}}</h2>
<div class='bloco_texto'>
    <form action="{% url bkp.views.create_procedure_fileset proc.id %}" method="post"> 
	<h3>Adicionar Local</h3><br />

    {% for field in fsetform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}

<p><input type="submit" value="Prosseguir" /> <a href='{% url bkp.views.edit_backup proc.id %}'>Cancelar</a>
</p>

</form>
</div>

{% endblock %}