{% extends "bkp/base.html" %}
{% block content %}

<h2>Procedimento: {{proc.procedure_name}}</h2>
<div class='bloco_texto'>
    <form action="{% url bkp.views.create_procedure_fileset proc.id %}" method="post"> 
	<h3>Adicionar Local</h3><br />

    {% for field in fsetform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}

<button onclick="location.href='{% url backup_corporativo.bkp.views.view_computer comp.id %}';return false"><span>Cancelar</span></button>


<button type="submit"><span>Prosseguir</span></button>
</form>
</div>

{% endblock %}