{% extends "bkp/base.html" %}

{% block horizontal_menu %}
	{% include 'bkp/management/menu_management.html' %}
{% endblock %}

{% block content %}
<h2>Alterar Ponto de Restauração</h2><br /><br />

<div class='bloco_texto'>
    <form action="{% url bkp.views.update_headerbkp hbkp.id %}" method="POST">
    {% for field in headerbkp_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <button type="submit"><span>Atualizar</span></button>
    </form>
</div>

{% endblock %}
<a href="{% url bkp.views.list_headerbkp %}">Cancelar</a>