{% extends "bkp/base.html" %}

{% block horizontal_menu %}
	{% include 'bkp/management/menu_management.html' %}
{% endblock %}

{% block content %}
<h2>Gerenciar</h2>

<div class="titulo_botoes">
<h2>Pontos de Restauração</h2>
</div>

<div class="bloco_texto">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Criação</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for hbkp in hbkp_list %}
            <tr>
                <td>{{hbkp.headerbkp_name}}</td>
                <td>{{hbkp.created_on}}</td>
                <td><button onclick="location.href='{% url bkp.views.bkp.restore_headerbkp hbkp.id %}';return false"><span>Restaurar</span></button>
                <button onclick="location.href='{% url bkp.views.edit_headerbkp hbkp.id %}';return false"><span>Editar</span></button>
	            <button onclick="location.href='{% url bkp.views.delete_headerbkp hbkp.id %}';return false" class="red"><span>Remover</span></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

    <ul>
        <li><a href="{% url bkp.views.new_headerbkp %}">Adicionar Ponto de Restauração</a></li>
        <li><a href="{% url bkp.views.manage_strongbox %}">Cancelar</a></li>


{% endblock %}