{% extends "bkp/base.html" %}

{% block horizontal_menu %}
	{% include 'bkp/management/menu_management.html' %}
{% endblock %}

{% block content %}
<h2>Gerenciar</h2>

<div class="titulo_botoes">
<h2>Storages</h2>
</div>

<div class="bloco_texto">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ip</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for sto in sto_list %}
            <tr>
                <td>{{sto.storage_name}}</td>
                <td>{{sto.storage_ip}}</td>
                <td>{{sto.storage_description}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}