{% extends "bkp/base.html" %}

{% block horizontal_menu %}
	{% include 'bkp/management/menu_management.html' %}
{% endblock %}

{% block content %}

<div class="titulo_botoes">
    <h3>Computadores</h3>
</div>

<div class="bloco_texto">
<p>Número de computadores: <strong>{{computers.count}}/15</strong></p>
<p><a href="{% url bkp.views.list_computers %}">Gerenciar Computadores</a></p>
</div>

<div class="titulo_botoes">
    <h3>Cofre</h3>
</div>

<div class="bloco_texto">
    
{% if km.has_drive %}
    {% if km.mounted %}
        <p>Estado Atual: <strong>Aberto</strong></p>
        <p><a href="{% url bkp.views.manage_strongbox %}">Gerenciar Cofre</a> | <a href="{% url bkp.views.umount_strongbox %}">Fechar Cofre</a></p>
    {% else %}
        <p>Estado Atual: <strong>Trancado</strong></p>
        <p><a href="{% url bkp.views.manage_strongbox %}">Gerenciar Cofre</a> | <a href="{% url bkp.views.manage_strongbox %}">Abrir Cofre</a></p>
    {% endif %}
{% else %}
<p>Cofre ainda nao foi criado.</p>
{% endif %}
</div>

<div class="titulo_botoes">
    <h3>Encriptação</h3>
</div>

<div class="bloco_texto">
{% if km.mounted %}
<p>Computadores com Encriptação: <strong>{{encryption_count}}/{{computers.count}}</strong></p>
{% else %}
<p>Não é possível coletar informações.</p>
{% endif %}
<p><a href="{% url bkp.views.list_encryptions %}">Gerenciar Encriptações</a></p>
</div>


{% endblock %}

