{% extends "bkp/base.html" %}

{% block horizontal_menu %}
	{% include 'bkp/management/menu_management.html' %}
{% endblock %}

{% block content %}
<h2>Resumo</h2>

<div class="titulo_botoes">
    <h3>Computadores</h3>
</div>

<div class="bloco_texto">
<p>Número de computadores: {{ computers.count }}/15</p>
</div>

<div class="titulo_botoes">
    <h3>Cofre</h3>
</div>

<div class="bloco_texto">
{% if km.has_drive %}
<p>Estado Atual: {% if km.mounted %}Aberto{% else %}Fechado{% endif %}</p>
{% else %}
<p>Cofre ainda nao foi criado.</p>
{% endif %}
</div>

<div class="titulo_botoes">
    <h3>Encriptação</h3>
</div>

<div class="bloco_texto">
{% if km.mounted %}
<p>Computadores com Encriptação: {{encryption_count}}/{{computers.count}}</p>
{% else %}
<p>Não é possível coletar informações.</p>
{% endif %}
</div>


{% endblock %}

