{% extends "bkp/base.html" %}

{% block horizontal_menu %}
	{% include 'bkp/management/menu_management.html' %}
{% endblock %}

{% block content %}
<h2>Gerenciar</h2>

<div class="titulo_botoes">
    <h2>Atividades Frequentes</h2>
</div>

<div class="bloco_texto">
<ul>
    <li><a href="{{script_name}}/backup/new">Adicionar Computador</a></li>
    <li><a href="{{script_name}}/backup/new" title="">Adicionar Backup</a></li>
    <li>Adicionar Storage</li>
    <li><a href="{{script_name}}/restore/new" title="">Restaurar Arquivos</a></li>
    <li><a href="{{script_name}}/management/strongbox/" title="">Gerenciar Cofre</a></li>
</ul>
</div>
{% endblock %}