{% extends "bkp/base.html" %}

{% block horizontal_menu %}
	{% include 'bkp/management/menu_management.html' %}
{% endblock %}

{% block content %}
<h2>Gerenciar Cofre</h2><br /><br />

{{drive_mounted}}
<div class='bloco_texto'>

{% if drive_mounted %}
<p>Opções:</p>
<ul>
<li><a href="{% url bkp.views.umount_strongbox %}">Desmontar</a></li>
<li><a href="{% url bkp.views.changepwd_strongbox %}">Alterar Senha</a></li>
<li><a href="{% url bkp.views.list_headerbkp %}">Restauraçao</a></li>
</ul>
{% else %}

    <h3>Digite a senha para abrir o cofre.</h3><br /><br />
    <form action="{% url bkp.views.mount_strongbox %}" method="POST">
    {% for field in mountstrongbox_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <button type="submit"><span>Criar Cofre</span></button>
    </form>

{% endif %}

</div>

{% endblock %}