{% extends "bkp/base.html" %}

{% block horizontal_menu %}
	{% include 'bkp/management/menu_management.html' %}
{% endblock %}

{% block content %}
<h2>Gerenciar Cofre</h2><br /><br />

<div class='bloco_texto'>
    <h3>Você ainda não possui um cofre. Digite a senha para criá-lo</h3><br /><br />
    <form action="{{script_name}}/management/strongbox/create" method="post">
    {% for field in newstrongbox_form %}
        <div class="fieldWrapper">
            {# alterar ordem dos campos #}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <button type="submit"><span>Criar Cofre</span></button>
    </form>
</div>

{% endblock %}