{% extends "bkp/base.html" %}

{% block horizontal_menu %}
	{% include 'bkp/management/menu_management.html' %}
{% endblock %}

{% block content %}
<h2>Nova Encriptação</h2><br /><br />

<div class='bloco_texto'>

    <form action="{% url bkp.views.create_encryption %}" method="post">
        {% if mountform %}
        <h3>Seu cofre encontra-se fechado. Digite a senha para abrí-lo</h3> <br/ ><br />
        {% for field in mountform %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}        
        {% endif %}
        <h3>Escolha para qual computador deseja gerar Encriptação</h3> <br/ ><br />
        {% for field in encform %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
    <br />
    <button type="submit"><span>Adicionar</span></button>
    <a href="{% url bkp.views.list_encryptions %}">Cancelar</a>
    </form>
    
</div>

{% endblock %}