{% extends "bkp/base.html" %}

{% block horizontal_menu %}
	{% include 'bkp/management/menu_management.html' %}
{% endblock %}

{% block content %}
<h2>Voltar para Ponto de Restauração '{{hbkp.headerbkp_name}}'</h2><br /><br />

<div class='bloco_texto'>
    <form action="{{script_name}}/strongbox/headerbkp/{{hbkp.id}}/restore" method="post">
    {% for field in restorehbkp_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <button type="submit"><span>Restaurar</span></button>
    </form>
</div>

{% endblock %}