{% extends "base.html" %}

{% block headtags %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.toggle').click(function(){
            var target = $(this).attr('ref');
            $(this).parent().parent().find('.' + target).slideToggle();
            return false;
        });
    });
</script>
{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">
        <div class="block_chart">
            <h3>Uso de memória</h3>            
            <div class="chart"><span class="sparklines">1,26,31,14,25,49,52,26,10</span></div>
            <div class="chart_description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur gravida lorem vitae sapien hendrerit semper. Curabitur sit amet lectus elit. Curabitur massa velit, laoreet imperdiet laoreet sit amet, convallis vitae dui. Aenean consectetur posuere porttitor. Cras orci tortor, scelerisque et molestie a,
            </div>
        </div>
        <div class="clear"></div>
        <div class="block_progressbar">
            <h3>Uso de CPU</h3>
            <div class="progressbar"><div style="width: 58%"></div></div>
            <div class="chart_description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur gravida lorem vitae sapien hendrerit semper. Curabitur sit amet lectus elit. Curabitur massa velit, laoreet imperdiet laoreet sit amet, convallis vitae dui. Aenean consectetur posuere porttitor. Cras orci tortor, scelerisque et molestie a.
                <p></p>
            </div>
        </div>
    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
