{% extends "base.html" %}

{% block headtags %}{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">
    
        <h1>Iniciando o procedimento de cópia de segurança</h1>
        <p>Clique no botão prosseguir para iniciar a cópia de segurança do sistema.</p>
        
        <form action="{% url nimbus.system.views.select_storage %}" method="post">
            <p>
                <button type="submit" class="css3button big positive" value="Prosseguir">Prosseguir</button>
            </p>
        </form>
    
        <p></p>
    </div>
    <div class="bendl"></div>
	<div class="bendr"></div>
    
</div>

{% endblock %}