.submit.tiny {
    font-size: 11px;
    padding: 2px;
    width: 200px;
}
.clear{clear: both; float: none; display: block;}

#slider{
	width: 300px; float: left; margin-right: 20px;
}

.procedure {
    padding: 20px; -moz-border-radius: 5px; background: #EEE; margin-bottom: 20px;
}

.procedure .left {
    float: left; width: 250px;
}

.procedure .right {
    float: right; width: 600px;
}

.procedure .title img {
    float: left; height: 32px; padding-right: 10px;
}

.procedure .name {
    margin: 0 0 -5px 0; padding: 0;
}

.procedure .options {
    font-size: 10px; margin: 0px; padding: 0; line-height: 1.4em;
}

.procedure.desativado {
    background: #FFE5EB !important;
    border: 2px solid #e7696d;
    -moz-border-radius: 5px;
}

.procedure .submit.tiny {
    float: right;
}

.procedure-config {
    background: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #CCC;
    padding: 10px;
}

.profile {
    padding: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #EEE;
    margin-bottom: 20px;
}

.profile .left {
    float: left;
    width: 250px;
}

.profile .right {
    float: right;
    width: 600px;
}

.profile img {
    float: left;
    height: 32px;
    padding-right: 10px;
}

.profile .options {
    font-size: 10px;
    line-height: 1.4em;
}

.profile-config {
    background: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    border: 1px solid #CCC;
}

/* button basics */
a.minibutton {
	display:inline-block;
	height:23px;
	padding:0 0 0 3px;
	font-size:11px;
	font-weight:bold;
	color:#333;
	text-shadow:1px 1px 0 #fff; 
	background:url(http://github.com/images/modules/buttons/minibutton_matrix.png) 0 0 no-repeat;
	white-space:nowrap;
	border:none;
	overflow:visible;
	cursor:pointer;
	text-decoration:none;
}

a.minibutton>span {
	display:block;
	height:23px;
	padding:0 10px 0 8px;
	line-height:23px;
	background:url(http://github.com/images/modules/buttons/minibutton_matrix.png) 100% 0 no-repeat;
}

a.minibutton:hover, a.minibutton:focus {
	color:#fff;
	text-decoration:none;
	text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
	background-position:0 -30px;
}
a.minibutton:hover>span, a.minibutton:focus>span {background-position:100% -30px;}

a.minibutton.mousedown{background-position:0 -60px; }
a.minibutton.mousedown>span{background-position:100% -60px; }

/* with icon */
a.btn-download .icon {
	float:left;
	margin-left:-4px;
	width:18px;
	height:22px;
	background:url(http://github.com/images/modules/buttons/minibutton_icons.png?v20100306) 0 0 no-repeat;
}
a.btn-download .icon {background-position:-40px 0;}
a.btn-download:hover .icon, a.btn-download:focus .icon {background-position:-40px -25px;}





























