{% extends "bkp/base.html" %}

{% block horizontal_menu %}
	{% include 'bkp/system/menu_system.html' %}
{% endblock %}

{% block content %}

<br />
<h2> Alterar Interface de Rede </h2>
<br /><br />

<form action="{% url bkp.views.update_system_network %}" method="POST">
    {% for field in netform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Salvar" /></p>
</form>

<br />

{% endblock %}
