{% extends "bkp/base.html" %}

{% block horizontal_menu %}
	{% include 'bkp/system/menu_system.html' %}
{% endblock %}

{% block content %}

<h2> Configuraçao do Backup Offsite </h2>

<form action="{% url bkp.views.enable_system_offsite %}" method="POST">
     {% for field in offsiteform %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <div class="fieldWrapper">
    <p><input type="submit" value="Salvar" /></p>
    </div>
</form>


<br />

{% endblock %}
