{% extends "bkp/base.html" %}
{% load bkp_extras %}

{% block horizontal_menu %}
	{% include 'bkp/system/menu_system.html' %}
{% endblock %}


{% block content %}
<br />
<h2>Configurações</h2>
<br /><br />

    <form action="{% url bkp.views.update_system_config %}" method="POST">
        {% for field in gconfigform %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <p><input type="submit" value="Salvar" /></p>
    </form>

{% endblock %}