{% extends "bkp/base.html" %}
{% load bkp_extras %}

{% block horizontal_menu %}
	{% include 'bkp/system/menu_system.html' %}
{% endblock %}


{% block content %}
<br />
<div class="titulo_botoes">
<h3>Configurações Gerais</h3>
</div>
<div class="bloco_texto">
<br /><br />
{% include 'bkp/system/show_globalconfig.html' %}
<p><a href="{% url bkp.views.edit_system_config %}">Alterar Configuração</a></p>
</div>

<div class="titulo_botoes">
<h3>Configurações de Rede</h3>
</div>
<div class="bloco_texto">
<br /><br />
{% include 'bkp/system/show_networkinterface.html' %}
<p><a href="{% url bkp.views.manage_system_network %}">Gerenciar Rede</a></p>
</div>


<div class="titulo_botoes">
<h3>Configurações de Hora</h3>
</div>
<div class="bloco_texto">
<br /><br />
<p>País: <strong>{{tzconfig.tz_country}}</strong></p>
<p>Área: <strong>{{tzconfig.tz_area}}</strong></p>
<p><a href="{% url bkp.views.manage_system_time %}">Gerenciar Hora</a></p>
</div>

{% endblock %}