<p>Nome da Interface: <strong>{{iface.interface_name}}</strong></p>
<p>Endereço IP: <strong>{{iface.interface_address}}</strong></p>
<p>Máscara: <strong>{{iface.interface_netmask}}</strong></p>
<p>Gateway Padrão: <strong>{{iface.interface_gateway}}</strong></p>
<p>Broadcast: <strong>{{iface.interface_broadcast}}</strong></p>
<p>Network: <strong>{{iface.interface_network}}</strong></p>
<p>Servidor DNS 1: <strong>{{iface.interface_dns1}}</strong></p>
<p>Servidor DNS 2: <strong>{{iface.interface_dns2}}</strong></p>
