{% extends "bkp/base.html" %}
{% load bkp_extras %}

{% block horizontal_menu %}
	{% include 'bkp/stats/menu_statistics.html' %}
{% endblock %}

{% block content %}

<br />
<div class="titulo_botoes">
<h3>Estatística por Computador</h3>
</div>
<div class="bloco_texto">
{% block stats_computers %}
{% if computers.count %}
<h3>Computadores</h3>
<br />
<ul class="aux list_computers">
	{% for c,has_img in data %}
	<li
        {% if comp %}
        {% ifequal comp.id c.id %}
            class="active"
        {% endifequal %}
        {% endif %}
    >
        <a href="{% url bkp.views.view_computer c.id %}">{{ c.computer_name }}</a></li>
        {% if has_img %}
            <img src="{{ imagens_url }}{{ c.computer_bacula_name }}.png" alt="{{ c.computer_name }}">
        {% else %}
            <img src="{{ default_img  }}" alt="{{ c.computer_name }}">
        {% endif %}
            
	{% endfor %}
</ul>
{% endif %}
{% endblock %}
</div>
</div>

{% endblock %}
