{% extends "templates/bkp/base.html" %}
{% block content %}

    <div class="titulo_botoes">
        <img class="ico_secao" src="{{script_name}}/static/imagens/ico_big_comp.gif" />
	    <h2>
	        <span>Storage</span><br/>
	        {{ sto.storage_name }} <span class="toogle_pequeno"><a href="{{script_name}}/{{sto.view_url}}">(voltar)</a></span>
	        
	    </h2>
    </div>
<div class="titulo_botoes">
    <h3>bacula-sd.conf</h3>
    <div class="botao_acoes">
         <form action="{{script_name}}/{{sto.storage_dump_config_url}}" method="POST"><button type="submit"><span>baixar</span></form>
    </div>
</div>
<div class="bloco_texto">
{% for line in storage_config %}
{{ line }}<br />
{% endfor %}
</div>

{% endblock %}