{% extends "bkp/base.html" %}

{% block content %}

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ip</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for sto in sto_list %}
            <tr>
                <td>{{sto.storage_name}}</td>
                <td>{{sto.storage_ip}}</td>
                <td>{{sto.storage_description}}</td>
                <td><button onclick="location.href='{{script_name}}/{{sto.edit_url}}';return false"><span>Editar</span></button>
	            <button onclick="location.href='{{script_name}}/{{sto.delete_url}}';return false" class="red"><span>Remover</span></button></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}