{% extends "bkp/base.html" %}

{% block content %}

<h2>Gerenciar</h2>
<ul>
<li><a href="{{script_name}}/management/">Principal</a></li>
<li><a href="{{script_name}}/management/computers/list">Computadores</a></li>
<li>Backups</li>
<li><a href="{{script_name}}/management/storages/list">Storages</a></li>
</ul>
<br />

<div class="titulo_botoes">
<h2>Storages</h2>
</div>

<div class="bloco_texto">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ip</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for sto in sto_list %}
            <tr>
                <td>{{sto.storage_name}}</td>
                <td>{{sto.storage_ip}}</td>
                <td>{{sto.storage_description}}</td>
                <td><button onclick="location.href='{{script_name}}/{{sto.edit_url}}';return false"><span>Editar</span></button>
	            <button onclick="location.href='{{script_name}}/{{sto.delete_url}}';return false" class="red"><span>Remover</span></button></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}