{% extends "bkp/base.html" %}

{% block content %}

<h2>Gerenciar</h2>
<ul>
<li><a href="{{script_name}}/management/">Principal</a></li>
<li><a href="{{script_name}}/management/computers/list">Computadores</a></li>
<li>Backups</li>
<li><a href="{{script_name}}/management/storages/list">Storages</a></li>
</ul>
<br />

<div class="titulo_botoes">
    <h2>Atividades Frequentes</h2>
</div>

<div class="bloco_texto">
<ul>
    <li><a href="{{script_name}}/backup/new">Adicionar Computador</a></li>
    <li><a href="{{script_name}}/backup/new" title="">Adicionar Backup</a></li>
    <li>Adicionar Storage</li>
    <li><a href="{{script_name}}/restore/new" title="">Restaurar Arquivos</a></li>
</ul>
</div>
{% endblock %}