* {
margin:0;
padding:0;
}

body {
font-size: 13px;
font-family: Arial, Verdana, Tahoma, sans-serif;
}

p {
line-height: 1.3em;
margin-bottom: 1em;
}

ul {
margin: 5px 0 5px 20px;
}

ul.aux {
margin: 0;
list-style: none;
clear: both;
}

table {
margin-bottom: 20px;
}

#site {
width: 960px;
margin: 0 auto;
}


/* MENU */


#topo {
background:transparent url(/static/imagens/logo_linconet.gif) no-repeat scroll left center;
height:100px;
margin-top:35px;
padding:0;
}

#topo h1 {
background:transparent url(/static/imagens/logo_linconet_nome.gif) no-repeat scroll left center;
height:36px;
margin:18px 0 0 120px;
overflow:hidden;
padding:0;
text-indent:-9999em;
width:321px;
}

#topo h1 a {
display:block;
height:36px;
width:321px;
}

#topo .menu {
margin:5px 0 0 120px;
}

#topo .menu ul {
background:transparent url(/static/imagens/bg_menu.gif) no-repeat scroll left top;
height:37px;
margin:0;
overflow:hidden;
padding:0 0 0 5px;
width:815px;
}

#topo .menu ul li {
display:inline;
float:left;
padding:0;
}

#topo .menu ul li a {
color:#4B5555;
display:block;
font-size:12px;
padding:13px 9px;
text-decoration:none;
}

#topo .menu ul li a:hover,
#topo .menu ul li.active a {
background:transparent url(/static/imagens/bg_menu_selected.gif) repeat-x scroll left top;
color:#D4D6D6;
text-decoration:none;
}



/* CONTEUDO */

#conteudo {
width: 960px;
overflow: hidden;
}

#sidebar {
width: 200px;
float: left;
padding: 10px;
background: #F9FBFB;
border: 1px solid #ECECEC;
border-top-width: 3px;
border-bottom-width: 2px;
}

#main_content {
float: right;
width: 700px;
padding: 10px;
background: #F9FBFB;
border: 1px solid #ECECEC;
border-top-width: 3px;
border-bottom-width: 2px;
}

hr {
padding-bottom: 20px;
border: 0;
}

#mensagens p {
background: #1E92A2;
color: #FFF;
padding: 10px;
font-weight: bold;
}

.titulo_botoes {
width: 100%;
overflow: hidden;
margin-bottom: 10px;
}

.titulo_botoes h2 {
font-size: 26px;
color: #363d3d;
float: left;
letter-spacing: -0.05em;
}

.titulo_botoes h2 span,
.titulo_botoes h3 {
font-size: 14px;
font-weight: normal;
color: #939393;
letter-spacing: 0em;
}

.titulo_botoes h3 {
padding-top: 10px;
float: left;
margin: 0;
}

.titulo_botoes .botao_acoes {
float: right;
}

.bloco_texto {
padding: 10px;
background: #F1F4F4;
border: 1px solid #dadddd;
margin-bottom: 20px;
}

.bloco_texto ul li {
padding-bottom: 7px;
width: 100%;
overflow: hidden;
}

.bloco_texto ul li .label {
display: block;
float: left;
width: 200px;
}

.bloco_texto ul li .value {
float: left;
}

.bloco_texto .titulo_topo {
width: 100%;
float: left;
overflow: hidden;
}

.bloco_texto .titulo_topo h3 {
float: left;
font-size: 16px;
letter-spacing: -0.03em;
color: #333;
}

.bloco_texto .titulo_topo .botao_acoes {
float: right;
}


.fieldWrapper {
padding: 5px;
border-bottom: 1px solid #eee;
width: 710px;
overflow: hidden
}

.fieldWrapper label {
display: block;
float: left;
width: 100px;
padding-right: 10px;
line-height: 2em;
}

.errorlist {
padding: 7px 10px;
background: #A22;
list-style: none;
margin-bottom: 10px;
}

.errorlist li {
color: #FFF;
}

#rodape {
background: #EEE;
padding: 10px;
margin-top: 20px;
color: #999;
}



