* {
margin:0;
padding:0;
}

body {
font-size: 12px;
font-family: Arial, sans-serif;
}

#site {
width: 960px;
margin: 0 auto;
}

#conteudo {
width: 960px;
overflow: hidden;
}

#sidebar {
width: 220px;
float: left;
}

#main_content {
float: right;
width: 720px;
}

hr {
padding-bottom: 20px;
border: 0;
}

h2 {
margin-bottom: 20px;
color: #333;
}

h3 {
margin-bottom: 10px;
color: #1E92A2;
}

.fieldWrapper {
padding: 5px;
border-bottom: 1px solid #eee;
width: 710px;
overflow: hidden
}

.fieldWrapper label {
display: block;
float: left;
width: 100px;
padding-right: 10px;
line-height: 2em;
}

.errorlist {
padding: 7px 10px;
background: #A22;
list-style: none;
margin-bottom: 10px;
}

.errorlist li {
color: #FFF;
}
