{% extends "bkp/base_wizard.html" %}
{% load bkp_extras %}

{% block horizontal_menu %}
	{% include 'bkp/wizard/obe/menu_wizard.html' %}
{% endblock %}

{% block content %}

<br />
<h1>Configurações do Cofre</h1>
<br />
    <form action="{% url bkp.views.update_wizard_strongbox %}" method="POST">
    {% for field in sbox_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
	<br />
        <a href="../timezone/edit" > <button type="button"> <span>Voltar</span> </button> </a>
		<button type="submit"> <span>Avançar</span> </button>
    </form>


{% endblock %}
