{% load bkp_extras %}
{% if not file_tree|isinstanceofdict %}<ul>{% endif %}
{% for item in file_tree %}
    {% if item|isinstanceofdict %}
        {% with "templates/bkp/tmp/new_tmp_restore_tree.html" as filename %}
        {% with item as file_tree %}
            {% include filename %}
        {% endwith %}
        {% endwith %}
    {% else %}
        {% if item|isdir %}
            <li><input type="checkbox" name="dir" rel="tree_select_input" id="tree_select_" value="{{ item }}" /> <span class="folder">{{ item }}</span>
            {% with "templates/bkp/tmp/new_tmp_restore_tree.html" as filename %}
            {% with file_tree|get_value:item as file_tree %}
                {% include filename %}
            {% endwith %}
            {% endwith %}</li>
        {% else %}
            <li><input type="checkbox" class="tree_child_select_input" rel="tree_select_" name="file" value="{{ item|getfilename }}" /> <span class="file">{{ item|getfilename }}</span></li>
        {% endif %}
    {% endif %}
{% endfor %}
{% if not file_tree|isinstanceofdict %}</ul>{% endif %}
