{% extends "base_async.html" %}
{% block headtags %}
    
<link rel="stylesheet" type="text/css" href="/media/css/schedules.css" />
<link rel="stylesheet" type="text/css" href="/media/lib/css/style.css" />
<script type="text/javascript" src="/media/js/backup.js"></script>
<script type="text/javascript" src="/media/js/schedules.js"></script>
{% endblock %}

{% block page %}
<!-- TODO: Prever um agendamento já definido. -->
<div class="block withsidebar" id="schedule" style="margin: 0;">
    {% if messages %}
        {% for msg in messages %}
        <div class="message info">
            <p>{{ msg }}</p>
        </div>
        {% endfor %}
    {% endif %}
    <div class="block_head">
        <div class="bheadl"></div>
        <div class="bheadr"></div>

        <h2>{{ title }}</h2>
    </div>		<!-- .block_head ends -->
    <div class="block_content">
        <form name="schedule_new" action="/schedules/add/" method="post" id="schedule_new">
        <div id="error-box">
            {% if errors.schedule_name %}
            <ul class="errorlist">
                <li>{{ errors.schedule_name }}</li>
            </ul>
            {% endif %}
            {% if errors.schedule_day %}
            <ul class="errorlist">
                <li>{{ errors.schedule_day }}</li>
            </ul>
            {% endif %}
            {% if errors.schedule_hour %}
            <ul class="errorlist">
                <li>{{ errors.schedule_hour }}</li>
            </ul>
            {% endif %}
            {% for form in forms %}
            {{ form.non_field_errors }}
            <label>{{ form.name.label }}:</label> {{ form.name }}
            {% endfor %}
        </div>

        <div class="sidebar">
            <ul class="sidemenu">
                <li><a href="#mensal" class="monthly active">Mensal</a></li>
                <li><a href="#semanal" class="weekly">Semanal</a></li>
                <li><a href="#diario" class="dayly">Diário</a></li>
                <li><a href="#minuto" class="hourly">Minuto</a></li>
            </ul>
            <p>Agende a execução deste backup, é possível ativar mais de um agendamento.</p>
        </div>		<!-- .sidebar ends -->
        <div class="sidebar_content" id="mensal">
            <p>
                <input type="checkbox" name="schedule.monthly.active" class="schedule_activate" id="monthly" value="1" {% if schedule_monthly_active %}checked="checked"{% endif %} /> <label for="monthly">Ativar</label>
            </p>
            <div class="personal_message"><p>Executa o backup em determinados dias do mês, sempre no horário especificado.</p></div>
            <p>
                <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr><th colspan="5">Dias do Mês</th></tr><tr>
                {% for day in days %}

                <td><label for="day_{{day}}">
                <input type="checkbox" id="day_{{day}}" name="schedule.monthly.day" value="{{day}}" {% if day in schedule_monthly_day %}checked="checked"{% endif %} />
                {{day}}º</label></td>
                    {% if day in end_days %}</tr><tr>{% endif %}
                {% endfor %}
                    <td colspan="5">&nbsp;</td></tr>
                </tbody>
                </table>
            </p>
            <p>
                <label>{{ formset.month.hour.label }}</label>
                {{ formset.month.hour }}<br/>
                <small>Exemplo: 10:20, 21:35 ou 07:08.</small>
            </p>
            <p>
                <label>{{ formset.month.level.label }}:</label>
                {{ formset.month.level }}<br />
                <small>No backup full é feita uma cópia completa de todos os arquivos "marcados" para backup. No incremental é feita uma cópia apenas das modificações. É importamente sempre manter uma política mista de backups.</small>
            </p>
            <p>
                <input type="button" class="use_it submit" value="Usar" /><input type="button" class="use_and_save_it submit" value="Salvar como modelo" />
            </p>
        </div>		<!-- .sidebar_content ends -->

        <div class="sidebar_content" id="semanal">
            <p>
                <input type="checkbox" name="week.active" class="schedule_activate" id="weekly" value="1" {% if schedule_weekly_active %}checked="checked"{% endif %} /> <label for="weekly">Ativar</label>
            </p>
            <div class="personal_message"><p>Executa o backup em determinados dias da semana, sempre no horário especificado.</p></div>
            <p>
                <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr><th colspan="5">Dias da Semana</th></tr><tr>
                {% for key,vlw in weekdays.items %}

                <td><label for="day_{{day}}">
                <input type="checkbox" id="day_{{key}}" name="schedule.weekly.day" value="{{key}}" {% if key in schedule_weekly_day %}checked="checked"{% endif %} />
                {{vlw}}</label></td>
                    </tr><tr>
                {% endfor %}
                    <td colspan="5">&nbsp;</td></tr>
                </tbody>
                </table>
            </p>
            <p>
                <label>{{ formset.week.hour.label }}:</label>
                {{ formset.week.hour }}<br />
                <small>Exemplo: 10:20, 21:35 ou 07:08.</small>
            </p>
            <p>
                <label>{{ formset.week.level.label }}:</label>
                {{ formset.week.level }}<br />
                <small>No backup full é feita uma cópia completa de todos os arquivos "marcados" para backup. No incremental é feita uma cópia apenas das modificações. É importamente sempre manter uma política mista de backups.</small>
            </p>
            <p>
                <input type="button" class="use_it submit" value="Usar" /><input type="button" class="use_and_save_it submit" value="Salvar como modelo" />
            </p>
        </div>		<!-- .sidebar_content ends -->

        <div class="sidebar_content" id="diario">
            <p>
                <input type="checkbox" name="schedule.dayly.active" class="schedule_activate" id="dayly" value="1" {% if schedule_dayly_active %}checked="checked"{% endif %} /> <label for="dayly">Ativar</label>
            </p>
            <div class="personal_message"><p>Executa o backup todos os dias, sempre no horário especificado.</p></div>
            <p>
                <label>{{ formset.day.hour.label }}:</label>
                {{ formset.day.hour }}<br />
                <small>Exemplo: 10:20, 21:35 ou 07:08.</small>
            </p>
            <p>
                <label>{{ formset.day.level.label }}:</label>
                {{ formset.day.level }}<br />
                <small>No backup full é feita uma cópia completa de todos os arquivos "marcados" para backup. No incremental é feita uma cópia apenas das modificações. É importamente sempre manter uma política mista de backups.</small>
            </p>
            <p>
                <input type="button" class="use_it submit" value="Usar" /><input type="button" class="use_and_save_it submit" value="Salvar como modelo" />
            </p>
        </div>		<!-- .sidebar_content ends -->

        <div class="sidebar_content" id="minuto">
            <p>
                <input type="checkbox" name="schedule.hourly.active" class="schedule_activate" id="hourly" value="1" {% if schedule_hourly_active %}checked="checked"{% endif %} /> <label for="hourly">Ativar</label>
            </p>
            <div class="personal_message"><p>Executa o backup todas as horas do dia, sempre no minuto especificado.</p></div>
            <p>
                <label>{{ formset.hour.minute.label }}:</label>
                {{ formset.hour.minute }}<br />
                <small>Exemplo: 20, 35 ou 08.</small>
            </p>
            <p>
                <label>{{ formset.hour.level.label }}:</label>
                {{ formset.hour.level }}<br />
                <small>No backup full é feita uma cópia completa de todos os arquivos "marcados" para backup. No incremental é feita uma cópia apenas das modificações. É importamente sempre manter uma política mista de backups.</small>
            </p>
            <p>
                <input type="button" class="use_it submit" value="Usar" /><input type="button" class="use_and_save_it submit" value="Salvar como modelo" />
            </p>
        </div>
        </form>
    </div>		<!-- .block_content ends -->


    <div class="bendl"></div>
    <div class="bendr"></div>

</div>		<!-- .block .schedule ends -->
{% endblock %}
