{% extends "base.html" %}

{% block headtags %}
<link rel="stylesheet" type="text/css" href="/media/css/schedules.css" />
<script type="text/javascript" src="/media/js/schedules.js"></script>
{% endblock %}

{% block page %}

    <div class="block withsidebar" id="schedule">
    	<div class="block_head">
    		<div class="bheadl"></div>
    		<div class="bheadr"></div>
			<h2>Editar agendamento</h2>
    	</div>

    	<div class="block_content">
            <form action="" method="post">
			<div id="error-box">
                {% if errors.schedule_name %}
                <ul class="errorlist">
                    <li>{{ errors.schedule_name }}</li>
                </ul>
                {% endif %}
                {% if errors.schedule_day %}
                <ul class="errorlist">
                    <li>{{ errors.schedule_day }}</li>
                </ul>
                {% endif %}
                {% if errors.schedule_hour %}
                <ul class="errorlist">
                    <li>{{ errors.schedule_hour }}</li>
                </ul>
                {% endif %}

				<label>Nome do agendamento:</label>
				<input type="text" class="text small" name="schedule.name" value="{{schedule_name}}" />
    	    </div>

    		<div class="sidebar">
    			<ul class="sidemenu">
    				<li><a href="#mensal" class="monthly active">Mensal</a></li>
    				<li><a href="#semanal" class="weekly">Semanal</a></li>
    				<li><a href="#diario" class="dayly">Diário</a></li>
    				<li><a href="#minuto" class="hourly">Minuto</a></li>
    			</ul>

                <p>Agende a execução deste backup, é possível ativar mais de um agendamento.</p>
    		</div>
    
    		<div class="sidebar_content" id="mensal">
    		    <p>
                    <input type="checkbox" name="schedule.monthly.active" class="schedule_activate" id="monthly" value="1" {% if schedule_monthly_active %}checked="checked"{% endif %} /> <label for="monthly">Ativar</label>
                </p>
                <div class="personal_message"><p>Executa o backup em determinados dias do mês, sempre no horário especificado.</p></div>
                <p>
                    <label>Dias do mês:</label><br/>
                    {% for day in days %}
                    <span class="dia">
                        <input type="checkbox" id="day_{{day}}" name="schedule.monthly.day" value="{{day}}" {% if day in schedule_monthly_day %}checked="checked"{% endif %} />
                        <label for="day_{{day}}">{{day}}º</label>
                    </span>
                    {% endfor %}
                </p>
                <p>
                    <label for="mothly_hour">Hora:</label><br/>
                    <input type="text" name="schedule.monthly.hour" id="mothly_hour" class="text small mascara_hora" value="{{schedule_monthly_hour}}" /><br/>
                    <small>Exemplo: 10:20, 21:35 ou 07:08.</small>
                </p>
                <p>
                    <label for="level_id">Tipo de backup:</label><br/>
                    <select class="styled" id="level_id" name="schedule.monthly.level">
                        {% for level in levels %}
                        <option value="{{level}}" {% if schedule_monthly_level == level %}selected="selected"{% endif %}>{{level}}</option>
                        {% endfor %}
                    </select><br/>
                    <small>No backup full é feita uma cópia completa de todos os arquivos "marcados" para backup. No incremental é feita uma cópia apenas das modificações. É importamente sempre manter uma política mista de backups.</small>
                </p>
                <p>
                    <input type="submit" class="submit" value="Editar" />
                </p>
    		</div>
    
    		<div class="sidebar_content" id="semanal">
    		    <p>
                    <input type="checkbox" name="schedule.weekly.active" class="schedule_activate" id="weekly" value="1" {% if schedule_weekly_active %}checked="checked"{% endif %} /> <label for="weekly">Ativar</label>
                </p>
                <div class="personal_message"><p>Executa o backup em determinados dias da semana, sempre no horário especificado.</p></div>
                <p>
                    <label>Dias da semana:</label><br/>
                    {% for day in weekdays %}
                    <input type="checkbox" id="day_{{day}}" name="schedule.weekly.day" value="{{day}}"  {% if day in schedule_weekly_day %}checked="checked"{% endif %} />
                    <label for="day_{{day}}">{{day|title}}</label>
                    {% endfor %}
                </p>
                <p>
                    <label for="mothly_hour">Hora:</label><br/>
                    <input type="text" name="schedule.weekly.hour" id="mothly_hour" class="text small mascara_hora" maxlength="5" value="{{schedule_weekly_hour}}" /><br/>
                    <small>Exemplo: 10:20, 21:35 ou 07:08.</small>
                </p>
                <p>
                    <label for="level_id">Tipo de backup:</label><br/>
                    <select class="styled" id="level_id" name="schedule.weekly.level">
                        {% for level in levels %}
                        <option value="{{level}}" {% if schedule_weekly_level == level %}selected="selected"{% endif %}>{{level}}</option>
                        {% endfor %}
                    </select>
                    <small>No backup full é feita uma cópia completa de todos os arquivos "marcados" para backup. No incremental é feita uma cópia apenas das modificações. É importamente sempre manter uma política mista de backups.</small>
                </p>
                <p>
                    <input type="submit" class="submit" value="Editar" />
                </p>
    		</div>
    
    		<div class="sidebar_content" id="diario">
    		    <p>
                    <input type="checkbox" name="schedule.dayly.active" class="schedule_activate" id="dayly" value="1" {% if schedule_dayly_active %}checked="checked"{% endif %} /> <label for="dayly">Ativar</label><br/>
                </p>
                <div class="personal_message"><p>Executa o backup todos os dias, sempre no horário especificado.</p></div>
                <p>
                    <label for="dayly_hour">Hora:</label><br/>
                    <input type="text" name="schedule.dayly.hour" id="dayly_hour" class="text small mascara_hora" maxlength="5" value="{{schedule_dayly_hour}}" /><br/>
                    <small>Exemplo: 10:20, 21:35 ou 07:08.</small>
                </p>
                <p>
                    <label for="level_id">Tipo de backup:</label><br/>
                    <select class="styled" id="level_id" name="schedule.dayly.level">
                        {% for level in levels %}
                        <option value="{{level}}" {% if schedule_dayly_level == level %}selected="selected"{% endif %}>{{level}}</option>
                        {% endfor %}
                    </select>
                    <small>No backup full é feita uma cópia completa de todos os arquivos "marcados" para backup. No incremental é feita uma cópia apenas das modificações. É importamente sempre manter uma política mista de backups.</small>
                </p>
                <p>
                    <input type="submit" class="submit" value="Editar" />
                </p>
    		</div>
    
            <div class="sidebar_content" id="minuto">
                <p>
                    <input type="checkbox" name="schedule.hourly.active" class="schedule_activate" id="hourly" value="1" {% if schedule_hourly_active %}checked="checked"{% endif %} /> <label for="hourly">Ativar</label>
                </p>
                <div class="personal_message"><p>Executa o backup todas as horas do dia, sempre no minuto especificado.</p></div>
                <p>
                    <label for="hourly_hour">Minuto:</label><br/>
                    <input type="text" name="schedule.hourly.hour" id="hourly_hour" class="text small mascara_minuto" maxlength="2" value="{{schedule_hourly_hour}}" /><br/>
                    <small>Exemplo: 20, 35 ou 08.</small>
                </p>
                <p>
                    <label for="level_id">Tipo de backup:</label><br/>
                    <select class="styled" id="level_id" name="schedule.hourly.level">
                        {% for level in levels %}
                        <option value="{{level}}" {% if schedule_hourly_level == level %}selected="selected"{% endif %}>{{level}}</option>
                        {% endfor %}
                    </select>
                    <small>No backup full é feita uma cópia completa de todos os arquivos "marcados" para backup. No incremental é feita uma cópia apenas das modificações. É importamente sempre manter uma política mista de backups.</small>
                </p>
                <p>
                    <input type="submit" class="submit" value="Editar" />
                </p>
            </div>
            </form>
    	</div>

    	<div class="bendl"></div>
    	<div class="bendr"></div>

    </div>

{% endblock %}