{% extends "bkp/base.html" %}
{% block content %}

{% include "bkp/wizard/wizard_computermenu_partial.html" %}

<div class="bloco_texto">
<form action="{% url bkp.views.create_computer_backup comp.id %}" method="post">
    {% include "bkp/wizard/wizard_auxiliar_partial.html" %}
    <h3>Escolha um Nome para o Backup</h3>
        <div class="fieldWrapper">
            {{ procform.procedure_name.errors }}
            {{ procform.procedure_name.label_tag }} {{ procform.procedure_name }}
        </div>
    <br /><br />
	<h3>Deseja fazer Backup de Quais Pastas?</h3><br />
    {% for field in fsetform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
	<br /><br />	
	<h3>Onde serão armazenados os Backups?</h3><br />
        <div class="fieldWrapper">
            {{ procform.storage.errors }}
            {{ procform.storage.label_tag }} {{ procform.storage }}
        </div>
	<br /><br />
    <h3>Nimbus Cloud Backup</h3>
        <div class="fieldWrapper">
            {{ procform.offsite_on.errors }}
            <span class="inline-list">{{ procform.offsite_on.label_tag }} {{ procform.offsite_on }}</span>
        </div>
    <br /><br />    
<button onclick="location.href='{% url bkp.views.view_computer comp.id %}';return false"><span>Cancelar</span></button>

	
<button type="submit"><span>Prosseguir</span></button>
</form>
</div>
{% endblock %}
