{% extends "bkp/base.html" %}

{% block content %}

{% include "bkp/wizard/wizard_computermenu_partial.html" %}

<div class='bloco_texto'>

<form action="{% url bkp.views.create_computer %}" method="post">
{% if not mounted %}
    <h2>Seu cofre está desmontado, digite sua senha para monta-lo.</h2><br /><br />
    {% for field in mountform %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
{% endif %}

    <br /><br /><h2>Adicionar Computador</h2>

<br />
<br />

{% include "bkp/wizard/wizard_auxiliar_partial.html" %}
{% include "bkp/computer/computer_partial.html" %}


<button type="submit"><span>Prosseguir</span></button>
</form>
</div>

{% endblock %}