{% extends "bkp/base.html" %}
{% load bkp_extras %}
{% block headtags %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('button.popup').toggle(
                function() {
                    _id = '#' + $(this).attr('rel');
                    css_options = {'position': 'absolute', 'float': 'none',
                                   'top': $(this).offset().top + $(this).height(),
                                   'left':  $(this).offset().left - 200 + $(this).width(),
                                   'width': 180, '-moz-border-radius': '7px'};
                    $(_id).show().css(css_options);
                    $(_id).addClass('popup_opened');
                },
                function() {
                    $('#' + $(this).attr('rel')).hide();
                    $(_id).removeClass('popup_opened');
                }
            );
        });
    </script>
    <style type="text/css">
        .popup_opened {
            background: #F1F1F4;
            border: 5px solid #CCC;
            padding: 8px 5px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="titulo_botoes">
        <img class="ico_secao" src="{{script_name}}/static/imagens/ico_big_comp.gif" />
	    <h2>
	        <span class="toggle" rel="detalhes_computador_{{ comp.id }}">{{ comp.computer_name }}<br/>
	        <span class="pequeno">+detalhes</span></span>
	    </h2>
	    <div class="botao_acoes">
	        <button class="popup" rel="view_comp_02"><span>avançado</span></button>
	        <div id="view_comp_02" class="escondido">
				<button onclick="location.href='{% url bkp.views.view_computer_config comp.id %}'"><span>Configuração</span></button>
				<form action="{% url bkp.views.test_computer comp.id %}" method="post">
					<button type="submit"><span>Testar Conexão</span></button>
				</form>
	    	</div>
	        <button class="popup" rel="view_comp_01"><span>ações</span></button>
	        <div id="view_comp_01" class="escondido">
    	        <button onclick="location.href='{% url bkp.views.edit_computer comp.id %}'"><span>Alterar</span></button>
	    	    <button onclick="location.href='{% url bkp.views.delete_computer comp.id %}';" class="red"><span>Remover</span></button>
	    	</div>
	    </div>
	</div>
	
	<div class="descricao_comp bloco_texto escondido cookie_toggle" id="detalhes_computador_{{ comp.id }}">
	    <ul class="aux esq" style="width: 325px; float: left;">
	        <li><strong class="label">IP:</strong> <span class="value">{{ comp.computer_ip }}</span></li>
	        <li><strong class="label">Sist. Operacional:</strong> <span class="value">{{ comp.computer_so_friendly }}</span></li>
	        <li><strong class="label">Status:</strong> <span class="value">{{ compstatus }}</span></li>
	        <li><strong class="label">Encriptação:</strong> <span class="value">{{ comp.computer_encryption_friendly }}</span></li>
	    </ul>
	    <div class="dir">
	        <strong>Descrição:</strong><br/>
	        <p>{{ comp.computer_description }}</p>
	    </div>
	</div>


	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Backup</a></li>
			<li><a href="#tabs-2">Procedimentos em execução</a></li>
			<li><a href="#tabs-3">Últimos Procedimentos Executados</a></li>
		</ul>

		<div id="tabs-1">
	    	<div class="titulo_botoes">
			    <h3>
			        <span>Backup</span>
			    </h3>
			    <div class="botao_acoes">
			        <button onclick="location.href='{% url bkp.views.new_computer_backup comp.id %}';"><span class="">Adicionar</span></button>
			    </div>
			</div>
	
			{% if not comp.procedure_set.count %}
			    <span>Não existem procedimentos cadastrados para este computador.</span>
			{% endif %}
	
			{% for proc in comp.procedure_set.all %}
			<div class="backup">
			    <div class="inner-backup">
			        <div class="nome_detalhes">
		        	    <h2>
		        	        <span class="toggle" rel="detalhes_procedimento_{{ proc.id }}">{{ proc.procedure_name }}<br/>
		        	        <span class="pequeno">+detalhes</span></span>
		        	    </h2>
			        </div>
			        <div class="info_basica">
			            <span>Storage: <strong>{{ proc.storage.storage_name }}</strong></span>
			            <span>Agendamentos: <strong>{{ proc.fileset_set.count }}</strong></span>
			            <span>Offsite: <strong>{% if proc.offsite_on %}ATIVO{% endif %}{% if not proc.offsite_on %}Inativo{% endif %}</strong></span><br/>
			            <span>Caminhos:
			            <strong>{% if proc.fileset_set.count %}
		                    {% for fset in proc.fileset_set.all|slice:":3" %}
		                        {{ fset.path }}{% if not forloop.last %},{% endif %}
		                    {% endfor %}
		                    {{ proc.fileset_set.count|pluralize:"..." }}
		                {% else %}
		                    -
		                {% endif %}</strong></span>
		            </div>
		            <div class="acoes">
		                <button class="popup" rel="view_comp_02_{{ forloop.counter }}"><span>ações</span></button>
		                <div id="view_comp_02_{{ forloop.counter }}" class="escondido">
		                    <button onclick="location.href='{% url bkp.views.edit_procedure proc.id %}'"><span>Alterar</span></button>
		                    <button onclick="location.href='{% url bkp.views.delete_procedure proc.id %}'" class="red"><span>Remover</span></button>
                            <button onclick="location.href='{% url bkp.views.new_procedure_fileset proc.id %}'"><span>Novo Local</span></button>
                            <button onclick="location.href='{% url bkp.views.new_procedure_schedule proc.id %}'"><span>Novo Agendamento</span></button>                            
		                </div>
		            </div>
			    </div>
			    <div id="detalhes_procedimento_{{ proc.id }}" class="detalhes_procedimento escondido">
		            <div class="storage coluna primeira">
		                Storage:<br/>
		                <a href="{% url bkp.views.view_storage proc.storage.id %}">{{ proc.storage.storage_name }}</a>
		            </div>
		            <div class="caminhos coluna">
		                Caminhos:<br/>
		                <div class="bloco_bg">
		                {% for fset in proc.fileset_set.all %}
		                    {{ fset.path }}<br/>
		                    <!--<button onclick="location.href='{{script_name}}/{{fset.delete_url}}'" class="button_delete" title="Remover este item."><span>Remover</span></button>-->
		                {% endfor %}
		                </div>
		            </div>
		            <div class="agendamentos coluna ultima">
		                Agendamentos:<br/>
		                {% for sched in proc.schedule_set.all %}
		                <div class="bloco_bg">
		                    {% for wtrigg in sched.weeklytrigger_set.all %}
		                        {{ wtrigg.level_friendly }}<br/>
		                        {{ sched.type_friendly }}<br/>
		                        {% for day, day_br in DAYS_OF_THE_WEEK.items %}
		                            {% if wtrigg|get_method:day %}
		                                {{ day_br }}
		                            {% endif %}
		                        {% endfor %} as {{ wtrigg.hour }}
		                    {% endfor %}
		                    {% for mtrigg in sched.monthlytrigger_set.all %}
		                        {{ mtrigg.level_friendly }}<br />
		                        {{ sched.type_friendly }}<br/>
		                        {{ mtrigg.target_days }} as
		                        {{ mtrigg.hour }}
		                    {% endfor %}
		                </div>
		                {% endfor %}
		                <!--<button onclick="location.href='{{script_name}}/{{sched.edit_url}}';return false"><span>Editar</span></button>
		                <button onclick="location.href='{{script_name}}/{{sched.delete_url}}';return false" class="red"><span>Remover</span></button>-->
		            </div>
		        </div>
		    </div>
			{% endfor %}
			<br/>
		</div>


		<div id="tabs-2">
	    	<div class="titulo_botoes">
			    <h3>
			        <span>Procedimentos Executando</span>
			    </h3>
			    <div class="botao_acoes"></div>
			</div>
			<div class="bloco_texto">
				{% for job in running_jobs %}
					{% if forloop.first %}
				        <table>
				        <thead>
					        <tr>
					        <th scope='col'>Nome</th>
					        <th scope='col'>Tipo</th>
					        <th scope='col'>Data Início</th>
					        <th scope='col'>Hora Início</th>
					        <th scope='col'>Duração</th>
					        <th scope='col'>Status</th>
					        </tr>
				        </thead>
				        <tbody>
					{% endif %}
		        <tr> 
			        <td> {{ job.Name }} </td>
			        <td> {{ job.Level|friendly_level }} </td>
			        <td> {{ job.StartTime|friendly_date }} </td>
			        <td> {{ job.StartTime|friendly_hour }} </td>
			        <td> {{ job.Duration|friendly_duration_min }} </td>
			        <td> {{ job.JobStatus|friendly_status }} </td>
				</tr>
					{% if forloop.last %}
				</tbody>
				</table>
					{% endif %}
		        {% endfor %}
		    </div>
		</div>


		<div id="tabs-3">
	    	<div class="titulo_botoes">
			    <h3>
			        <span>Últimos Procedimentos Executados</span>
			    </h3>
			    <div class="botao_acoes"></div>
			</div>
			<div class="bloco_texto">
				{% for job in last_jobs %}
					{% if forloop.first %}
				        <table>
				        <thead>
					        <tr>
					        <th scope='col'>Nome</th>
					        <th scope='col'>Tipo</th>
					        <th scope='col'>Arquivos</th>
					        <th scope='col'>Tamanho</th>
					        <th scope='col'>Data Início</th>
					        <th scope='col'>Hora Início</th>
					        <th scope='col'>Duração</th>
					        <th scope='col'>Status</th>
					        </tr>
				        </thead>
				        <tbody>
					{% endif %}
		        <tr class="{% cycle 'odd' 'even' %}"> 
			        <td> {{ job.Name }} </td>
			        <td> {{ job.Level|friendly_level }} </td>
			        <td> {{ job.JobFiles }} </td>
			        <td> {{ job.JobBytes|friendly_size_mb }} </td>
			        <td> {{ job.StartTime|friendly_date }} </td>
			        <td> {{ job.StartTime|friendly_hour }} </td>
			        <td> {{ job.Duration|friendly_duration_min }} </td>
			        <td> {{ job.JobStatus|friendly_status }} </td>
				</tr>
					{% if forloop.last %}
				</tbody>
				</table>
					{% endif %}
		        {% endfor %}
		    </div>
		</div>
	</div>
{% endblock %}
