{% load bkp_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="pt-BR" />

		<title>{% block title %}{% endblock %} Backup corporativo</title>

		<link href="{{script_name}}/static/estilo.css" rel="stylesheet" />
		<script type="text/javascript" src="{{script_name}}/static/jquery.js"></script>
		<script type="text/javascript" src="{{script_name}}/static/jquery.cookie.js"></script>
		<script type="text/javascript" src="{{script_name}}/static/main.js"></script>
		
		{% block headtags %}{% endblock %}
	</head>
	<body>
		<div id="site">
			<div id="topo">
                <h1><a href="{{script_name}}/" title="Home">Linconet - Tencnologia Estratégica</a></h1>
                <div id="main_menu" class="menu">
                    <ul class="links">
                        <li {% if request.META.PATH_INFO|contains:"/backup" %}class="active"{% endif %}><a href="{{script_name}}{{backup_prefix}}/backup/new" title="">Backup</a></li>
                        <li {% if request.META.PATH_INFO|contains:"/restore" %}class="active"{% endif %}><a href="{{script_name}}{{restore_prefix}}/restore/new" title="">Restore</a></li>
                        <li {% if request.META.PATH_INFO|contains:"/stats" %}class="active"{% endif %}><a href="{{script_name}}/stats" title="">Estatísticas</a></li>
                        <li {% if request.META.PATH_INFO|contains:"/config" %}class="active"{% endif %}><a href="{{script_name}}/config/edit" title="">Configurações</a></li>
                    </ul>
                    {% if current_user.username %}
                    <form class="link" action="{{script_name}}/session/delete" method="post">
                        <p>Bem-vindo, {{current_user.username}} | <button type="submit">Sair</button></p>
                    </form>
                    {% endif %}
                    {% if not current_user.username %}
                    <p>Você não está autenticado.</p>
                    {% endif %}
                </div>
			</div>
			<div id="conteudo">	
				<div id="sidebar">
				    <!-- start computers block -->
				    {% block computers %}
				    {% if comps.count %}
				    <h3>Computadores</h3>
					<ul class="aux list_computers">
						{% for c in comps %}
						{% ifequal c.id comp.id %}
						<li><strong><a href="{{script_name}}/computer/{{c.id}}">{{ c.computer_name }}</a> <span>{{ c.computer_ip }}</span></strong></li>
						{% else %}
						<li><a href="{{script_name}}/computer/{{c.id}}">{{ c.computer_name }}</a> <span>{{ c.computer_ip }}</span></li>
						{% endifequal %}
						{% endfor %}
					</ul>
					{% endif %}
					<p><a href="{{script_name}}/backup/new">[+] Adicionar computador</a></p>
					{% endblock %}
					
					{% block storages %}
				    <h3>Storages</h3>
				    {% if stors.count %}
					<ul class="aux list_computers">
						{% for s in stors %}
						{% ifequal s.id storage.id %}
						<li><strong><a href="{{script_name}}/storage/{{s.id}}">{{ s.storage_name }}</a> <span>{{ s.storage_ip }}</span></strong></li>
						{% else %}
						<li><a href="{{script_name}}/storage/{{s.id}}">{{ s.storage_name }}</a> <span>{{ s.storage_ip }}</span></li>
						{% endifequal %}
						{% endfor %}
					</ul>
					{% else %}
						<p><a href="{{script_name}}/config/edit">Configure o Sistema</a></p>
					{% endif %}
					<p><a href="{{script_name}}/storage/new">[+] Adicionar storage</a></p>
					{% endblock %}
					<!-- end computers block -->
				</div>
				<div id="main_content">
				    <!-- start messages block -->
				    {% if messages %}
				        <div id="mensagens">
				            {% for msg in messages %}
				                <p>{{ msg }}</p>
				            {% endfor %}
				        </div>
				    {% endif %}
				    <!-- end messages block -->
				    
				    <!-- start content block -->
		    		{% block content %}
		    		    -- Aqui fica o conteúdo principal --
		    		{% endblock %}
		    		<!-- end content block -->
				</div>
			</div>
			<div id="rodape">
			    <p>Todos os direitos reservados à Linconet Ltda.</p>
			</div>
		</div>
	</body>
</html>
