<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="pt-BR" />

		<title>{% block title %}{% endblock %} Backup corporativo</title>

		<link href="{{script_name}}/static/estilo.css" rel="stylesheet" />
	</head>
	<body>
		<div id="site">
			<div id="topo">
                            <h1><a href="{{script_name}}/" title="Home">Linconet - Tencnologia Estratégica</a></h1>
                            <div id="main_menu" class="menu">
                                <ul class="links">
                                    <li class=""><a href="{{script_name}}/stats" title="">Estatísticas</a></li>
                                    <li class=""><a href="{{script_name}}/config/edit" title="">Configurações</a></li>
                                </ul>
                            </div>
			</div>
			<div id="conteudo">	
				<div id="sidebar">
                    <!-- start welcome block -->
                    <ul class="aux welcome">
                        <form class="link" action="{{script_name}}/session/delete" method="post">
                            <li>Welcome, {{current_user.username}} | <button type="submit">Sair</button></li>
                        </form>
                    </ul>
                    <!-- end welcome block -->
                    
				    <!-- start computers block -->
				    {% block computers %}
					<ul class="aux list_computers">
						{% for c in comps %}
						{% ifequal c.id comp.id %}
						<li><strong><a href="{{script_name}}/computer/{{c.id}}">{{ c.computer_name }}</a> <span>{{ c.ip }}</span></strong></li>
						{% else %}
						<li><a href="{{script_name}}/computer/{{c.id}}">{{ c.computer_name }}</a> <span>{{ c.ip }}</span></li>
						{% endifequal %}
						{% endfor %}
					</ul>
					<p><a href="{{script_name}}/computer/new">[+] Adicionar computador</a></p>
					{% endblock %}
					<!-- end computers block -->
				</div>
				<div id="main_content">
				    <!-- start messages block -->
				    {% if messages %}
				        <div id="mensagens">
				            {% for msg in messages %}
				                <p>{{ msg }}</p>
				            {% endfor %}
				        </div>
				    {% endif %}
				    <!-- end messages block -->
				    
				    <!-- start content block -->
		    		{% block content %}
		    		    -- Aqui fica o conteúdo principal --
		    		{% endblock %}
		    		<!-- end content block -->
				</div>
			</div>
			<div id="rodape">
			    <p>Todos os direitos reservados à Linconet Ltda.</p>
			</div>
		</div>
	</body>
</html>
