{% extends "bkp/base.html" %}
{% block content %}


<!--  Begin Global Config -->
	<h2>Configurações Globais</h2>

{% if gconfig %}
{% else %}
<h3>Por favor, defina as configurações iniciais do seu sistema.</h3>
{% endif %}

<form action="{{script_name}}/config/edit" method="post">
    {% for field in gconfigform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Salvar" /></p>
</form>
<br />
<h2>Gerar Dump do Sistema</h2>

<form action="{{script_name}}/dump/create" method="post">
<p><input type="submit" value="Dump" /></p>
</form>
<br />

<h2>Restaurar Sistema</h2>
<form action="{{script_name}}/dump/restore" method="post" enctype="multipart/form-data">
	{% for field in restoredumpform %}
		<div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
	{% endfor %}

<p><input type="submit" value="Restore" /></p>
</form>

<h2>Alterar Senha do Administrador</h2>

<a href="{{script_name}}/password/new">Alterar Senha</a>

	<hr />

<!--  End Global Config -->

{% endblock %}
