<!-- Begin Header -->
	<h1> <a href="{{script_name}}/">Prototipo Backup Corporativo</a> </h1>
	<hr />
<!-- End Header -->

<!-- Begin Computers -->
	<h2>Computadores</h2>
	
	{% if comps %}
	<ul>
	{% for comp in comps %}
	<li><a href="{{script_name}}/computer/{{comp.id}}">{{ comp.name }}</a>  | Hash Attributes | <a href="{{script_name}}/computer/{{comp.id}}/edit">Alterar</a> | <form class="link" action="{{script_name}}/computer/{{comp.id}}/delete" method="post">
		<button type="submit">remover</button>
	</form></li>
	{% endfor %}
	</ul>
	{% else %}
	<p>Nao existem computadores disponiveis.</p>
	{% endif %}
	
	<hr />
<!--  Expandable/Collapsible Area -->
	<h3>Adicionar Computador</h3>
	
	<form action="{{script_name}}/computer/" method="post">
	{{ compform.as_p }}
	<input type="submit" value="Submit" />
	</form> 
	<hr />
<!-- End Computers -->

	<a href="{{script_name}}/">voltar</a>
