<!-- Begin Header -->
	<h1> <a href="{{script_name}}/">Protótipo Backup Corporativo</a> </h1>
	<hr />
<!-- End Header -->

<!-- Begin Computers -->
	<h2>Computadores</h2>
	
	{% if comps %}
	<ul>
	{% for c in comps %}
		<form class="link" action="{{script_name}}/computer/{{c.id}}/delete" method="post">
		<li><a href="{{script_name}}/computer/{{c.id}}">{{ c.computer_name }}</a> | {{ c.ip }} | {{ c.description }} |  <a href="{{script_name}}/computer/{{c.id}}/edit">Alterar</a> | 
	    <button type="submit">Remover</button> |
		</li></form>
	{% endfor %}
	</ul>
	{% else %}
	<p>Não há computadores disponíveis.</p>
	{% endif %}
	
	<hr />
<!--  Expandable/Collapsible Area -->
	<h3>Adicionar Computador</h3>
	
<form action="{{script_name}}/computer/" method="post">
    {% for field in compform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Salvar" /></p>
</form>

	<hr />
<!-- End Computers -->

	<a href="{{script_name}}/">voltar</a>
