{% extends "bkp/base.html" %}

{% block content %}
<hr />


<form action="{{script_name}}/device/create" method="post">
    <div class="fieldWrapper">
        {{ devform.device_name.errors }}
        {{ devform.device_name.label_tag }} {{ devform.device_name }}
    </div>

    <div class="fieldWrapper">
        {{ devform.uuid.errors }}
		{{ devform.uuid.label_tag }}	
		<select name="uuid" id="id_uuid">
			{% for value,choice in dev_choices %}
			<option value="{{value}}" selected="selected">{{choice}}</option>
			{% endfor %}
		</select>
    </div>
    <p><input type="submit" value="Salvar" /></p>
</form>



<hr />
{% endblock %}