{% extends "bkp/base.html" %}
{% load bkp_extras %}
{% block content %}

	<h2>Computador <em>{{ comp.computer_name }}</em></h2>
	<p>IP: {{ comp.ip }}<br/>
	Descrição: {{ comp.description }}</p>


	<h3>Procedimentos <a href="{{script_name}}/computer/{{comp.id}}/procedure/new">(+)</a></h3>
{% for p in comp.procedure_set.all %}
    <div class="procedure">
    <h4><strong>{{ p.procedure_name }}</strong></h4>
    <p>Caminho para recuperação: {{ p.restore_path }}</p>
    <p>Caminhos do backup: {% for fs in p.fileset_set.all %}{{ fs.path }}{% endfor %}</p>
    <p>Agendamentos:
        {% for sc in p.schedule_set.all %}
        <div class="agendamento">
            Tipo: {{ sc.type }}
            <ul>
            {% for scwt in sc.weeklytrigger_set.all %}
                <li>Nível: {{ scwt.level }}</li>
                <li>Hora: {{ scwt.hour }}</li>
                <li>Dias da semana:
                {% for day, day_br in DAYS_OF_THE_WEEK.items %}
                    {% if scwt|get_method:day %}
                        {{ day_br }}
                    {% endif %}
                {% endfor %}
                </li>
            {% endfor %}
            {% for scmt in sc.monthlytrigger_set.all %}
                <li>Nível: {{ scmt.level }}</li>
                <li>Hora: {{ scmt.hour }}</li>
                <li>Dias: {{ scmt.target_days }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </p>
    </div>
{% endfor %}



<h3>Últimos Procedimentos Executados</h3>

<table>
<thead>
	<tr>
	<th scope='col'>Job Id</th>
	<th scope='col'>FSet Id</th>
	<th scope='col'>Client</th>
	<th scope='col'>Job</th>
	<th scope='col'>Level</th>
	<th scope='col'>Status</th>
	<th scope='col'>Start</th>
	<th scope='col'>End</th>
	<th scope='col'>JobFiles</th>
	<th scope='col'>JobBytes</th>
	<th scope='col'>Errors</th>
	<th scope='col'></th>
	</tr>
</thead>
<tbody>
{% for job in lastjobs %}
<tr> 
{% for item in job %}
<td> {{ item }} </td>
{% endfor %}

{% if job|successful %}
<td> <form action="{{script_name}}/computer/{{comp.id}}/restore/" method="POST">
<input type="hidden" id="job_id" name="job_id" value="{{job|get_id}}" />
<input type="hidden" id="client_source" name="client_source" value="{{job|get_client_source}}" />
<input type="hidden" id="client_restore" name="client_restore" value="{{job|get_client_restore}}" />
<input type="hidden" id="client_restore" name="client_restore" value="{{job|get_fileset}}" />

<input type="submit" value="restaurar" />
</form> </td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
