{% extends "bkp/base.html" %}
{% load bkp_extras %}
{% block content %}
<!-- Begin Stats -->
<h2>Informações Gerais</h2>

<p>Banco de Dados: {{ dbsize }} MB</p>
<p>Procedimentos: {{ numproc }}</p>
<p>Computadores: {{ numcli }}</p>
<p>Total Armazenado: {{ tbytes }} MB</p>

<h2>Procedimentos Executando</h2>

<table>
<thead>
	<tr>
	<th scope='col'>Procedimento</th>
	<th scope='col'>Computador</th>
	<th scope='col'>Nível</th>
	<th scope='col'>Início</th>
	<th scope='col'>Fim</th>
	<th scope='col'>Arquivos</th>
	<th scope='col'>Bytes</th>
	<th scope='col'>Erros</th>
	<th scope='col'>Status</th>
	</tr>
</thead>
<tbody>
{% for job in runningjobs %}
<tr> 
{% for item in job %}
<td> {{ item }} </td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>


<h2>Últimos Procedimentos Executados</h2>

<table>
<thead>
	<tr>
	<th scope='col'>Procedimento</th>
	<th scope='col'>Computador</th>
	<th scope='col'>Nível</th>
	<th scope='col'>Início</th>
	<th scope='col'>Fim</th>
	<th scope='col'>Arquivos</th>
	<th scope='col'>Bytes</th>
	<th scope='col'>Erros</th>
	<th scope='col'>Status</th>
	</tr>
</thead>
<tbody>
{% for job in lastjobs %}
<tr> 
{% for item in job %}
<td> {{ item }} </td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>

<!-- End Stats -->
{% endblock %}
