<!-- Begin Header -->
	<h1> <a href="{{script_name}}/">Prototipo Backup Corporativo</a> </h1>
	<hr />
<!-- End Header -->


<!-- Begin Computers -->
	<h2>Computadores</h2>
	<ul>
	{% for c in comps %}
		<li><a href="{{script_name}}/computer/{{c.id}}">{{ c.name }}</a> | Hash Attributes |  <a href="{{script_name}}/computer/{{c.id}}/edit">Alterar</a> | {% ifequal c.id comp.id %} (Selecao Atual) {% endifequal %} <form class="link" action="{{script_name}}/computer/{{c.id}}/delete" method="post">
	    <button type="submit">remover</button>
	</form></li>
	{% endfor %}
	</ul>
	
	<hr />
<!--  Expandable/Collapsible Area -->
	<h3>Adicionar Computador</h3>
	<form action="{{script_name}}/computer/" method="post">
	{{ compform.as_p }}
	<input type="submit" value="Submit" />
	</form> 
	
	<hr />
<!-- End Computers -->

<!-- Begin Procedures -->
	<h2>Procedimentos</h2>
	<ul>
	{% for p in procs %}
	<li><a href="{{script_name}}/computer/{{comp.id}}/procedure/{{p.id}}">{{ p.name }}</a> | Hash Attributes | {% ifequal p.id proc.id %} (Selecao Atual) {% endifequal %} <form class="link" action="{{script_name}}/computer/{{comp.id}}/procedure/{{p.id}}/delete" method="post">
	    <button type="submit">remover</button>
	</form></li>
	{% endfor %}
	</ul>

	<hr />
<!--  Expandable/Collapsible Area -->

	<h3>Adicionar Procedimento</h3>
	<form action="{{script_name}}/computer/{{comp.id}}/procedure/" method="post">
	{{ procform.as_p }}
	<input type="submit" value="Submit" />
	</form> 
	
	<hr />
<!-- End Procedures -->

<!-- Begin FileSets -->
	<h2>Locais</h2>
	{% if fsets %}
	<ul>
	{% for fset in fsets %}
	<li>{{ fset.path }} <form class="link" action="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/fileset/{{fset.id}}/delete" method="post">
	    <button type="submit">remover</button>
	</form></li>
	{% endfor %}
	</ul>
	{% else %}
	<p>Nao existem locais para este procedimento.</p>
	{% endif %}

<!--  Expandable/Collapsible Area -->
	<hr>
	
	<h3>Adicionar Local</h3>
	<form action="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/fileset/" method="post">
	{{ fsetform.as_p }}
	<input type="submit" value="Submit" />
	</form> 
	
	<hr />
<!-- End FileSets -->

<!-- Begin Schedules -->
	<h2>Agendamentos</h2>
	<ul>
	{% for s in scheds %}
	<li><a href="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/schedule/{{s.id}}">{{ s.type }}</a>  | Hash Attributes | {% ifequal s.id sched.id %} (Selecao Atual) {% endifequal %}
	<form class="link" action="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/schedule/{{s.id}}/delete" method="post">
	    <div>
	    <button type="submit">remover</button>
	    </div>
	</form></li>
	{% endfor %}
	</ul>

<!--  Expandable/Collapsible Area -->
	<hr />
	
	<h3> Adicionar Agendamento</h3>
	<form action="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/schedule/" method="post">
	{{ schedform.as_p }}
	<input type="submit" value="Submit" />
	</form> 
	
	<hr />
<!-- End Schedules -->

<!-- Begin Triggers -->
	<h3>Detalhe Agendamento {{ sched.type }}</h3>
	{% if triggerformempty %}
	<p>Configurar Agendamento</p>
	{% endif %}
	<form action="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/schedule/{{sched.id}}/{{sched_lower_type}}trigger/" method="post">
	{{ triggerform.as_p }}
	<input type="submit" value="Submit" />
	</form> 


<!-- End Triggers -->





