{% extends "bkp/base.html" %}
{% load bkp_extras %}

{% block content %}

<!-- Begin Schedules -->
	<h2>Agendamentos</h2>

	<!--  Expandable/Collapsible Area -->
	<h3>Adicionar Agendamento</h3>
	
	{% ifequal proc.status 'Valid' %}
	<form action="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/schedule/" method="post">
    {% for field in schedform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Salvar" /></p>
</form>
	{% else %}
	<p>Não é possível adicionar agendamento, pois não há local configurado. </p>
	{% endifequal %}

	<hr />
<!-- End Schedules -->

<!-- Begin Triggers -->
	<h3>Detalhe Agendamento {{ sched.type }}</h3>
	{% if triggerformempty %}
	<p>Configurar Agendamento</p>
	{% endif %}
	<form action="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/schedule/{{sched.id}}/{{sched_lower_type}}trigger/" method="post">
    {% for field in triggerform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}

    <p><input type="submit" value="Salvar" /></p>
</form>


<!-- End Triggers -->
{% endblock %}
