{% extends "bkp/base.html" %}

{% block content %}
<!-- Begin Computers -->

{% if comp %}
 	<h2>Computador <em>{{ comp.computer_name }}</em></h2>
	<p>IP: {{ comp.ip }}<br/>
	Descrição: {{ comp.description }}</p>
{% else %}
	<h2>Computadores</h2>
	<hr />
<!--  Expandable/Collapsible Area -->
	<h3>Adicionar Computador</h3>

<form action="{{script_name}}/computer/" method="post">
    {% for field in compform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Salvar" /></p>
</form>
	<hr />
<!-- End Computers -->

{% endif %}

<!-- Begin Procedures -->
	<h2>Procedimentos</h2>
	{% if procs %}
	<ul>
	{% for p in procs %}
	<form class="link" action="{{script_name}}/computer/{{comp.id}}/procedure/{{p.id}}/delete" method="post">
	<li><a href="{{script_name}}/computer/{{comp.id}}/procedure/{{p.id}}">{{ p.procedure_name }}</a> | 
	<a href="{{script_name}}/computer/{{comp.id}}/procedure/{{p.id}}/edit">Alterar</a>  |
	<button type="submit">Remover</button> |
	</li></form>
	{% endfor %}
	</ul>
	{% else %}
	<p>Não há procedimentos para este computador.</p>
	{% endif %}
	
	<hr />
<!--  Expandable/Collapsible Area -->
	<h3>Adicionar Procedimento</h3>

<form action="{{script_name}}/computer/{{comp.id}}/procedure/" method="post">
    {% for field in procform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Salvar" /></p>
</form>

	<hr />
<!-- End Procedures -->

<!-- Begin FileSets -->
	<h2>Locais</h2>
	<p>Não há procedimento selecionado.</p>
	
	<hr />
<!-- End FileSets -->

<!-- Begin Schedules -->
	<h2>Agendamentos</h2>
	<p>Não há procedimento selecionado.</p>
	
	<hr />
<!-- End Schedules -->

<!-- Begin Triggers-->
	<h2>Detalhe Agendamento</h2>
	<p>Não há agendamento selecionado.</p>
<!-- End Triggers -->
{% endblock %}
