{% extends "templates/bkp/base.html" %}
{% block content %}

{% if offsite_on %}
<h2> Configuraçao do Backup Offsite </h2>
<p> Deseja realmente desabilitar backup offsite? </p>
<form action="{{script_name}}/offsite/disable" method="post">
    <p><input type="submit" value="Sim" /></p>
</form>

{% else %}
<h2> Configuraçao do Backup Offsite </h2>

<form action="{{script_name}}/offsite/enable" method="post">
        <div class="fieldWrapper">
            {{ offsiteform.offsite_hour.errors }}
            {{ offsiteform.offsite_hour.label_tag }} {{ offsiteform.offsite_hour }}
        </div>
        <div class="fieldWrapper">
            {{ offsiteform.offsite_on }}
            <p>Concordo com os termos de uso e desejo habilitar o Backup Offsite.</p>
        </div>
        
    <p><input type="submit" value="Salvar" /></p>
</form>

{% endif %}

<a href="{{script_name}}/config/offsite/edit">Cancelar</a>
<br />

{% endblock %}