{% extends "bkp/base.html" %}
{% load bkp_extras %}
{% block content %}
<hr />

    {% include 'bkp/wizbkp_steps.html' %}

	<div class="bloco_texto">

{# Passo 1 #}
{% ifequal backup_step 1 %}
<form action="{{script_name}}/backup/new" method="post">
	<h3>Computador</h3>

    {% for field in compform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
	
<button type="submit"><span>Prosseguir</span></button>
</form>

{% endifequal %}

{# Passo 2 #}
{% ifequal backup_step 2 %}
<form action="{{script_name}}/computer/{{comp.id}}/backup/new" method="post">
{% if proc %}{# Se já existe procedimento, não precisa cadastrar um novo #}
<p>Nome: {{proc.procedure_name}}</p>
{% else %}
    <h3>Selecione um Nome para a configuraçao</h3>
        <div class="fieldWrapper">
            {{ procform.procedure_name.errors }}
            {{ procform.procedure_name.label_tag }} {{ procform.procedure_name }}
        </div>
{% endif %}
    <br /><br />
	<h3>Deseja fazer Backup de Quais Pastas?</h3><br />
    {% for field in fsetform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }} <button onclick="location.href='#';return false"><span>x</span></button>
        </div>
    {% endfor %}
	<br /><br />	
	<h3>Onde serão armazenados os Backups?</h3><br />
        <div class="fieldWrapper">
            {{ procform.storage.errors }}
            {{ procform.storage.label_tag }} {{ procform.storage }}
        </div>
	<br /><br />
    <h3>Nimbus Cloud Backup</h3>
        <div class="fieldWrapper">
            {{ procform.offsite_on.errors }}
            <span class="inline-list">{{ procform.offsite_on.label_tag }} {{ procform.offsite_on }}</span>
        </div>
    <br /><br />    
	<button onclick="location.href='#';return false"><span>Mais Locais</span></button>
<button onclick="location.href='{{script_name}}/backup/new';return false"><span>Cancelar</span></button>

	
<button type="submit"><span>Prosseguir</span></button>
</form>
{% endifequal %}

{# Passo 3 #}
{% ifequal backup_step 3 %}
<form action="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/backup/new" method="post">
	<h3>Agendamento</h3><br />


	<p>Tipo: Mensal</p> {# TODO: Tratar tipo semanal #}
    {% for field in mtriggform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
	<button onclick="location.href='#';return false"><span>Mais Agendamentos</span></button>
<button onclick="location.href='{{script_name}}/computer/{{comp.id}}/backup/new';return false"><span>Cancelar</span></button>

	
<button type="submit"><span>Prosseguir</span></button>
</form>

{% endifequal %}
	</div>



<hr />
{% endblock %}
