{% extends "templates/bkp/base.html" %}
{% block content %}

<form action="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/schedule/" method="post">
	
    {% for field in schedform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}

	<hr />

	<h3>Detalhes Agendamento {{ sched.type }}</h3>

    <div class="mtriggform">
    {% for field in mtriggform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    </div>

    <div class="wtriggform">
    {% for field in wtriggform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    </div>

    <div class="triggform_message">
        <p>Por favor selecione o tipo de agendamento no formulário acima.</p>
    </div>

    {% for field in schedauxform %}
		{{ field }}
    {% endfor %}

    <p><input type="submit" value="Salvar" /></p>
</form>
{% endblock %}
