{% extends 'base.html' %}
{% load i18n %}


{% block content %}

    	<div class="block">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
                <h2><img src="/media/icons/warn.png" /> {% trans "Error 500 - internal server error" %}</h2>
			
    		</div>		<!-- .block_head ends -->
		
    		<div class="block_content tab_content">

                <p>
                    {% trans "This is an unexpected error and you should contact support or try again." %}
                </p>
                <p>
                    {% trans "We suggest you to report this error to the tech support."%}
                </p>
			
    		</div>		<!-- .block_content ends -->
		
	
    		<div class="bendl"></div>
    		<div class="bendr"></div>
    	</div>		<!-- .block ends -->
	
{% endblock %}
