{% block headtags %}
{% load i18n %}
<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
<!-- <script type="text/javascript" src="/media/js/filesets.js"></script> -->
<!-- <script type="text/javascript" src="/media/js/veezortree.js"></script> -->
<link rel="stylesheet" type="text/css" href="/media/css/about.css"/>
{% endblock %}

{% block page %}
<div id="about">
	<div id="about_block">
		<div id="about_content">
            {% trans "Version" %}: {{version}} {% trans "release"%} #{{release}}<br/>
            {% trans "License" %}: <a href="/LICENSE/">GPLv3</a><br />
            {% trans "Last self-backup"%}: {{last_backup}}<br/>
            {% trans "Computers" %}: {{computers}}<br />
            {% trans "Procedures"%}: {{procedures}}<br />
            {% trans "Backups" %}: {{jobs}}<br />
		</div>
	</div>
    <a href="http://trynimbus.com">Nimbus Opensource</a> {% trans "by"%} <a href="http://veezor.com"><img src="/media/lib/images/logo_veezor.gif" alt="Veezor® Network Intelligence" /></a>
</div>
{% endblock %}
