<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>{% block title %}{% endblock %} Nimbus</title>
	
    <style type="text/css" media="all">
		@import url("/media/lib/css/style.css");
		@import url("/media/lib/css/jquery.wysiwyg.css");
		@import url("/media/lib/css/jquery.filetree.css");
		@import url("/media/lib/css/facebox.css");
		@import url("/media/lib/css/visualize.css");
		@import url("/media/lib/css/date_input.css");
    </style>
	
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=7" /><![endif]-->
	<!--[if lt IE 8]><style type="text/css" media="all">@import url("/media/lib/css/ie.css");</style><![endif]-->
	<!--[if IE]><script type="text/javascript" src="/media/lib/js/excanvas.js"></script><![endif]-->
	
	<script type="text/javascript" src="/media/lib/js/jquery.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.img.preload.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.filestyle.mini.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.wysiwyg.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.date_input.pack.js"></script>
	<script type="text/javascript" src="/media/lib/js/facebox.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.visualize.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.select_skin.js"></script>
	<script type="text/javascript" src="/media/lib/js/ajaxupload.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.pngfix.js"></script>
	<script type="text/javascript" src="/media/lib/js/custom.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.filetree.js"></script>
	
	<script type="text/javascript" charset="utf-8">
        $(document).ready( function() {
            $('.filetree').each(function(){
                script = $(this).attr("ref");
                $(this).fileTree({ root: '/media/lib/demo/', script: script }, function(file) { 
                    alert(file);
                });
            })

        });
	</script>
	
	
	{% block headtags %}{% endblock %}

</head>





<body>
	
	<div id="hld">
	
		<div class="wrapper">		<!-- wrapper begins -->
			
			<div id="header">
				<div class="hdrl"></div>
				<div class="hdrr"></div>
				
				<h1><a href="#">Nimbus</a></h1>
				
				<ul id="nav">
					<li class="active"><a href="/base/home">Painel</a></li>
					<li><a href="/computers">Computador</a>
                        <ul>
                            <li><a href="/computers/list">Listar</a></li>
                            <li><a href="/computers/add">Adicionar</a></li>
                        </ul>
					</li>
					<li><a href="#">Armazenamento</a>
					    <ul>
                            <li><a href="/storages/list">Listar</a></li>
                            <li><a href="/storages/add">Adicionar</a></li>
                        </ul>
                    </li>
					<li><a href="#">Offsite</a></li>
					<li><a href="#">Ferramentas</a></li>
					<li><a href="#">Configurações</a>
                        <ul>
                            <li><a href="/users/password_change">Alterar Senha</a></li>
                            <li><a href="/network/config">Configuração de Rede</a></li>
                            <li><a href="/timezone/config">Configuração de Hora</a></li>
                        </ul>
					</li>
					
                    <!-- <li class="active"><a href="#">Computador</a>
                        <ul>
                            <li><a href="#">List pages</a></li>
                            <li><a href="#">Add page</a></li>
                            <li><a href="#">More actions</a>
                                <ul>
                                    <li><a href="#">Some action</a></li>
                                    <li><a href="#">Some action</a></li>
                                    <li><a href="#">Some action</a>
                                        <ul>
                                            <li><a href="#">Some action</a></li>
                                            <li><a href="#">Some action</a></li>
                                            <li><a href="#">Some action</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Media</a>
                        <ul>
                            <li><a href="#">List media</a></li>
                            <li><a href="#">Add media</a></li>
                            <li><a href="#">Something else</a></li>
                        </ul>
                    </li> -->
				</ul>
				
				<!-- <p class="user">Olá, <a href="#">Administrador</a> | <a href="index.html">Sair do sistema</a></p> -->
				<p class="user">
				    <div class="status" style="background: url(/media/lib/images/status_bg_ok.png) left; width: 122px; height: 40px; float: right; margin-top: 5px;">
				        <div style="margin-top: 8px; padding-left: 40px; color: #666; line-height: 1em">
				            Normal<br/>
				            <small><a href="/base/home" style="color: blue">Histórico</a></small>
				        </div>
				    </div>
				</p>
			</div>		<!-- #header ends -->
			
            {% if messages %}
                {% for msg in messages %}
                    <!-- TODO: Criar tipos de mensagens: errormsg, success, info, warning -->
                    <div class="message success">
                        <p>{{ msg }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            {%block content%}
            {%endblock%}

            {%block page%}
            {%endblock%}


			<div id="footer">

				<p class="left"><a href="http://nimbus.com">Nimbus</a> Professional Backup - Um produto <a href="http://veezor.com">Veezor® Network Intelligence</a></p>
				<p class="right">Nimbus v1.0</p>

			</div>


		</div>						<!-- wrapper ends -->

	</div>		<!-- #hld ends -->

</body>
</html>
<!-- Localized -->