<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>{% block title %}{% endblock %} Nimbus</title>
	
	<link rel="icon" type="image/x-icon" href="/media/images/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="/media/images/favicon.ico" />
	
    <style type="text/css" media="all">
		@import url("/media/lib/css/style.css");
		@import url("/media/lib/css/jquery.wysiwyg.css");
		@import url("/media/lib/css/jquery.filetree.css");
		@import url("/media/lib/css/facebox.css");
/*      @import url("/media/lib/css/visualize.css");*/
		@import url("/media/lib/css/date_input.css");
		@import url("/media/js/iphone-style-checkboxes/style.css");
		@import url("/media/js/progressbar/jquery.ui.all.css");
    </style>
	
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=7" /><![endif]-->
	<!--[if lt IE 8]><style type="text/css" media="all">@import url("/media/lib/css/ie.css");</style><![endif]-->
	<!--[if IE]><script type="text/javascript" src="/media/lib/js/excanvas.js"></script><![endif]-->
	
	<script type="text/javascript" src="/media/lib/js/jquery.js"></script>
    
    <!--<script type="text/javascript" src="/media/lib/js/jquery.img.preload.js"></script>-->
	<script type="text/javascript" src="/media/lib/js/jquery.filestyle.mini.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.wysiwyg.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.date_input.pack.js"></script>
	<script type="text/javascript" src="/media/lib/js/facebox.js"></script>
	<!--<script type="text/javascript" src="/media/lib/js/jquery.visualize.js"></script>-->
	<script type="text/javascript" src="/media/lib/js/jquery.select_skin.js"></script>
	<script type="text/javascript" src="/media/lib/js/ajaxupload.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.pngfix.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.filetree.js"></script>
	<script type="text/javascript" src="/media/js/iphone-style-checkboxes/jquery/iphone-style-checkboxes.js"></script>
	<!--<script src="/media/js/jquery.sparkline.min.js" type="text/javascript"></script>-->
	<script src="/media/js/progressbar/jquery.ui.core.min.js" type="text/javascript"></script>
	<script src="/media/js/progressbar/jquery.ui.widget.min.js" type="text/javascript"></script>	
	<script src="/media/js/progressbar/jquery.ui.progressbar.min.js" type="text/javascript"></script>
	<script src="/media/js/jquery.maskedinput-1.2.2.min.js" type="text/javascript"></script>
	
	
	<script type="text/javascript" charset="utf-8">
	    var data_hora = undefined;
	    
    	function update_time() {
            seconds = data_hora.getSeconds() + 1;
            if (seconds > 60) {
                seconds = 1;
            }
            data_hora.setSeconds(seconds);

            time_string = data_hora.toTimeString().substr(0, 8);
            $('#actual_time').html(time_string);
        
            setTimeout("update_time()", 1000);
        }
        
        $(document).ready( function() {
            $('input:checkbox:not(#schedule input:checkbox):not(#fileset input:checkbox):not(.tree input:checkbox)').not('').iphoneStyle({ checkedLabel: 'Sim', uncheckedLabel: 'Não' });

            $('.filetree').each(function(){
                var script = $(this).attr("ref");
                $(this).fileTree({ root: '/media/lib/demo/', script: script }, function(file) { 
                    alert(file);
                });
            })
            $(".iPhoneCheckContainer").css("width", "85px");
            // $(".sparklines").sparkline('html', {width: "300", height: "150px" });
	        
            var actual_time = $('#actual_time').html().split(':');
            var hours = actual_time[0];
            var minutes = actual_time[1];
            var seconds = actual_time[2];
            data_hora = new Date(2010, 10, 10, hours, minutes, seconds);
            update_time();
            
            $('.mascara_hora').mask('99:99');
            $('.mascara_minuto').mask('99');

        });
	</script>
	
	{% block headtags %}{% endblock %}
	
	<script type="text/javascript" src="/media/lib/js/custom.js"></script>
</head>

<body>
	
	<div id="hld">
	
		<div class="wrapper">		<!-- wrapper begins -->
			
			<div id="header">
				<div class="hdrl"></div>
				<div class="hdrr"></div>
				
				<div class="ico_nimbus"><img src="/media/lib/images/ico_nimbus.png" /></div>
				<h1><a href="#">Nimbus</a></h1>
				
				<ul id="nav">
					<li class="active"><a href="/base/home">Estatísticas</a></li>
					<li class="active"><a href="#">Backup</a>
					    <ul>
					        <li><a href="/backup/add">Criar backup</a></li>
                            <li><a href="/computers/list">Listar computador</a></li>
                            <li><a href="/computers/add">Adicionar computador</a></li>
                            <li><a href="/procedures/profile/list">Listar perfis de configuração</a></li>
                            <li><a href="/procedures/list">Listar procedimentos</a></li>
                            <li><a href="/storages/list">Listar Armazenamento</a></li>
                            <li><a href="/storages/add">Adicionar Armazenamento</a></li>                            
                        </ul>
					</li>
					<li><a href="#">Restaurar</a>
					    <ul>
                            <li><a href="/restore/view/">Executar restauração</a></li>
                        </ul>
				    </li>
				    <li class="active"><a href="#">Offsite</a>
					    <ul>
    					    <li><a href="/offsite/detail">Detalhes do offsite</a></li>
    					    <li><a href="/offsite/edit">Editar configurações</a></li>
                            <li><a href="/offsite/list_uploadrequest">Uploads ativos</a></li>
                            <li><a href="/offsite/list_downloadrequest">Downloads ativos</a></li>
                            <li><a href="/procedures/list_offsite">Procedimentos do offsite</a></li>
                        </ul>
                    </li>
					<li><a href="#">Ferramentas</a>
					    <ul>
                            <li><a href="/system/network_tool/ping/">Ping</a></li>
                            <li><a href="/system/network_tool/traceroute/">Traceroute</a></li>
                            <li><a href="/system/network_tool/nslookup/">NSLookup</a></li>
                            <!-- <li><a href="/system/stat/">Estado do sistema</a></li> -->
                            <li><a href="/system/security_copy/">Cópia de segurança</a></li>
                            <li><a href="/recovery/start">Recuperação do sistema</a></li>
                            <li><a href="/system/umount">Remover dispositivo externo</a></li>
                            <li><a href="/system/pid_history/">Monitorar processos internos</a></li>
                        </ul>
					</li>
					<li class="nobg"><a href="#">Configurações</a>
                        <ul>
                            <li><a href="/users/password_change">Alterar Senha</a></li>
                            <li><a href="/network/config">Configuração de Rede</a></li>
                            <li><a href="/timezone/config">Configuração de Hora</a></li>
                        </ul>
					</li>
				</ul>
				
				<!-- <p class="user">Olá, <a href="#">Administrador</a> | <a href="index.html">Sair do sistema</a></p> -->
				{% include "status_header.html" %}
				<div class="align_right" style="float: right; margin-left: 10px; padding-left: 10px"><a href="/session/logout">Logout</a></div>
				<div class="time align_right" style="float: right; margin-left: 10px; padding-left: 10px; padding-bottom: 17px">
			        <small>Horário</small><br/>
			        <span id="actual_time">{% now "H:i:s" %}</span>
			    </div>
			</div>		<!-- #header ends -->
			
            {% if messages %}
                {% for msg in messages %}
                    <div class="message {{ msg.tags }}">
                        <p>{{ msg }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            {%block content%}
            {%endblock%}

            {%block page%}
            {%endblock%}

			<div id="footer">

				<p class="left"><a href="http://nimbusbackup.com">Nimbus</a> Professional Backup - Um produto <a href="http://veezor.com"><img src="/media/lib/images/logo_veezor.gif" style="vertical-align: middle" alt="Veezor® Network Intelligence" /></a></p>
				<p class="right">Nimbus v1.0</p>

			</div>


		</div>						<!-- wrapper ends -->

	</div>		<!-- #hld ends -->

</body>
</html>
<!-- Localized -->
