{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>{% block title %}{% endblock %} Nimbus</title>
	
	<link rel="icon" type="image/x-icon" href="/media/images/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="/media/images/favicon.ico" />
	
	<link rel="stylesheet" type="text/css" href="/media/lib/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/notifications.css" />
	<link rel="stylesheet" type="text/css" href="/media/lib/css/facebox.css" />
	<link rel="stylesheet" type="text/css" href="/media/js/progressbar/jquery.ui.all.css" />
	<link rel="stylesheet" type="text/css" href="/media/lib/css/date_input.css" />
	<link rel="stylesheet" type="text/css" href="/media/lib/css/css3buttons.css" />
	{% if product == "professional" %}
	<link rel="stylesheet" type="text/css" href="/media/css/professional.css" />
	{% else %}
	<link rel="stylesheet" type="text/css" href="/media/css/opensource.css" />
	{% endif %}
	
	<script type="text/javascript" src="/media/jquery.js"></script>
	<script type="text/javascript" src="/media/jquery.cookie.js"></script>
    <script type="text/javascript" src="/media/main.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.date_input.pack.js"></script>
	<script type="text/javascript" src="/media/lib/js/facebox.js"></script>
	<script type="text/javascript" src="/media/lib/js/ajaxupload.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.pngfix.js"></script>
	<script type="text/javascript" src="/media/js/progressbar/jquery.ui.core.min.js"></script>
	<script type="text/javascript" src="/media/js/progressbar/jquery.ui.widget.min.js"></script>
	<script type="text/javascript" src="/media/js/progressbar/jquery.ui.progressbar.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery.maskedinput-1.2.2.min.js"></script>
	
	<script type="text/javascript" src="/media/jquery-ui.js"></script>
    <link href="/media/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css"/>

	<script type="text/javascript" src="/media/lib/js/custom.js"></script>
	<script type="text/javascript" src="/media/js/base.js"></script>
	<script type="text/javascript" src="/media/js/notifications.js"></script>


	{% block headtags %}{% endblock %}
	
</head>
<body>
	<div id="hld">
		<div class="wrapper">
			<div style="position: relative;">
			<div id="header">
				<div class="hdrl"></div>
				<div class="hdrr"></div>
				
				<div class="ico_nimbus"><a href="/"><img src="/media/lib/images/ico_nimbus.png" alt=""/></a></div>
				<h1><a href="/">Nimbus</a></h1>
				
				<ul id="nav">
					<li class="active"><a href="#">Backup</a>
					    <ul>
                            <li><a href="/procedures/add"> {% trans "New Backup" %} </a></li>
                            <li><a href="/restore/step1/"> {% trans "Restore" %}</a></li>
                            <li><a href="/procedures/profile/list"> {% trans "List profiles" %} </a></li>
                            <li><a href="/procedures/list"> {% trans "List procedures" %} </a></li>
                        </ul>
					</li>
                    <li class="active"><a href="#"> {% trans "Computers" %} </a>
					    <ul>
                            <li><a href="/computers/list"> {% trans "List computers"%} </a></li>
                            <li><a href="/computers/add"> {% trans "Activate new computer" %} </a></li>
                            <li><a href="/storages/list"> {% trans "List storages" %} </a></li>
                            <li><a href="/storages/add"> {% trans "Add Storage" %} </a></li>
                        </ul>
					</li>
					{% for menu in menus_from_apps %}
					{% include menu %}
					{% endfor %}
                    <li><a href="#"> {% trans "Tools" %} </a>
					    <ul>
                            <li><a href="/system/network_tool/ping/">Ping</a></li>
                            <li><a href="/system/network_tool/traceroute/">Traceroute</a></li>
                            <li><a href="/system/network_tool/nslookup/">NSLookup</a></li>
                        </ul>
					</li>
                    <li><a href="#"> {% trans "Configuration" %} </a>
                        <ul>
                            <li><a href="/users/password_change"> {% trans "Change Password" %} </a></li>
                            <li><a href="/network/config"> {% trans "Network Config" %} </a></li>
                            <li><a href="/timezone/config"> {% trans "Timezone Config" %} </a></li>
                            <li><a href="/reports/email_conf"> {% trans "Mail Notification" %} </a></li>
                        </ul>
					</li>
                    <li class="nobg"><a href="#"> {% trans "Help" %} </a>
                        <ul>
                            <li><a href="/base/about" id="about_buttom"> {% trans "About Nimbus" %} </a></li>
                            <li><a href="http://forum.nimbusbackup.com"> {% trans "Forum" %} </a></li>
                        </ul>
					</li>
				</ul>
				<!-- <p class="user">Olá, <a href="#">Administrador</a> | <a href="index.html">Sair do sistema</a></p> -->
				{% include "status_header.html" %}
				<div id="logout-button" class="align_right"><a href="/session/logout">Sair</a></div>
				<div id="clock" class="time align_right">
                    <small>{% trans "Time" %}</small><br/>
			        <span id="actual_time">{% now "H:i:s" %}</span>
			    </div>
				<div id="notifier"></div>
			</div>
            <noscript><div class="message error">{% trans "Warning! Your javascript is disabled. Nimbus requires javascript." %}</div></noscript>
            {% if messages %}
                {% for msg in messages %}
                    <div class="message {{ msg.tags }}">
                        <p>{{ msg }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            {%block content%}
            {%endblock%}

            {%block page%}
            {%endblock%}

			<div id="footer">
				<!-- <p class="left"><a href="http://trynimbus.com">Nimbus Opensource</a> é uma iniciativa <a href="http://veezor.com"><img src="/media/lib/images/logo_veezor.gif" alt="Veezor® Network Intelligence" /></a> | -->
                <p class="left"><a href="http://trynimbus.com">Nimbus Opensource</a> {% trans "by" %} <a href="http://veezor.com"><img src="/media/lib/images/logo_veezor.gif" alt="Veezor® Network Intelligence" /></a> |
                <a href="/LICENSE/">{% trans "Terms and License" %}</a></p>
				<p class="right">Nimbus Opensource Backup v1.3</p>
			</div>
			</div>
		</div>
	</div>

</body>
</html>
<!-- Localized -->

