{% extends 'base.html' %}


{% block content %}

    	<div class="block">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
    			<h2>Backups</h2>
			
    		</div>		<!-- .block_head ends -->
		
    		<div class="block_content tab_content">

                {% with table1 as table %}
			        {% include "table_chart.html" %}
			    {% endwith %}
			
    		</div>		<!-- .block_content ends -->
		
	
    		<div class="bendl"></div>
    		<div class="bendr"></div>
    	</div>		<!-- .block ends -->
	

	    <div class="block">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
    			<h2>Sistema e servidor</h2>
    		</div>		<!-- .block_head ends -->
		
    		<div class="block_content">
                <div class="left">
                {% with table3 as table %}
			        {% include "table_chart.html" %}
                {% endwith %}
                </div>

                <div class="right">
                {% with table4 as table %}
			        {% include "table_chart.html" %}
			    {% endwith %}
			    </div>

                <div class="left">
	            {% with table5 as table %}
			        {% include "table_chart.html" %}
			    {% endwith %}
			    </div>

                <div class="right">
                {% with table6 as table %}
			        {% include "table_chart.html" %}
			    {% endwith %}
			    </div>

       		    <div class="clear"></div>
    		    <p></p>
		
    		</div>		<!-- .block_content ends -->
		
    		<div class="bendl"></div>
    		<div class="bendr"></div>
    	</div>		<!-- .block ends -->
	
	
    
        
        <div class="block">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
    			<h2>Procedimentos</h2>
			
    		</div>		<!-- .block_head ends -->
		
            <div class="block_content">
		    {% with backups_com_falhas as item %}
    		    <div class="stat_block">
                {% include "stat_block.html" %}
                </div>
    		{% endwith %}
    		</div>
		
    		<div class="bendl"></div>
    		<div class="bendr"></div>
    	</div>		<!-- .block ends -->
	
	
	    



{% endblock %}
