{% extends 'base.html' %}


{% block content %}

    	<div class="block">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
    			<h2>Backups</h2>

                <ul class="tabs">
                    <li><a href="#backup-bytes">Mega bytes</a></li>
                    <li><a href="#backup-files">Quantidade de Arquivos</a></li>
                </ul>
            </div>		<!-- .block_head ends -->
		    
		    <div class="block_content tab_content" id="backup-bytes">
		        {% with table1 as table %}
			        {% include "table_chart.html" %}
			    {% endwith %}
		    </div>
    		<div class="block_content tab_content" id="backup-files">
			    {% with table2 as table %}
			        {% include "table_chart.html" %}
			    {% endwith %}
    		</div>		<!-- .block_content ends -->
	

	
    		<div class="bendl"></div>
    		<div class="bendr"></div>
    	</div>		<!-- .block ends -->
	

	    <div class="block">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
    			<h2>Sistema e servidor</h2>
    		</div>		<!-- .block_head ends -->
		
    		<div class="block_content">
                <div class="left">
                    <h4>Uso da Memória</h4>
                    {% with table4.lines.Ocupado.0 as value %}
    			        {% include "bar_chart.html" %}
    			    {% endwith %}
                    <br/>
                    <h4>Uso do CPU</h4>
                    {% with table5.lines.Ocupado.0 as value %}
    			        {% include "bar_chart.html" %}
    			    {% endwith %}
                </div>
                <div class="left" style="margin-left: 30px; width: 35%">
    			    {% with table3 as table %}
    			        {% include "table_chart.html" %}
    			    {% endwith %}
                </div>
                <div class="left" style="margin-left: 30px; width: 35%">
                    {% with table6 as table %}
    			        {% include "table_chart.html" %}
    			    {% endwith %}
                </div>
                
       		    <div class="clear"></div>
    		    <p></p>
		
    		</div>		<!-- .block_content ends -->
		
    		<div class="bendl"></div>
    		<div class="bendr"></div>
    	</div>		<!-- .block ends -->
	
	
    
        
        <div class="block">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
    			<h2>Procedimentos</h2>
			
    		</div>		<!-- .block_head ends -->
		
            <div class="block_content">
		    {% with backups_com_falhas as item %}
    		    <div class="stat_block">
                {% include "stat_block.html" %}
                </div>
    		{% endwith %}
    		</div>
		
    		<div class="bendl"></div>
    		<div class="bendr"></div>
    	</div>		<!-- .block ends -->
	
	
	    



{% endblock %}
