{% load i18n %}
{% comment %}
Possible types: ok, warn, error
{% endcomment %}
<h2>{% trans "History" %}</h2>
<hr />
<div class="content_block cols_{{item|length}}" id="accordion">
	{% for job in last_jobs %}
    <h3>
		<span class="status_{{job.general_status}}">Status {{job.human_general_status}}</span>
		{% if job.type == 'R'%}
        {% blocktrans %}
        {{job.start_time}}: Restore job to '{{job.procedure.computer.name}}'
        {% endblocktrans %}
		{% else %}
        {% blocktrans %}
        {{job.start_time}}: Procedure of {{job.backup_type}} from '{{job.procedure.name}}' to '{{job.procedure.computer.name}}'
        {% endblocktrans %}
		{% endif %}
		{% if job.human_general_status == "executando" or job.human_general_status == "esperando" %}
		<!-- <span class="cancel_job">Cancelar</span> -->
        <button type="submit" class="cancel_job css3button negative" value="Desativar" id="{{job.jobid}}">{% trans "Cancel" %}</button>
		{% endif %}
        <div class="clear"></div>
	</h3>
	<div id="job_{{job.jobid}}_details">
	   <table cellpadding="0" cellspacing="0">
	   <tbody>
			{% if job.type != 'R'%}
            <tr><td>{% trans "Procedure" %}:</td>
            {% if job.procedure %}
            <td>{{job.procedure}}</td>
            {% else %}
            <td> {% trans "This procedure is no more"%}</td>
            {% endif %}
            </tr>
			{% endif %}
            <tr>
            {% if job.procedure.computer %}
            <td> {% trans "Computer"%}:</td><td>{{job.procedure.computer.name}} ({{job.procedure.computer.address}})</td>
            {% else %}
            <td> {% trans "Computer"%}:</td> <td>{% trans "Computer not found" %}</td>
            {% endif %}</tr>
            {% if job.type != 'R'%}<tr><td>{% trans "Backup level "%}:</td><td>{{job.backup_level}}</td></tr>{% endif %}
            <tr><td>{% trans "Schedule time"%}:</td><td>{{job.schedule_time}}</td></tr>
            <tr><td>{% trans "Start"%}: </td><td>{{job.start_time}}</td></tr>
            {% if job.end_time %}
            <tr><td>{% trans "End"%}:</td><td>{{job.end_time}}</td></tr>
            <tr><td>{% trans "Duration"%}:</td><td>{{job.duration}}</td></tr>
            {% else %}
            <tr><td>{% trans "End"%}:</td><td>{% trans "The procedure was not completed" %}</td></tr>
            <tr><td>{% trans "Duration"%}:</td><td>{% trans "The procedure was not completed"%}</td></tr>
            {% endif %}
            <tr><td>{% trans "Copied files"%}:</td><td>{{job.jobfiles}} ({{job.human_readable_size.size}} {{job.human_readable_size.unit}})</td></tr>
            
            <tr><td>{% trans "Status"%}:</td><td>{{job.status_message}}</td></tr>
            <tr><td>{% trans "Errors"%}:</td><td>{{job.joberrors}}</td></tr>
		</table>
		<hr />
	</div>
	{% endfor %}
</div>
