{% if item %}
{% comment %}
Tipos possíveis: ok, warn, error
{% endcomment %}
<div class="content_block cols_{{item|length}}">
    {% for i in item %}
    <div class="inner_block {% if forloop.last %}last{% endif %} {% if forloop.first %}first{% endif %}">
        <h3>{{i.title}}</h3>
        <div>
            {% for c in i.content %}
            <div class="inner_message {% cycle "odd" "even" %}" title="{{ c.tooltip }}"><img src="/media/icons/{{c.type}}.png" /> {% if c.date %}<small>{{c.date}}</small> -{% endif %} {{c.label}} {% if c.message %}<small>({{c.message}})</small>{% endif %}</div>
            {% empty %}
            <div>Não há dado para ser exibido.</div>
            {% endfor %}
        </div>
        <p></p>
    </div>
    {% endfor %}
</div>
{% endif %}