{% extends "base.html" %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>Configuração de Rede</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">
    
        {% if messages %}
            {% for msg in messages %}
                <!-- TODO: Criar tipos de mensagens: errormsg, success, info, warning -->
                <div class="message success"><p>{{ msg }}</p></div>
            {% endfor %}
        {% endif %}
    
        {% if form.errors %}
        <div class="message errormsg">
            <p>Your old password didn't match. Please try again.</p>
        </div>
        {% endif %}
    
        <form method="post" action="">
            {% include "form.html" %}
            <p><input type="submit" class="submit" value="Confirm" /></p>
        </form>
    
    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
