{% extends "base_wizard.html" %}
{% block headtags %}
{% load i18n %}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        ip_address = '{{ ip_address }}';
        
        setTimeout(function() {
            document.location.href = 'http://{{ ip_address }}{{ url }}';
        }, 10000);
    });
</script>

{% endblock %}

{% block page %}

<h1>{% trans "You are being redirected to the new ip." %} &nbsp;<img src="/media/icons/loading_bar.gif" /></h1>
<p>{% trans "If within 10 seconds you are not redirected to the new address, go to" %} <a href="http://{{ ip_address }}/{{ url }}">http://{{ ip_address }}/{{ url }}</a>.</p>

{% endblock %}
