{% extends "base.html" %}

{% block headtags %}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        ip_address = '{{ ip_address }}';
        
        setTimeout(function() {
            document.location.href = 'http://{{ ip_address }}/';
        }, 10000);
    });
</script>

{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>Configuração de Rede</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">
        <h1>Você está sendo redirecionado para o novo ip. &nbsp;<img src="/media/icons/loading_bar.gif" /></h1>
        <p>Se em até 10 segundos você não for redirecionado para o novo endereço, acesse <a href="http://{{ ip_address }}/">http://{{ ip_address }}/</a>.</p>
    
    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
