{% extends "bkp/base.html" %}
{% block content %}


<h2> Alterar Agendamento </h2>

<div class="bloco_texto">
    <p><strong class="label">Tipo:</strong> <span class="value">{{ sched.type }}</span></p>
    <br />

<form action="{% url bkp.views.update_schedule sched.id %}" method="POST">
	
    {% for field in triggform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}

    <p><input type="submit" value="Salvar" /> <a href="{% url bkp.views.edit_backup proc.id %}">Cancelar</a></p>
</form>




</div>

{% endblock %}
