{% extends "base.html" %}

{% block headtags %}
<script type="text/javascript" src="/media/lib/js/tree_plugin.js"></script>
<script type="text/javascript" src="/media/js/filesets.js"></script>
{% endblock %}

{% block page %}
<div id="fileset" class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>		<!-- .block_head ends -->
	<div class="block_content">
	    
        <form action="" method="post">
            {% if errors.fileset_name %}
            <ul class="errorlist">
                <li>{{ errors.fileset_name }}</li>
            </ul>
            {% endif %}
            <p>
                <label for="fileset_name">Nome do conjunto de arquivos:</label><br/>
                <input type="text" name="fileset_name" id="fileset_name" class="text mid" value="{{ fileset.name }}" />
            </p>

            {% if errors.path %}
            <ul class="errorlist">
                <li>{{ errors.path }}</li>
            </ul>
            {% endif %}
            {% if fileset.files.count %}
            <p>
                <label for="filepath_name">Caminhos para backup:</label><br/>
                <ul class="tree">
                    {% for p in fileset.files.all %}
                    <li><span><input type="checkbox" name="path" value="{{p}}" checked="checked" />{{p}}</span></li>
                    {% endfor %}
                </ul>
            </p>
            {% endif %}
            
            {% if errors.computer_id %}
            <ul class="errorlist">
                <li>{{ errors.computer_id }}</li>
            </ul>
            {% endif %}
            <p>
                <label>Adicionar arquivos:</label><br/>
                <select class="styled" id="computer_id" name="computer_id">
                    <option value=""> - Selecione - </option>
                    {% for computer in computers %}
                    <option value="{{computer.id}}">{{computer.name}}</option>
                    {% endfor %}
                </select>
				
				<div id="mensagem_erro_fileset"></div>
				
                <ul class="tree"><li class="directory first"><span><a href="#" path="/">Arquivos</a></span></li></ul>
            </p>
            <p></p>
            <p>
                <input type="submit" class="submit mid" value="Salvar" />
            </p>
        </form>

	</div>		<!-- .block_content ends -->
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>		<!-- .block ends -->

{% endblock %}