{% extends "base.html" %}


{% block headtags %}
<script type="text/javascript" charset="utf-8" src="/media/lib/js/tree_plugin.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.toggle').click(function(){
            var target = $(this).attr('ref');
            $(this).parent().parent().find('.' + target).slideToggle();
        });
        
        get_tree_path = "/backup/get_tree/";
        
        $('#update_tree').click(function()
        {
            update_tree('/', get_tree_path);
            return false;
        });

        $(".tree a").click(function()
        {
            update_tree($(this).attr("path"), get_tree_path);
            return false;
        });
    });
</script>

{% endblock %}


{% block page %}


<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>		<!-- .block_head ends -->
	<div class="block_content">
	    <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
                    // $('#filepath_template').clone().appendTo('.filepaths').show();
	                
	                function remover_path(obj) {
	                    $(obj).parent().remove();
	                    if ($('#filepath_template').parent().children().length == 1) {
	                        adicionar_path();
	                    }
	                }
	                
	                function adicionar_path(obj) {
	                    if (obj) {
	                        $('#filepath_template').clone().insertAfter($(obj).parent()).show();
	                    } else {
	                        $('#filepath_template').clone().appendTo('.filepaths').show();
	                    }
	                    
	                    
                        // $('.filepaths .add').unbind('click').click(function(){
                        //     adicionar_path(this);
                        // });
    	                
    	                $('.filepaths .del').unbind('click').click(function(){
    	                    remover_path(this);
    	                });
	                }
	                
                    // $('.filepaths .add').click(function(){
                    //     adicionar_path(this);
                    // });
	                
	                $('.filepaths .del').click(function(){
	                    remover_path(this);
	                });
            });
        </script>

        <form action="" method="post">
            {% if errors.fileset_name %}
            <ul class="errorlist">
                <li>{{ errors.fileset_name }}</li>
            </ul>
            {% endif %}
            <p>
                <label for="fileset_name">Nome do conjunto de arquivos:</label><br/>
                <input type="text" name="fileset_name" id="fileset_name" class="text mid" value="{{ fileset_name }}" />
            </p>

            {% if 0 %}
            <!-- <a href="#" id="update_tree">atualizar arvore</a> -->
            <ul class="tree"><li class="directory first"><span><a href="#" path="/">Arquivos</a></span></li></ul>
            {% endif %}
            
            {% if errors.path %}
            <ul class="errorlist">
                <li>{{ errors.path }}</li>
            </ul>
            {% endif %}
            <p>
                <label for="filepath_name">Caminhos para backup:</label><br/>
                {% if fileset_files %}
                <ul class="tree" style="padding-left: 20px !important; margin-bottom: 20px">
                    {% for p in fileset_files %}
                    <li class="" style="padding-left: 20px"><span style="padding-left: 10px"><input type="checkbox" name="path" value="{{p}}" checked="checked" />{{p}}</span></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </p>
            
            <script type="text/javascript" charset="utf-8">
                $(document).ready(function(){
                    $('#computer_id').change(function(){
                        $('.tree > li ul').first().remove();
                    });
                });
            </script>
            {% if errors.computer_id %}
            <ul class="errorlist">
                <li>{{ errors.computer_id }}</li>
            </ul>
            {% endif %}
            <p>
                <label>Adicionar arquivos:</label><br/>
                <select class="styled" id="computer_id" name="computer_id">
                    <option value=""> - Selecione - </option>
                    {% for computer in computers %}
                    <option value="{{computer.id}}">{{computer.name}}</option>
                    {% endfor %}
                </select>
                <ul class="tree"><li class="directory first"><span><a href="#" path="/">Arquivos</a></span></li></ul>
            </p>
            <p></p>
            <p>
                <input type="submit" class="submit mid" value="Atualizar" />
            </p>
        </form>

	</div>		<!-- .block_content ends -->
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>		<!-- .block ends -->

{% endblock %}