

{% block headtags %}
<link rel="stylesheet" type="text/css" href="/media/css/filesets.css" media="screen" />
<script type="text/javascript" src="/media/lib/js/tree_plugin.js"></script>
<script type="text/javascript" src="/media/js/filesets.js"></script>
<!-- <script type="text/javascript">
	NOT_ASYNC = true;
</script> -->
{% endblock %}

{% block page %}
<div id="fileset" class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{ title }}</h2>
	</div>		<!-- .block_head ends -->
	<div class="block_content">
        <form action="/filesets/{{ fileset.id }}/do_edit/" method="post" id="main_form">
			<input type="hidden" value="{{ computer.id }}" id="computer_id" />
			{{deletes_form.management_form}}
			<h2>Remover arquivo atuais:</h2>
			<table>
				<tr><th>Apagar</th><th>Arquivo</th></tr>
				{% for form in deletes_form.forms %}
					<tr><td>{{form.DELETE}}</td><td>{{form.path}}</td></tr>{{form.id}}{{form.fileset}}
				{% endfor %}
			</table>
			<hr />
			<h2>Adicionar novos aquivos:</h2>
			<ul class="tree"><li class="directory first"><span><a href="#" path="/">Arquivos</a></span></li></ul>
			<p>
			<label>{{fileset_form.name.label}}: </label>{{ fileset_form.name }}
			</p>
			<p class="hidden">
			<label>{{fileset_form.is_model.label}}: </label>{{ fileset_form.is_model }}
			</p>
			<hr />
			<p>
				<!-- <input type="submit" class="submit mid" id="submit_button" value="Salvar"/> -->
                <button type="button" class="css3button" id="submit_button" value="Salvar">Salvar</button>
            </p>
        </form>
	</div>		<!-- .block_content ends -->
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>		<!-- .block ends -->

{% endblock %}