<script type="text/javascript" src="/media/js/filesets.js"></script>

{% if errors.computer_id %}
<ul class="errorlist">
    <li>{{ errors.computer_id }}</li>
</ul>
{% endif %}
<p>
    <label for="computer_id">Computador que será efetuado o backup:</label><br/>
    <select class="styled" id="computer_id" name="computer_id">
        <option value=""> - Selecione - </option>
        {% for computer in computers %}
        <option value="{{computer.id}}" {% if computer_id == computer.id %}selected="selected"{% endif %}>{{computer.name}}</option>
        {% endfor %}
    </select>
</p>

<p>
    {% if errors.fileset_name %}
    <ul class="errorlist" style="">
        <li>{{ errors.fileset_name }}</li>
    </ul>
    {% endif %}

    <label for="fileset_name">Nome do conjunto de arquivos:</label><br/>
    <input type="text" name="fileset_name" id="fileset_name" class="text mid" value="{{fileset_name}}" />
</p>

<p>
    {% if errors.path %}
    <ul class="errorlist" style="">
        <li>{{ errors.path }}</li>
    </ul>
    {% endif %}
</p>

{% if path %}
<p>Arquivos selecionados:</p>
<ul class="tree">
    {% for p in path %}
    <li><span><input type="checkbox" name="path" value="{{p}}" checked="checked" />{{p}}</span></li>
    {% endfor %}
</ul>
<p>Selecionar mais arquivos:</p>
{% endif %}

<div id="mensagem_erro_fileset"></div>

<!-- <a href="#" id="update_tree">atualizar arvore</a> -->
<ul class="tree"><li class="directory first"><span><a href="#" path="/">Arquivos</a></span></li></ul>

<p></p>