{% extends "base.html" %}
{% load i18n %}

{% block headtags %}
	<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h>{% trans "Removal confirmation" %}</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">
        <form method="post" action="">
            <h1>{% trans "You are about to delete the file sets" %}{{fileset.name}}".</h1>
				{% if procedures %}
				{% trans "The following backup procedures use this file sets:" %}
					{% for procedure in procedures %}
				<li>{{procedure.name}}</li>
					{% endfor %}
				{% trans "Remove this set does not affect the operation of the listed backups." %}
				{% else %}
				{% trans "There is no backup procedure using this file sets." %}
				{% endif %}
			<br />
			<p><strong>{% trans "This operation can not be undone. Would you like to proceed anyway?" %}</strong></p>
            <p>
                <!-- <input type="submit" class="css3button positive" name="confirm" value="Prosseguir" /> ou <a href="" onclick="history.back(-1); return false;">Cancelar</a> -->
                <a href="/filesets/do_delete/{{fileset.id}}" class="css3button negative">{% trans "Delete" %}</a> ou <a href="" class="css3button positive" onclick="history.back(-1); return false;">{% trans "Cancel" %}</a>
            </p>
        </form>
    </div>

    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
