<html>
	<head>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="/media/js/veezortree.js"></script>
		<link rel="stylesheet" type="text/css" href="/media/css/veezortree.css"/>
	</head>
	<body>
		<div>
			<ul id="arvore1" class="veezortree" check_type="radio" computer="1" is_windows="false" hide_files="true">
			</ul>
			<ul id="arvore2" class="veezortree" check_type="checkbox" computer="3" is_windows="true" hide_files="false">
			</ul>
		</div>					
	</body>
</html>