Package: nimbus
Priority: optional
Version: 1.3.14-be0a7498221d585639e6a52934e073562382134a
Architecture: i386
Maintainer: Veezor
Depends: nimbus-dependencies (>= 0.9), postgresql-8.4, nginx, python-pkg-resources, python-setuptools
Description: Nimbus Backup System
