Package: nimbus
Priority: optional
Version: 1.3.4-56e383e8b8ded78664867155d6a42de2b5c47b08
Architecture: i386
Maintainer: Veezor
Depends: nimbus-dependencies (>= 0.9), postgresql-8.4, nginx, python-pkg-resources, python-setuptools
Description: Nimbus Backup System
