{% extends "base_wizard.html" %}

{% block headtags %}{% endblock %}

{% block content %}

<p><b> Não é possível montar o dispositivo {{device}}. Por favor, verifique se o dispositivo não está corrompido. </b></p>
<p> O erro encontrado foi : <b>{{error}} </b> </p>

<form action="/recovery/select_storage/" method="post">
	<input type="hidden" name="localsource" value="True"/>
	<input type="hidden" name="device" value="{{ device }}"/>
	<input type="submit" class="submit long" value="Selecionar outro dispositivo" />
</form>

<form action="/recovery/start/" method="get">
	<input type="submit" class="submit mid" value="Desistir" />
</form>

<p></p>

{% endblock %}
