{% extends "base_wizard.html" %}

{% block headtags %}{% endblock %}

{% block content %}

<h2>Por favor, selecione o disco de origem dos arquivos:</h2>

<form action="/recovery/recover_databases/" method="post">
	{% for device in devices %}
		{% if forloop.first %}
			<input id="{{forloop.counter}}" type="radio" name="device" checked="checked" value="{{device}}" />
		{% else %}
			<input id="{{forloop.counter}}" type="radio" name="device" value="{{device}}" />
		{% endif %}
		<label for="{{forloop.counter}}">{{device}}</label>
		<br />
	{% empty %}
		Conecte um hd ou pendrive externo.
	{% endfor %}

	{% if devices %}
	<br />
	<input type="hidden" name="localsource" value="True"/>

	<p class="input_submit">
		<input type="submit" class="submit right mid" value="Prosseguir" />
	</p>
	{%endif%}
</form>

{% endblock %}
