{% extends "base_wizard.html" %}

{% block headtags %}{% endblock %}

{% block content %}

<h2>Por favor, selecione o disco de origem dos arquivos:</h2>

<form action="/recovery/select_storage/" method="post">
	{% for device in devices %}
		<input type="radio" name="device" value="{{device}}" /> {{device}}
		<br />
	{% empty %}
		Conecte um hd ou pendrive externo.
	{% endfor %}

	{% if devices %}
	<br />
	<input type="hidden" name="localsource" value="True"/>

	<p class="input_submit">
		<input type="submit" class="submit right mid" value="Prosseguir" />
	</p>
	{%endif%}
</form>

{% endblock %}
