{% extends "base_wizard.html" %}

{% block headtags %}
<script type="text/javascript">

	var idTimer = undefined;
	function check(){
		$.post('/recovery/check_database_recover/', {}, function(json){
			//json.count = 0;
			if (! json.count) {
				$("#recover_database").submit();
			}
			$("#files_left span").text(json.count);
			$("#files_left").show();
		}, "json");
	}
	idTimer = setInterval(check, 2000);

</script>
<style type="text/css">
	#files_left {
		font-size: 15px;
		display: none;
	}
	#files_left span {
		color: #069;
		font-weight: bold;
	}
</style>

{% endblock %}

{% block content %}

<p>A recuperação da base de dados da máquina está sendo realizada.
Esta operação pode levar alguns minutos.</p>

<p id="files_left">Falta(m) <span></span> arquivo(s) para concluir a recuperação da base de dados.</p>

<p>Você será redirecionado para a página de login.</p>

<form id="recover_database" action="/recovery/recover_volumes/" method="post">
	<input type="hidden" name="localsource" value="{{ localsource }}"/>
	<input type="hidden" name="device" value="{{ device }}"/>
	<p></p>
</form>

{% endblock %}
