{% extends "base_wizard.html" %}

{% block headtags %}{% endblock %}

{% block content %}

<p>Iremos tentar recuperar a base de dados do máquina, esta operação pode levar alguns minutos. Para prosseguir clique no botão OK e aguarde.</p>

<form action="/recovery/recover_databases/" method="post">
	<input type="hidden" name="localsource" value="{{ localsource }}"/>
	<input type="hidden" name="device" value="{{ device }}"/>
	<p class="input_submit">
		<input type="submit" class="submit right" value="OK" />
	</p>
</form>

<p></p>

{% endblock %}
