{% extends "base_wizard.html" %}

{% block headtags %}{% endblock %}

{% block content %}

    <h2>Selecione a origem de onde deseja fazer a recuperação:</h2>

<form action="/recovery/select_source/" method="post">
  <input type="radio" name="source" value="offsite" checked="checked"/> Nimbus Cloud Backup <br />
  <input type="radio" name="source" value="externalstorage" /> HD externo <br /> <br />
  <p class="input_submit">
	<input class="submit right mid" type="submit" value="Prosseguir" />
  </p>
</form>

{% endblock %}
