{% extends "base.html" %}

{% block headtags %}{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">
    
        <h2>Por favor, selecione o disco de origem dos arquivos:</h2>

        <form action="/recovery/select_storage/" method="post">
            {% for device in devices %}
                <input type="radio" name="device" value="{{device}}" /> {{device}}
                <br />
            {% empty %}
                Conecte um hd ou pendrive externo.
            {% endfor %}

            {% if devices %}
            <br />
            <input type="hidden" name="localsource" value="True"/>
            <button type="submit"><span>Prosseguir</span></button>
            {%endif%}
        </form>
    
        <p></p>
    </div>
    <div class="bendl"></div>
	<div class="bendr"></div>
    
</div>

{% endblock %}