{% extends "base.html" %}

{% block headtags %}
<script type="text/javascript" charset="utf-8" src="/media/lib/js/tree_plugin.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.toggle').click(function(){
            var target = $(this).attr('ref');
            $(this).parent().parent().find('.' + target).slideToggle();
        });
        
        get_tree_path = "/backup/get_tree/";
        
        $('#update_tree').click(function()
        {
            update_tree('/', get_tree_path, undefined, undefined, undefined, '#computer_id');
            return false;
        });

        $(".tree a").click(function()
        {
            update_tree($(this).attr("path"), get_tree_path, undefined, undefined, undefined, '#computer_id');
            return false;
        });
    });
</script>

{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">
        
        <form action="/backup/add/" method="post">
            {% if computer %}
            <p></p>
            <div class="computer" style="padding: 20px; -moz-border-radius: 5px; background: #EEE; margin-bottom: 20px">
                <div class="left" style="float: left; width: 250px">
                    <div class="title">
                        <img src="/media/icons/computer.png" style="float: left; height: 32px; padding-right: 10px" />
                        <h3 class="name" style="margin: 0 0 -5px 0; padding: 0">{{computer.name}}</h3>
                        <small class="ip">{{computer.address}} - {{computer.operation_system|title}} - {% for g in computer.groups.all %}{{g.name}}{% endfor %}</small>
                    </div>
                </div>
                <div class="right" style="float: right; width: 600px">
                    <p style="font-size: 10px; margin: 0; line-height: 1.4em">{{computer.description}}</p>
                </div>
                <div class="clear"></div>
                <input type="hidden" name="computer_id" id="computer_id" value="{{computer.id}}" />
            </div>
            {% endif %}
            
            {% if errors.procedure_name %}
            <ul class="errorlist">
                <li>{{ errors.procedure_name }}</li>
            </ul>
            {% endif %}
            <p>
                <label>Nome para o procedimento de backup:</label><br/>
                <input type="text" class="text small" name="procedure_name" value="{{procedure_name}}" />
            </p>
            
            {% if not computer %}
            {% if errors.computer_id %}
            <ul class="errorlist">
                <li>{{ errors.computer_id }}</li>
            </ul>
            {% endif %}
            <p>
                <label for="computer_id">Computador que será efetuado o backup:</label><br/>
                <select class="styled" id="computer_id" name="computer_id">
                    <option value=""> - Selecione - </option>
                    {% for computer in computers %}
                    <option value="{{computer.id}}" {% if computer_id == computer.id %}selected="selected"{% endif %}>{{computer.name}}</option>
                    {% endfor %}
                </select>
            </p>
            {% endif %}
            
            {% if errors.offsite_on %}
            <ul class="errorlist">
                <li>{{ errors.offsite_on }}</li>
            </ul>
            {% endif %}
            <p>
                <label for="offsite_on">Ativar backup offsite</label>
                <input type="checkbox" name="offsite_on" {% if offsite_on %}checked="checked"{% endif %} value="1" />
            </p>
            
            <script type="text/javascript" charset="utf-8">
	            $(document).ready(function(){
		            $('.profile').change(function(){
		                if ($('.profile:checked').attr('id') == 'profile_0') {
		                    $('.novo_perfil').slideDown();
		                } else {
		                    $('.novo_perfil').slideUp();
		                }
		            });
		            $('.profile').change();
	            });
	        </script>
	        
            {% if errors.profile_id %}
            <ul class="errorlist">
                <li>{{ errors.profile_id }}</li>
            </ul>
            {% endif %}
            <p>
                <label>Escolha um perfil de configuração:</label><br/>
                {% for profile in profiles %}
                <input type="radio" name="profile_id" value="{{profile.id}}" class="radio profile" id="profile_{{profile.id}}" {% if profile.id == profile_id %}checked="checked"{% endif %} />
                <label for="profile_{{profile.id}}">{{profile.name}}</label>
                {% endfor %}
                <input type="radio" name="profile_id" value="new_profile" class="radio profile" id="profile_0" {% if profile_id == "new_profile" %}checked="checked"{% endif %} />
                <label for="profile_0">Criar um novo perfil</label><br/>
                <small>Um perfil de configuração é um conjunto de armazenamento, agendamento e caminhos de diretórios que serão feitos backup.</small>
            </p>
            
            <div class="novo_perfil" style="display: none; padding: 20px; background: #FFF2A7; margin-bottom: 20px">
                {% if errors.profile_name %}
                <ul class="errorlist">
                    <li>{{ errors.profile_name }}</li>
                </ul>
                {% endif %}
                <p>
                    <label for="profile_name">Nome do perfil de configuração:</label><br/>
                    <input type="text" class="text" name="profile.name" id="profile_name" value="{{profile_name}}" />
                </p>
                
                {% if errors.profile_storage_id %}
                <ul class="errorlist">
                    <li>{{ errors.profile_storage_id }}</li>
                </ul>
                {% endif %}
                <p>
                    <label for="storage_id">Local de armazenamento dos arquivos:</label><br/>
                    <select class="styled" id="storage_id" name="profile.storage_id">
                        <option value=""> - Selecione - </option>
                        {% for storage in storages %}
                        <option value="{{storage.id}}" {% if storage.id == profile_storage_id %}selected="selected"{% endif %}>{{storage.name}} - {{storage.address}}</option>
                        {% endfor %}
                    </select>
                </p>
                
                <script type="text/javascript" charset="utf-8">
    	            $(document).ready(function(){
    		            $('#schedule_id').change(function(){
    		                if ($('#schedule_id :selected').attr('id') == 'new_schedule') {
    		                    $('#schedule').slideDown();
    		                } else {
    		                    $('#schedule').slideUp();
    		                }
    		            });
    		            $('#schedule_id').change();
    	            });
    	        </script>
                
                {% if errors.profile_schedule_id %}
                <ul class="errorlist">
                    <li>{{ errors.profile_schedule_id }}</li>
                </ul>
                {% endif %}
                <p>
                    <label for="schedule_id">Agendamento:</label><br/>
                    <select class="styled" id="schedule_id" name="profile.schedule_id">
                        <option> - Selecione - </option>
                        {% for schedule in schedules %}
                        <option value="{{schedule.id}}" {% if schedule.id == profile_schedule_id %}selected="selected"{% endif %}>{{schedule.name}}</option>
                        {% endfor %}
                        <option id="new_schedule" value="new_schedule" {% if profile_schedule_id == "new_schedule" %}selected="selected"{% endif %}>Criar novo agendamento</option>
                    </select>
                </p>
        
                <!-- TODO: Prever um agendamento já definido. -->
                <div class="block withsidebar" id="schedule" style="display: none">
            		<div class="block_head">
            			<div class="bheadl"></div>
            			<div class="bheadr"></div>
			
            			<h2 style="font-size: 1.2em">
            			    Criar novo agendamento
            			</h2>
            		</div>		<!-- .block_head ends -->
		
            		<div class="block_content">
			
    			        <script type="text/javascript" charset="utf-8">
    			            $(document).ready(function(){
        			            $('.schedule_activate').change(function(){
        			                _checked = $(this).attr('checked');
        			                _class = $(this).attr('id');
        			                if (_checked) {
            			                $('.' + _class).addClass('active');
        			                } else {
        			                    $('.' + _class).removeClass('active');
        			                }
        			            });
        			            $('.schedule_activate').change();
    			            });
    			        </script>
			
			            
			            <div style="float: right; padding: 10px 20px 10px 0; clear: both">
			                {% if errors.schedule_name %}
                            <ul class="errorlist" style="">
                                <li>{{ errors.schedule_name }}</li>
                            </ul>
                            {% endif %}
                            {% if errors.schedule_day %}
                            <ul class="errorlist" style="">
                                <li>{{ errors.schedule_day }}</li>
                            </ul>
                            {% endif %}
                            {% if errors.schedule_hour %}
                            <ul class="errorlist" style="">
                                <li>{{ errors.schedule_hour }}</li>
                            </ul>
                            {% endif %}


        			        <label>Nome do agendamento:</label> <input type="text" class="text small" name="schedule.name" value="{{schedule_name}}" />
        			    </div>
			
            			<div class="sidebar">
            				<ul class="sidemenu">
            					<li><a href="#mensal" class="monthly active">Mensal</a></li>
            					<li><a href="#semanal" class="weekly">Semanal</a></li>
            					<li><a href="#diario" class="dayly">Diário</a></li>
            					<li><a href="#minuto" class="hourly">Minuto</a></li>
            				</ul>
				
                            <p>Agende a execução deste backup, é possível ativar mais de um agendamento.</p>
            			</div>		<!-- .sidebar ends -->
			        
            			<div class="sidebar_content" id="mensal">
            			    <p>
                                <input type="checkbox" name="schedule.monthly.active" class="schedule_activate" id="monthly" value="1" {% if schedule_monthly_active %}checked="checked"{% endif %} /> <label for="monthly">Ativar</label>
                            </p>
                            <div class="personal_message"><p>Executa o backup em determinados dias do mês, sempre no horário especificado.</p></div>
                            <p>
                                <label>Dias do mês:</label><br/>
                                {% for day in days %}
                                <input type="checkbox" id="day_{{day}}" name="schedule.monthly.day" value="{{day}}" {% if day in schedule_monthly_day %}checked="checked"{% endif %} />
                                <label for="day_{{day}}">{{day}}º</label>
                                {% endfor %}
                            </p>
                            <p>
                                <label for="mothly_hour">Hora:</label><br/>
                                <input type="text" name="schedule.monthly.hour" id="mothly_hour" class="text small" style="width: 45px" value="{{schedule_monthly_hour}}" /><br/>
                                <small>Exemplo: 10:20, 21:35 ou 07:08.</small>
                            </p>
                            <p>
                                <label for="level_id">Tipo de backup:</label>
                                <select class="styled" id="level_id" name="schedule.monthly.level">
                                    {% for level in levels %}
                                    <option value="{{level}}" {% if schedule_monthly_level == level %}selected="selected"{% endif %}>{{level}}</option>
                                    {% endfor %}
                                </select><br/>
                                <small style="line-height: 1.2em">No backup full é feita uma cópia completa de todos os arquivos "marcados" para backup. No incremental é feita uma cópia apenas das modificações. É importamente sempre manter uma política mista de backups.</small>
                            </p>
            			</div>		<!-- .sidebar_content ends -->
			        
            			<div class="sidebar_content" id="semanal">
            			    <p>
                                <input type="checkbox" name="schedule.weekly.active" class="schedule_activate" id="weekly" value="1" {% if schedule_weekly_active %}checked="checked"{% endif %} /> <label for="weekly">Ativar</label>
                            </p>
                            <div class="personal_message"><p>Executa o backup em determinados dias da semana, sempre no horário especificado.</p></div>
                            <p>
                                <label>Dias da semana:</label><br/>
                                {% for day in weekdays %}
                                <input type="checkbox" id="day_{{day}}" name="schedule.weekly.day" value="{{day}}"  {% if day in schedule_weekly_day %}checked="checked"{% endif %} />
                                <label for="day_{{day}}">{{day|title}}</label>
                                {% endfor %}
                            </p>
                            <p>
                                <label for="mothly_hour">Hora:</label><br/>
                                <input type="text" name="schedule.weekly.hour" id="mothly_hour" class="text small" style="width: 45px" maxlength="5" value="{{schedule_weekly_hour}}" /><br/>
                                <small>Exemplo: 10:20, 21:35 ou 07:08.</small>
                            </p>
                            <p>
                                <label for="level_id">Tipo de backup:</label><br/>
                                <select class="styled" id="level_id" name="schedule.weekly.level">
                                    {% for level in levels %}
                                    <option value="{{level}}" {% if schedule_weekly_level == level %}selected="selected"{% endif %}>{{level}}</option>
                                    {% endfor %}
                                </select>
                                <small style="line-height: 1.2em">No backup full é feita uma cópia completa de todos os arquivos "marcados" para backup. No incremental é feita uma cópia apenas das modificações. É importamente sempre manter uma política mista de backups.</small>
                            </p>
            			</div>		<!-- .sidebar_content ends -->
			        
            			<div class="sidebar_content" id="diario">
            			    <p>
                                <input type="checkbox" name="schedule.dayly.active" class="schedule_activate" id="dayly" value="1" {% if schedule_dayly_active %}checked="checked"{% endif %} /> <label for="dayly">Ativar</label><br/>
                            </p>
                            <div class="personal_message"><p>Executa o backup todos os dias, sempre no horário especificado.</p></div>
                            <p>
                                <label for="dayly_hour">Hora:</label><br/>
                                <input type="text" name="schedule.dayly.hour" id="dayly_hour" class="text small" style="width: 45px" maxlength="5" value="{{schedule_dayly_hour}}" /><br/>
                                <small>Exemplo: 10:20, 21:35 ou 07:08.</small>
                            </p>
                            <p>
                                <label for="level_id">Tipo de backup:</label>
                                <select class="styled" id="level_id" name="schedule.dayly.level">
                                    {% for level in levels %}
                                    <option value="{{level}}" {% if schedule_dayly_level == level %}selected="selected"{% endif %}>{{level}}</option>
                                    {% endfor %}
                                </select>
                                <small style="line-height: 1.2em">No backup full é feita uma cópia completa de todos os arquivos "marcados" para backup. No incremental é feita uma cópia apenas das modificações. É importamente sempre manter uma política mista de backups.</small>
                            </p>
            			</div>		<!-- .sidebar_content ends -->
                    
                        <div class="sidebar_content" id="minuto">
                            <p>
                                <input type="checkbox" name="schedule.hourly.active" class="schedule_activate" id="hourly" value="1" {% if schedule_hourly_active %}checked="checked"{% endif %} /> <label for="hourly">Ativar</label>
                            </p>
                            <div class="personal_message"><p>Executa o backup todas as horas do dia, sempre no minuto especificado.</p></div>
                            <p>
                                <label for="hourly_hour">Minuto:</label><br/>
                                <input type="text" name="schedule.hourly.hour" id="hourly_hour" class="text small" style="width: 20px" maxlength="2" value="{{schedule_hourly_hour}}" /><br/>
                                <small>Exemplo: 20, 35 ou 08.</small>
                            </p>
                            <p>
                                <label for="level_id">Tipo de backup:</label>
                                <select class="styled" id="level_id" name="schedule.hourly.level">
                                    {% for level in levels %}
                                    <option value="{{level}}" {% if schedule_hourly_level == level %}selected="selected"{% endif %}>{{level}}</option>
                                    {% endfor %}
                                </select>
                                <small style="line-height: 1.2em">No backup full é feita uma cópia completa de todos os arquivos "marcados" para backup. No incremental é feita uma cópia apenas das modificações. É importamente sempre manter uma política mista de backups.</small>
                            </p>
                        </div>

            		</div>		<!-- .block_content ends -->

		
            		<div class="bendl"></div>
            		<div class="bendr"></div>
		
            	</div>		<!-- .block .schedule ends -->
            	
            	
            	<script type="text/javascript" charset="utf-8">
    	            $(document).ready(function(){
    		            $('#fileset_id').change(function(){
    		                if ($('#fileset_id :selected').attr('id') == 'new_fileset') {
    		                    $('#fileset').slideDown();
    		                } else {
    		                    $('#fileset').slideUp();
    		                }
    		            });
    		            $('#fileset_id').change();
    	            });
    	        </script>

                {% if errors.profile_fileset_id %}
                <ul class="errorlist">
                    <li>{{ errors.profile_fileset_id }}</li>
                </ul>
                {% endif %}
                <p>
                    <label for="fileset_id">Conjunto de arquivos para backup:</label><br/>
                    <select class="styled" id="fileset_id" name="profile.fileset_id">
                        <option> - Selecione - </option>
                        {% for fileset in filesets %}
                        <option value="{{fileset.id}}" {% if profile_fileset_id == fileset.id %}selected="selected"{% endif %}>{{fileset.name}}</option>
                        {% endfor %}
                        <option id="new_fileset" value="new_fileset" {% if profile_fileset_id == "new_fileset" %}selected="selected"{% endif %}>Criar novo conjunto de arquivo</option>
                    </select>
                </p>
                
                <script type="text/javascript" charset="utf-8">
    	            $(document).ready(function(){
    	                $('#filepath_template').clone().appendTo('.filepaths').show();
    	                
    	                function remover_path(obj) {
    	                    $(obj).parent().remove();
    	                    if ($('#filepath_template').parent().children().length == 1) {
    	                        adicionar_path();
    	                    }
    	                }
    	                
    	                function adicionar_path(obj) {
    	                    if (obj) {
    	                        $('#filepath_template').clone().insertAfter($(obj).parent()).show();
    	                    } else {
    	                        $('#filepath_template').clone().appendTo('.filepaths').show();
    	                    }
    	                    
    	                    
    	                    $('.filepaths .add').unbind('click').click(function(){
        	                    adicionar_path(this);
        	                });
        	                
        	                $('.filepaths .del').unbind('click').click(function(){
        	                    remover_path(this);
        	                });
    	                }
    	                
    	                $('.filepaths .add').click(function(){
    	                    adicionar_path(this);
    	                });
    	                
    	                $('.filepaths .del').click(function(){
    	                    remover_path(this);
    	                });
    	            });
    	        </script>
                
                <div class="block" id="fileset" style="display: none">
            		<div class="block_head">
            			<div class="bheadl"></div>
            			<div class="bheadr"></div>
            			<h2>Criar novo conjunto de arquivos</h2>
            		</div>		<!-- .block_head ends -->
            		<div class="block_content">
                        <p>
                            {% if errors.fileset_name %}
                            <ul class="errorlist" style="">
                                <li>{{ errors.fileset_name }}</li>
                            </ul>
                            {% endif %}

                            <label for="fileset_name">Nome do conjunto de arquivos:</label><br/>
                            <input type="text" name="fileset_name" id="fileset_name" class="text mid" value="{{fileset_name}}" />


                        </p>

                        <p>
                            {% if errors.path %}
                            <ul class="errorlist" style="">
                                <li>{{ errors.path }}</li>
                            </ul>
                            {% endif %}
                        </p>

                        {% if path %}
                        <p>Arquivos selecionados:</p>
                        <ul class="tree" style="padding-left: 20px !important; margin-bottom: 20px">
                            {% for p in path %}
                            <li class="" style="padding-left: 20px"><span style="padding-left: 10px"><input type="checkbox" name="path" value="{{p}}" checked="checked" />{{p}}</span></li>
                            {% endfor %}
                        </ul>
                        <p>Selecionar mais arquivos:</p>
                        {% endif %}

                        <!-- <a href="#" id="update_tree">atualizar arvore</a> -->
                        <ul class="tree"><li class="directory first"><span><a href="#" path="/">Arquivos</a></span></li></ul>
            		    
            		    {% if 0 %}
                        <p>
                            <label for="fileset_name">Caminhos para backup:</label><br/>
                            <ol class="filepaths">
                                <li id="filepath_template" style="display: none"><input type="text" name="fileset_name" id="fileset_name" class="text medium" /> <span class="add"><img src="/media/icons/plus.png" /></span> <span class="del"><img src="/media/icons/minus.png" /></span></li>
                            </ol>
                        </p>
                        {% endif %}
                        <p></p>
            		</div>		<!-- .block_content ends -->
            		<div class="bendl"></div>
            		<div class="bendr"></div>
            	</div>		<!-- .block ends -->
                
        	</div> <!-- .novo_perfil -->
        	
        	<p>
        	    <input type="submit" class="submit small" value="Criar" />
    	    </p>
    	</form>
        
    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
