{% extends "base.html" %}

{% block headtags %}
<link type="text/css" rel="stylesheet" href="/media/css/backup.css"/>
<link rel="stylesheet" type="text/css" href="/media/css/schedules.css" />
<link rel="stylesheet" type="text/css" href="/media/css/colorbox.css" />

<script type="text/javascript" src="/media/lib/js/tree_plugin.js"></script>
<script type="text/javascript" src="/media/js/backup.js"></script>
<script type="text/javascript" src="/media/js/schedules.js"></script>
<script type="text/javascript" src="/media/js/jquery.colorbox.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    // set style for select fields
    $('select').addClass("style-select");
    $('option').addClass("style-option");
    $(".schedule").colorbox({
        href: "/backup/schedules/add",
        scrolling:false
    });
    $(".fileset").click(function(){
        $.colorbox.close();
        if ($("#id_procedure-computer").val())
        {
            //alert("/backup/filesets/add/"+$("#id_procedure-computer").val());
            $.colorbox({
                href: "/backup/filesets/add/"+$("#id_procedure-computer").val()
            });
        }
        else
        {
            $.colorbox({html:"<h2>Atenção!</h2><h3>Você precisa escolher um computador</h3>"});
        }
        return false;
    });
/*
 $(".fileset").colorbox({
 href: "/backup/filesets/add/"+$("#id_procedure-computer").val(),
 scrolling:false
 });
 */
});
</script>
<style type="text/css">
label{display:block;margin:0;padding:0;}
a.side_link{margin-top: 128px;}

/* All select elements on page */
select {
  position: relative;
}

/* Style by class. Effects the text of the contained options. */
select.style-select {
    padding: 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 300px;
}
option.style-option{
    
}
</style>
{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>
    <div class="block_content">
        <form action="/backup/add/" method="post">
        {% for form in forms %}
            {{ form.non_field_errors }}
            {% for field in form.visible_fields %}
                {% if field.errors %}
                <ul class="errorlist">
                    <li>{{ field.errors }}</li>
                </ul>
                {% endif %}
                <p><label>{{ field.label }}:</label>
                    {{ field }}
                    {% if field.label == 'Computer' %}
                        <a href="/computers/add" class="side_link">Adicionar Computador</a>
                    {% endif %}
                    {% if field.label == 'Schedule' %}
                        <a href="/schedules/add" class="side_link schedule">Adicionar Agendamento</a>
                    {% endif %}
                    {% if field.label == 'Fileset' %}
                        <a href="/filesets/add" class="side_link fileset">Adicionar Conjunto de Arquivos</a>
                    {% endif %}
                </p>
            {% endfor %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        {% endfor %}
        <p>
            <input type="submit" class="submit small" value="Criar" />
        </p>
        </form>
    </div>
</div>

{% endblock %}