{% extends "base.html" %}

{% block headtags %}
<link type="text/css" rel="stylesheet" href="/media/css/backup.css"/>
<link rel="stylesheet" type="text/css" href="/media/css/schedules.css" />
<script type="text/javascript" src="/media/lib/js/tree_plugin.js"></script>
<script type="text/javascript" src="/media/js/backup.js"></script>
<script type="text/javascript" src="/media/js/schedules.js"></script>
{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">
        
        <form action="/backup/add/" method="post">
            {% if computer %}
            <p></p>
            <div class="computer">
                <div class="computer-data">
                    <div class="title">
                        <img src="/media/icons/computer.png"/>
                        <h3>{{computer.name}}</h3>
                        <small class="ip">{{computer.address}} - {{computer.operation_system|title}} - {% for g in computer.groups.all %}{{g.name}}{% endfor %}</small>
                    </div>
                </div>
                <div class="computer-description">
                    {{computer.description}}
                </div>
                <div class="clear"></div>
                <input type="hidden" name="computer_id" id="computer_id" value="{{computer.id}}" />
            </div>
            {% endif %}
            
            {% if procedure_form.errors.name %}
            <ul class="errorlist">
                <li>{{ procedure_form.errors.name }}</li>
            </ul>
            {% endif %}
            <p>
                <label>Nome para o procedimento de backup:</label><br/>
                <input type="text" class="text small" name="procedure_name" value="{{ procedure_post.name }}" />
            </p>
            
            {% if not computer %}
            {% if procedure_form.errors.computer %}
            <ul class="errorlist">
                <li>{{ procedure_form.errors.computer }}</li>
            </ul>
            {% endif %}
            <p>
                <label for="computer_id">Computador que será efetuado o backup:</label><br/>
                <select class="styled" id="computer_id" name="procedure_computer">
                    <option value=""> - Selecione - </option>
                    {% for computer in computers %}
                    <option value="{{computer.id}}" {% if procedure_post.computer == computer.id|stringformat:"s" %}selected="selected"{% endif %}>{{computer.name}}</option>
                    {% endfor %}
                </select>
            </p>
            {% endif %}
            
            {% if procedure_form.errors.offsite_on %}
            <ul class="errorlist">
                <li>{{ procedure_form.errors.offsite_on }}</li>
            </ul>
            {% endif %}
            <p>
                <label for="offsite_on">Ativar backup offsite</label>
                <input type="checkbox" name="procedure_offsite_on" {% if procedure_form.offsite_on %}checked="checked"{% endif %} value="1" />
            </p>
            {% if pool_form.errors.retention_time %}
            <ul class="errorlist">
                <li>{{ pool_form.errors.retention_time }}</li>
            </ul>
            {% endif %}
            <p>
                <label for="retention_time">Tempo de retenção (em dias)</label></br>
                <input type="text" class="text small" name="pool_retention_time" value="{{ pool_post.retention_time }}" />
            </p>
            
            <!-- PROFILE -->
	        
            {% if procedure_form.errors.profile %}
            <ul class="errorlist">
                <li>{{ procedure_form.errors.profile }}</li>
            </ul>
            {% endif %}
            <p>
                <label>Escolha um perfil de configuração:</label><br/>
                {% for profile in profiles %}
                <input type="radio" name="procedure_profile" value="{{profile.id}}" class="radio profile" id="profile_{{profile.id}}" {% if profile.id == profile_id %}checked="checked"{% endif %} />
                <label for="profile_{{profile.id}}">{{profile.name}}</label>
                {% endfor %}
                <input type="radio" name="procedure_profile" value="new_profile" class="radio profile" id="profile_0" {% if procedure_post.profile == "new_profile" %}checked="checked"{% endif %} />
                <label for="profile_0">Criar um novo perfil</label><br/>
                <small>Um perfil de configuração é um conjunto de armazenamento, agendamento e caminhos de diretórios que serão feitos backup.</small>
            </p>
            
            <div class="novo_perfil">
                {% include "form_profile_add.html" %}
            </div>
            
    	    <p>
                <input type="submit" class="submit mid" value="Adicionar" />
            </p>
    	</form>
        
    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
