{% block headtags %}
<style type="text/css">
body{margin:0;}
</style>
<script type="text/javascript">
$(document).ready(function(){
    $(".submit").click(function(){
        alert("submit");
        // submit forms using ajax
        var dataString = 'name='+ name + '&email=' + email + '&phone=' + phone;
        //alert (dataString);return false;
        $.ajax({
            type: "POST",
            url: "bin/process.php",
            data: dataString,
            success: function() {
                $('#contact_form').html("<div id='message'></div>");
                $('#message').html("<h2>Contact Form Submitted!</h2>")
                .append("<p>We will be in touch soon.</p>")
                .hide()
                .fadeIn(1500, function() {
                    $('#message').append("<img id='checkmark' src='images/check.png' />");
                });
            }
        });
    });
});
</script>
<script type="text/javascript" src="/media/js/schedules.js"></script>
{% endblock %}


{% block page %}
<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">

        <form action="#" method="post" class="form_styled">
            {% for form in forms %}
                {{ form.non_field_errors }}
                {% for field in form.visible_fields %}
                    {% if field.errors %}
                    <ul class="errorlist">
                        <li>{{ field.errors }}</li>
                    </ul>
                    {% endif %}
                    <p><label>{{ field.label }}:</label>
                        {{ field }}
                    </p>
                {% endfor %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            {% endfor %}
            <p>
                <input type="button" class="submit mid" value="Adicionar" />
            </p>
        </form>
        <p></p>
    </div>

    <div class="bendl"></div>
	<div class="bendr"></div>

</div>
{% endblock %}