{% extends "base.html" %}

{% block headtags %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.toggle').click(function(){
            var target = $(this).attr('ref');
            $(this).parent().parent().find('.' + target).slideToggle();
            return false;
        });
    });
</script>
{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">
        <p><a href="/computers/add">Adicionar computador</a> • <a href="/computers/">Visualizar todos os computadores</a></p>

        <div class="computers">
            <div class="computer" style="padding: 20px; -moz-border-radius: 5px; background: #EEE; margin-bottom: 20px">
                <div class="left" style="float: left; width: 250px">
                    <div class="title">
                        <img src="/media/icons/computer.png" style="float: left; height: 32px; padding-right: 10px" />
                        <h3 class="name" style="margin: 0 0 -5px 0; padding: 0">{{computer.name}}</h3>
                        <small class="ip">{{computer.address}} - {{computer.operation_system|title}} - {% for g in computer.groups.all %}{{g.name}}{% endfor %}</small>
                    </div>
                    <p style="font-size: 10px; margin-top: 10px; line-height: 1.4em">{{computer.description}}</p>
                    <p style="font-size: 10px; margin: 0px; padding: 0; line-height: 1.4em"><a href="/computers/{{computer.id}}/edit/">Editar</a> - <a href="/computers/{{computer.id}}/delete/">Remover</a></p>
                </div>

                <div class="right" style="float: right; width: 600px">
                    {% if not computer.procedure_set.count %}
                        <div class="message warning">
                            <p>Não há procedimentos neste computador.</p>
                        </div>
                    {% else %}
                        <h4>ARQUIVOS PARA BACKUP</h4>
                        
                        <div class="files" style="padding: 10px; -moz-border-radius: 5px; background: #FFF; margin-bottom: 20px; border: 1px solid #CCC">
                            {% for proc in computer.procedure_set.all %}
                            <div class="file">
                                <div class="title">
                                    <a href="#" class="toggle" ref="fileset_detail">
                                        <img src="/media/icons/folder.png" style="float: left; height: 32px; padding-right: 10px" />
                                        <h4 class="name" style="margin: 0 0 -5px 0; padding: 0">{{proc.profile.fileset}}</h4>
                                        <small class="ip">{% for file in proc.profile.fileset.files.all|slice:":3" %}{{file.path}} - {% endfor %}</small>
                                    </a>
                                </div>
                                <div class="fileset_detail" style="display: none">
                                    Procedure: {{proc.name}}<br/>
                                    Offsite: {% if proc.offsite_on %}Sim{% else %}Não{% endif %}<br/>
                                    Pool: <span title="{{proc.pool.pool_size}} MB - {{proc.pool.retention_time}} dias">{{proc.pool.name}}</span><br/>
                                    Profile: {{proc.profile.name}}<br/>
                                    Storage: <a href="/storages/{{proc.profile.storage.id}}/view"><span title="Endereço: {{proc.profile.storage.address}} - {{proc.profile.storage.description|slice:":25"}}...">{{proc.profile.storage.name}}</span></a><br/>
                                    Schedule: {{proc.profile.schedule}}<br/>
                                    <br/>
                                </div>
                                <div class="clear"></div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        
        <div class="block-executados">
            <h3>Ocupação do backup</h3>
            <div class="" style="width: 200px; border: 1px solid green" title="72% de ocupação.">
                <div class="" style="width: 72%; background: green; height: 20px"></div>
            </div>
            <small>72% de ocupação</small>
            <div class="clear"></div>
		    <p></p>
        </div>
        
        <div class="block-executados">
		    <h3>Backups em execução</h3>
		    <div>
		        <div style="padding: 5px; background: #EEE"><img style="vertical-align: middle" src="/media/icons/tick_circle.png" /> <small>20/09/2010 10:25</small> Servidor Web <small>(13 arquivos)</small></div>
		        <div style="padding: 5px;"><img style="vertical-align: middle" src="/media/icons/tick_circle.png" /> <small>20/09/2010 10:15</small> Sala A - Comp 1 <small>(5 arquivos)</small></div>
		    </div>
		    <div class="clear"></div>
		    <p></p>
		</div>
        
        <div class="block-executados">
	        <div style="float: left; width: 49%">
    		    <h3>Últimos backups executados</h3>
    		    <div>
    		        <div style="padding: 5px; background: #EEE"><img style="vertical-align: middle" src="/media/icons/tick_circle.png" /> <small>19/09/2010 10:25</small> Servidor Web <small>(13 arquivos)</small></div>
    		        <div style="padding: 5px;"><img style="vertical-align: middle" src="/media/icons/tick_circle.png" /> <small>19/09/2010 10:15</small> Sala A - Comp 1 <small>(5 arquivos)</small></div>
    		        <div style="padding: 5px; background: #EEE"><img style="vertical-align: middle" src="/media/icons/exclamation.png" /> <small>19/09/2010 07:35</small> Diretor financeiro <small>(72 arquivos)</small></div>
    		        <div style="padding: 5px;"><img style="vertical-align: middle" src="/media/icons/tick_circle.png" /> <small>18/09/2010 23:00</small> Servidor de banco de dados <small>(30 arquivos)</small></div>
    		        <div style="padding: 5px; background: #EEE"><img style="vertical-align: middle" src="/media/icons/tick_circle.png" /> <small>17/09/2010 10:00</small> Diretor comercial <small>(124 arquivos)</small></div>
    		    </div>
		    </div>
		    <div style="float: right; width: 49%">
    		    <h3>Backup com falha</h3>
    		    <div>
    		        <div style="padding: 5px; background: #EEE"><img style="vertical-align: middle" src="/media/icons/exclamation.png" /> <small>19/09/2010 07:00</small> Servidor Web</div>
    		        <div style="padding: 5px;"><img style="vertical-align: middle" src="/media/icons/exclamation.png" /> <small>19/09/2010 07:00</small> Sala A - Comp 1</div>
    		        <div style="padding: 5px; background: #EEE"><img style="vertical-align: middle" src="/media/icons/exclamation.png" /> <small>19/09/2010 07:00</small> Diretor financeiro</div>
    		    </div>
		    </div>
		    <div class="clear"></div>
		    <p></p>
		</div>    
		
    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}