{% extends "base.html" %}

{% block headtags %}
<link rel="stylesheet" type="text/css" href="/media/css/computers.css" />
<script type="text/javascript" src="/media/js/computers.js"></script>
{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">
        <div class="left"><a href="/computers/add">Adicionar computador</a></div>
		
		<div id="computers-filter">
			<form action="/computers/list" method="get">
			<label for="computers-group">Filtrar por grupo</label>
			<select name="group" id="computers-group">
				<option value="">---</option>
				{% for group in groups %}
					<option value="{{group.name}}">{{group.name}}</option>
				{% endfor%}
			</select>
			<input type="submit" class="submit tiny" value="Filtrar"/>
			</form>
		</div>
		
        <div id="computers">
        {% for comp in computers %}
            {% ifchanged comp.groups.all %}
            <h2>{% for g in comp.groups.all %}{{ g.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</h2>
            {% endifchanged %}
            <div class="computer {% if not comp.active %}desativado{% endif %}" style="padding: 20px; -moz-border-radius: 5px; background: #EEE; margin-bottom: 20px">
                <div class="left" style="float: left; width: 250px">
                    <div class="title">
                        <img src="/media/icons/computer.png" style="float: left; height: 32px; padding-right: 10px" />
                        <h3 class="name" style="margin: 0 0 -5px 0; padding: 0"><a href="/computers/{{ comp.id }}/view">{{comp.name}}</a></h3>
                        <small class="ip">{{comp.address}} - {{comp.operation_system|title}} - {% for g in comp.groups.all %}{{g.name}}{% endfor %}</small>
                    </div>
                    <p style="font-size: 10px; margin-top: 10px; line-height: 1.4em">{{comp.description}}</p>
                    <p style="font-size: 10px; margin: 0px; padding: 0; line-height: 1.4em"><a href="/computers/{{comp.id}}/edit/">Editar</a> - <a href="/computers/{{comp.id}}/delete/">Remover</a></p>
                </div>
                <div class="right" style="float: right; width: 600px">
                    <div style="float: right">
                        {% if not comp.active %}
                        <form action="/computers/{{comp.id}}/activate/" method="post" style="float: right">
                            <input type="submit" class="submit tiny" value="Ativar" style="float: right; font-size: 11px; margin-right: 0; margin-left: 5px;" />
                        </form>
                        {% endif %}
                        {% if comp.procedure_set.count %}
                        <form action="/restore/{{comp.id}}/view/" method="post" style="float: right">
                            <input type="submit" class="submit tiny" value="Restaurar" style="float: right; font-size: 11px; margin-right: 0; margin-left: 5px;" />
                        </form>
                        {% endif %}
                        <form action="/backup/{{comp.id}}/add/" method="get" style="float: right">
                            <input type="submit" class="submit tiny" value="Criar backup" style="float: right; font-size: 11px; margin-right: 0; margin-left: 5px;" />
                        </form>
                    </div>
                    {% if not comp.procedure_set.count %}
                        <p>Não existem procedimentos para este computador.</p>
                    {% else %}
                        <h4 style="float: left">ARQUIVOS PARA BACKUP</h4>
                        <div class="clear"></div>
                        <div class="files" style="padding: 10px; -moz-border-radius: 5px; background: #FFF; margin-bottom: 20px; border: 1px solid #CCC">
                            {% for proc in comp.procedure_set.all %}
                            <div class="file">
                                <div class="title">
                                    <a href="#" class="toggle" ref="fileset_detail">
                                        <img src="/media/icons/folder.png" style="float: left; height: 32px; padding-right: 10px" />
                                        <h4 class="name" style="margin: 0 0 -5px 0; padding: 0">{{proc.profile.fileset}}</h4>
                                        <small class="ip">{% for file in proc.profile.fileset.files.all|slice:":3" %}{{file.path}} - {% endfor %}</small>
                                    </a>
                                </div>
                                <div class="fileset_detail" style="display: none">
                                    <br/>
                                    Offsite ativado? <strong>{% if proc.offsite_on %}Sim{% else %}Não{% endif %}</strong><br/>
                                    Perfil de configuração: <strong>{{proc.profile.name}}</strong> <small>(<a href="{% url nimbus.procedures.views.profile_edit object_id=proc.profile.id %}">editar</a>)</small><br/>
                                    Local de armazenamento: <strong><a href="/storages/{{proc.profile.storage.id}}/view"><span title="Endereço: {{proc.profile.storage.address}} - {{proc.profile.storage.description|slice:":25"}}...">{{proc.profile.storage.name}}</span></a></strong><br/>
                                    Agendamento: <strong>{{proc.profile.schedule}}</strong> <small>(<a href="{% url nimbus.schedules.views.edit object_id=proc.profile.schedule.id %}">editar</a>)</small><br/>
                                    Arquivos: <small>(<a href="{% url nimbus.filesets.views.edit object_id=proc.profile.fileset.id %}">editar</a>)</small>
                                    <ul>
                                        {% for file in proc.profile.fileset.files.all %}
                                        <li><strong>{{file}}</strong></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
        {% empty %}
            <p>Não existem computadores adicionados.</p>
        {% endfor %}
        </div>
    
    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}