{% extends "templates/bkp/base.html" %}
{% load bkp_extras %}
{% block content %}
<!-- Begin Stats -->

<h2>Estatísticas</h2>
<ul>
    <li><a href="{{script_name}}/statistics/main">Principal</a></li>
    <li><a href="{{script_name}}/statistics/history">Histórico</a></li>
</ul>


<div class="titulo_botoes">
<h2>Procedimentos Executando</h2>
</div>
<div class="bloco_texto">
{% if runningjobs %}
<table>
<thead>
	<tr>
	<th scope='col'>Procedimento</th>
	<th scope='col'>Computador</th>
	<th scope='col'>Nível</th>
	<th scope='col'>Data Início</th>
	<th scope='col'>Hora Início</th>
	<th scope='col'>Fim</th>
	</tr>
</thead>
<tbody>
{% for job in runningjobs %}
<tr class="{% cycle 'odd' 'even' %}">
<td> {{job.Name}} </td>
<td> {{job.cName}} </td>
<td> {{job.Level|friendly_level}} </td>
<td> {{job.Name}} </td>
<td> {{job.StartTime|friendly_date}} </td>
<td> {{job.StartTime|friendly_hour}} </td>
<td> {{job.EndTime}} </td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>Nenhum procedimento executando.</p>
{% endif %}
</div>
<br />

<div class="titulo_botoes">
<h2>Últimos Procedimentos Executados</h2>
</div>

<div class="bloco_texto">
{% if lastjobs %}

<table>
<thead>
	<tr>
	<th scope='col'>Procedimento</th>
	<th scope='col'>Computador</th>
	<th scope='col'>Nível</th>
	<th scope='col'>Data Início</th>
	<th scope='col'>Hora Início</th>
	<th scope='col'>Arquivos</th>
	<th scope='col'>Bytes</th>
	<th scope='col'>Erros</th>
	<th scope='col'>Status</th>
	</tr>
</thead>
<tbody>
{% for job in lastjobs %}
<tr class="{% cycle 'odd' 'even' %}"> 
<td> {{job.Name}} </td>
<td> {{job.cName}} </td>
<td> {{job.Level|friendly_level}} </td>
<td> {{job.StartTime|friendly_date}} </td>
<td> {{job.StartTime|friendly_hour}} </td>
<td> {{job.JobFiles}} </td>
<td> {{job.JobBytes|friendly_size_mb}} </td>
<td> {{job.JobErrors}} </td>
<td> {{job.JobStatus|friendly_status}} </td>

</tr>
{% endfor %}
</tbody>
</table>

{% else %}
<p>Nenhum procedimento recente.</p>
{% endif %}
</div>


<!-- End Stats -->
{% endblock %}
