{% extends "bkp/base.html" %}
{% load bkp_extras %}

{% block headtags %}
    <script type="text/javascript" src="{{script_name}}/static/jquery.treeview.js"></script>
    <link type="text/css" rel="stylesheet" href="{{script_name}}/static/jquery.treeview.css"></link>
    
    <script type="text/javascript">
        $(document).ready(
            function() {
                $('.filetree').treeview({animated: 'fast'});
            }
        );
    </script>
{% endblock %}

{% block content %}
<hr />
    <div class="titulo_botoes">
	    <h3>
	        <span>Arquivos Disponíveis: {{file_count}}</span>
	    </h3>
	    <div class="botao_acoes"></div>
	</div>
	
	<form action="">
	<div class="bloco_texto">
		<ul class="filetree">
		{% for dir in file_tree.keys %}
			<li><span class="folder"><input type="checkbox" name="bla" /> {{dir}}</span>
			<ul>
			{% for file in file_tree|get_value:dir %}
				<li><span class="file"><input type="checkbox" name="bla" /> {{file}}</span></li>
			{% endfor %}
			</ul>
			</li>
        {% endfor %}
		</ul>
    </div>
    </form>





	{% if debug %}
	<div class="bloco_texto">
		{% for file in file_tree %}
			{% if forloop.first %}
		        <table>
		        <thead>
			        <tr>
					<th scope='col'>FJobId</th>
			        <th scope='col'>Tipo</th>
			        <th scope='col'>Caminho</th>
			        <th scope='col'>Arquivo</th>
			        </tr>
		        </thead>
		        <tbody>
			{% endif %}
        <tr> 
			<td>{{ file.FJobId }}</td>
			{% if file.Name %}
	        <td> Arquivo </td>
			{% else %}
	        <td> Diretório </td>
			{% endif %}
	        <td> {{ file.Path }} </td>
	        <td> {{ file.Name }} </td>
		</tr>
			{% if forloop.last %}
		</tbody>
		</table>
			{% endif %}
        {% endfor %}
    </div>
	{% endif %}



<a href="{{script_name}}/computer/{{comp.id}}">Cancelar</a>
<hr />
{% endblock %}
