{% extends "bkp/base.html" %}
{% load bkp_extras %}

{% block headtags %}
    <script type="text/javascript" src="{{script_name}}/static/jquery.treeview.js"></script>
    <link type="text/css" rel="stylesheet" href="{{script_name}}/static/jquery.treeview.css"></link>
    
    <script type="text/javascript">
        $(document).ready(
            function() {
                $('.filetree').treeview(
                    {animated: 'fast', collapsed: true}
                );
                
                $('*[rel=tree_select_input]').click(
                    function() {
                        checked = $(this).attr('checked');
                        disabled = checked ? true : false;
                        
                        _id = $(this).attr('id');
                        $('*[rel=' + _id + ']').attr('checked', checked);
                        //$('*[rel=' + _id + ']').attr('disabled', disabled);
                    }
                );
                
                $('.tree_child_select_input').click(
                    function() {
                        _parent_id = $(this).attr('rel');
                        console.log($('#' + _parent_id).attr('checked'));
                        if ($('#' + _parent_id).attr('checked')) {
                            console.log('true');
                            $('#' + _parent_id).attr('checked', false);
                            //$('*[rel=' + _parent_id + ']').attr('disabled', disabled);
                        } else {
                            all_checked = true;
                            $('*[rel=' + $(this).attr('rel') + ']').each(function () {
                                if (!$(this).attr('checked')) {
                                    all_checked = false;
                                }
                            });
                            if (all_checked) {
                                $('#' + _parent_id).attr('checked', true);
                            }
                        }
                    }
                );
                
                $('form').submit(function() {
                    $('*[rel=tree_select_input]').each(function(){
                        if ($(this).attr('checked')) {
                            $('*[rel=' + $(this).attr('id') + ']').attr('disabled', true);
                        }
                    });
                });
            }
        );
    </script>
{% endblock %}

{% block content %}
    <h1>Backup de {{ comp.computer_name }}</h1>
    <h2>Procedimento: {{ proc.procedure_name }}</h2>

<h3>Informações</h3>
<br />
	<div class="bloco_texto">
	    <ul class="aux">
	        <li><strong class="label">Computador de Origem:</strong> <span class="value">{{src_client}}</span></li>
	        <li><strong class="label">Data do Backup:</strong> <span class="value">{{target_dt}}</span></li>
	    </ul>
	</div>

<h3>Restaurar Em: </h3>
<br />
<form action="{{script_name}}/computer/{{comp_id}}/restore/" method="POST">


{% for field in restore_form %}
    <div class="fieldWrapper">
	{{field.errors}}
	{{field.label_tag}} {{field}}
    </div>
{% endfor %}

{% if hidden_restore_form %}
{# we have an valid object, so render it #}
	{% for field in hidden_restore_form %}
		{{ field }}
	{% endfor %}
{% else %}
{# build fields from scratch #}
	 <input type="hidden" name="fileset_name" value="{{fileset_name}}" id="id_fileset_name" />
	 <input type="hidden" name="client_source" value="{{src_client}}" id="id_client_source" />
	 <input type="hidden" name="target_dt" value="{{target_dt}}" id="id_target_dt" />
{% endif %}


<input type="submit" value="restaurar" />
</form>

    
    <div class="titulo_botoes">
	    <h3>
	        <span>Arquivos Disponíveis: {{file_count}}</span>
	    </h3>
	    <div class="botao_acoes"></div>
	</div>
	
	<form action="{{ script_name }}/computer/{{ comp.id }}/procedure/{{ proc.id }}/tmp_restore/{{ job_id }}/" method="post">
	<div class="bloco_texto">
		<ul class="filetree">
		{% include 'bkp/tmp/new_tmp_restore_tree.html' %}
		</ul>
    </div>
    <button type="submit"><span>Restaurar</span></button>
    </form>





	{% if debug %}
	<div class="bloco_texto">
		{% for file in file_tree %}
			{% if forloop.first %}
		        <table>
		        <thead>
			        <tr>
					<th scope='col'>FJobId</th>
			        <th scope='col'>Tipo</th>
			        <th scope='col'>Caminho</th>
			        <th scope='col'>Arquivo</th>
			        </tr>
		        </thead>
		        <tbody>
			{% endif %}
        <tr> 
			<td>{{ file.FJobId }}</td>
			{% if file.Name %}
	        <td> Arquivo </td>
			{% else %}
	        <td> Diretório </td>
			{% endif %}
	        <td> {{ file.Path }} </td>
	        <td> {{ file.Name }} </td>
		</tr>
			{% if forloop.last %}
		</tbody>
		</table>
			{% endif %}
        {% endfor %}
    </div>
	{% endif %}



<a href="{{script_name}}/computer/{{comp.id}}">Cancelar</a>
<hr />
{% endblock %}
