{% extends "bkp/base.html" %}
{% load bkp_extras %}

{% block headtags %}
{% ifequal restore_step 3 %}
    <script type="text/javascript" src="{{script_name}}/static/jquery.treeview.js"></script>
    <link type="text/css" rel="stylesheet" href="{{script_name}}/static/jquery.treeview.css"></link>
    <script type="text/javascript" src="{{script_name}}/static/main_tree.js"></script>
{% endifequal %}
{% endblock %}




{% block content %}
<hr />

    {% include 'bkp/restore_steps.html' %}

<!--
	<div class="bloco_texto">
    <p>	DEBUG: </p>
    <p> Passo: {{restore_stepv}} </p>
{% if comp %}
	<p>Computador: {{ comp.computer_name}}</p>
{% if proc %}	
	<p>Procedimento: {{ proc.procedure_name }}</p> 
	<p>Arquivos: </p>
	<ul>
		{% for fset in proc.fileset_set.all %}
		<li>
		{{ fset.path }}
		</li>
		{% endfor %}
	</ul>
{% endif %}
{% endif %}
	<p>Data: {{ target_dt }}</p>
	</div>
-->



<div class="bloco_texto">
{# Passo 0 #}
{% ifequal restore_step 0 %}
<p>Escolha Computador para prosseguir.</p>

<form action="{{script_name}}/restore/new" method="POST" id="restorecomp_form">
{% for field in restorecomp_form %}
    <div class="fieldWrapper">
	{{field.errors}}
	{{field.label_tag}} {{field}}
    </div>
{% endfor %}
<button type="submit"><span>Prosseguir</span></button>
</form>
{% endifequal %}



{# Passo 1 #}
{% ifequal restore_step 1 %}
<p>Escolha Procedimento para prosseguir.</p>

<form action="{{script_name}}/computer/{{comp.id}}/restore/new" method="POST" id="restoreproc_form">
{% for field in restoreproc_form %}
    <div class="fieldWrapper">
	{{field.errors}}
	{{field.label_tag}} {{field}}
    </div>
{% endfor %}
<a href="{{script_name}}/restore/new">&laquo; Voltar</a> <button type="submit"><span>Prosseguir</span></button> 
</form>
{% endifequal %}



{# Passo 2 #}
{% ifequal restore_step 2 %}
    <div class="titulo_botoes">
	    <h3>
	        <span>Opções de Restore</span>
	    </h3>
	    <div class="botao_acoes"></div>
	</div>
	<div class="bloco_texto">
		{% if restore_jobs %}
		{% for job in restore_jobs %}
			{% if forloop.first %}
		        <table>
		        <thead>
			        <tr>
			        <th scope='col'>JobId</th>
			        <th scope='col'>Data Início</th>
			        <th scope='col'>Hora Início</th>
			        <th scope='col'>Arquivos</th>
			        <th scope='col'>Bytes</th>
			        <th scope='col'>Nível</th>
			        <th scope='col'></th>
			        </tr>
		        </thead>
		        <tbody>
			{% endif %}
        <tr> 
	        <td> {{ job.JobId }} </td>
	        <td> {{ job.StartTime|friendly_date }} </td>
	        <td> {{ job.StartTime|friendly_hour }} </td>
	        <td> {{ job.JobFiles }} </td>
	        <td> {{ job.JobBytes|friendly_size_mb }} </td>
	        <td> {{ job.Level|friendly_level }} </td>
			<td>
															
			<button onclick="location.href='{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/job/{{job.JobId}}/restore/new?fset={{job.FileSet}}&dt={{job.StartTime}}&src={{job.cName}}';return false"><span>&raquo;</span></button>
			</td>
		</tr>
			{% if forloop.last %}
		</tbody>
		</table>
			{% endif %}
        {% endfor %}
		{% else %}
		<p>Não existem opções de restauração pra esse procedimento.</p>
		{% endif %}
    </div>

<p><a href="{{script_name}}/computer/{{comp.id}}/restore/new">&laquo; Voltar</a></p>

{% endifequal %}


{# Passo 3 #}
{% ifequal restore_step 3 %}
<form action="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/job/{{job_id}}/restore/new" method="POST" id="restoreproc_form">
{% if hidden_restore_form %}
{# we have an valid object, so render it #}
	{% for field in hidden_restore_form %}
		{{ field }}
	{% endfor %}
{% else %}
{# build fields from scratch #}
	 <input type="hidden" name="fileset_name" value="{{fileset_name}}" id="id_fileset_name" />
	 <input type="hidden" name="client_source" value="{{src_client}}" id="id_client_source" />
	 <input type="hidden" name="target_dt" value="{{target_dt}}" id="id_target_dt" />
{% endif %}

    <div class="titulo_botoes">
	    <h3>
	        <span>Arquivos Disponíveis: {{file_count}}</span>
	    </h3>
	    <div class="botao_acoes"></div>
	</div>
	
	<div class="bloco_texto">
		<ul class="filetree">
		{% include 'bkp/tmp/new_tmp_restore_tree.html' %}
		</ul>

	{% for field in restore_form %}
	    <div class="fieldWrapper">
		{{field.errors}}
		{{field.label_tag}} {{field}}
	    </div>
	{% endfor %}
    </div>
<a href="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/restore/new">&laquo; Voltar</a> <button type="submit"><span>Restaurar</span></button>
</form>
{% endifequal %}

</div>

<hr />
{% endblock %}
