{% extends "base_wizard.html" %}

{% if page_name == 'timezone' %}
{% block headtags %}
<script type="text/javascript">

    $(document).ready(function() {
        $("select#id_country").bind("change", getAreaChoices);
        
        $('#offsite_form #id_active').change(function(){
            input_active = $('#offsite_form #id_active');
            ps = input_active.parents().filter('p').siblings().filter(':not(p:last)');
            if (input_active.attr('checked')) {
                ps.slideDown();
            } else {
                ps.slideUp();
            }
        }).change();
    });
 
    function getAreaChoices() {
        $.ajax({
            type: "POST",
            url: "{% url nimbus.timezone.views.area_request %}",
            dataType: "json",
            data: {country: $('[name=country]').val()},
            success: function(data, textStatus){
                $("select#id_area").empty();
                $.each(data, function(i, item){
                    $("select#id_area").append(
                        '<option value="'+item+'" selected="selected">'+item+'</option>'
                    );
                });
                $("select#id_area").change();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Status: "+textStatus+".");
                this; // the options for this ajax request
            }
        });
    }

</script>
{% endblock %}
{% endif %}

{% block content %}

    <form action="" method="post" id="{{page_name}}_form">
        
        {% include "form.html" %}

        <p class="input_submit">
            <input type="submit" class="submit" value="Próximo" /> &nbsp;
        </p>
               
        <input type="hidden" name="next" value="{{ next }}" />

    </form>


{% endblock %}