{% extends "bkp/base.html" %}
{% block content %}

    <div class="titulo_botoes">
        <img class="ico_secao" src="{{script_name}}/static/imagens/ico_big_comp.gif" />
	    <h2>
	        <span>Computador</span><br/>
	        {{ comp.computer_name }} <span class="toogle_pequeno"><a href="{{script_name}}/{{comp.view_url}}">(voltar)</a></span>
	        
	    </h2>
    </div>
<div class="titulo_botoes">
    <h3>bacula-fd.conf</h3>
    <div class="botao_acoes">
         <form action="{{script_name}}/{{comp.computer_dump_config_url}}" method="POST"><button type="submit"><span>baixar</span></form>
    </div>
</div>
<div class="bloco_texto">
{% for line in computer_config %}
{{ line }}<br />
{% endfor %}
</div>

{% endblock %}