{% extends "bkp/base.html" %}
{% load bkp_extras %}
{% block content %}

    <div class="titulo_botoes">
        <img class="ico_secao" src="{{script_name}}/static/imagens/ico_big_comp.gif" />
	    <h2>
	        <span>Computador</span><br/>
	        {{ comp.computer_name }} <span class="toggle pequeno" rel="detalhes_computador">(ver detalhes)</span>
	    </h2>
	    <div class="botao_acoes">
	        <button onclick="location.href='{{script_name}}/{{comp.edit_url}}'"><span>Alterar</span></button>
		    <button onclick="location.href='{{script_name}}/{{comp.delete_url}}';" class="red"><span>Remover</span></button>
	    </div>
	</div>
	
	<div class="bloco_texto escondido" id="detalhes_computador">
	    <div class="titulo_botoes">
		<div class="botao_acoes">
	        <form action="{{script_name}}/{{comp.run_test_url}}" method="post">
	            <button type="submit"><span>Testar Conexão</span></button>
	        </form>
		</div>
		</div>

	    <ul class="aux">
	        <li><strong class="label">IP:</strong> <span class="value">{{ comp.ip }}</span></li>
	        <li><strong class="label">Descrição:</strong> <span class="value">{{ comp.description }}</span></li>
	        <li><strong class="label">Status:</strong> <span class="value">{{ compstatus }}</span></li>
	        <li><strong class="label">Password:</strong> <span class="value">{{ comp.fd_password }}</span></li>
	    </ul>
	</div>

    <div class="titulo_botoes">
	    <h3>
	        <span>Procedimentos</span>
	    </h3>
	    <div class="botao_acoes">
	        <button onclick="location.href='{{script_name}}/computer/{{comp.id}}/procedure/new';"><span class="">Adicionar</span></button>
	    </div>
	</div>
	<div class="bloco_texto">
	{% if not comp.procedure_set.count %}
	    <span>Não existem procedimentos cadastrados para este computador.</span>
	{% endif %}
    {% for proc in comp.procedure_set.all %}
        <div class="procedure">
            <div class="titulo_topo">
                <h3><a href="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/tmp_restore/{{job.JobID}}"> {{ proc.procedure_name }} </a>
                    <span class="toggle pequeno" rel="detalhes_procedure_{{ proc.id }}">(ver detalhes)</span></h3>
                <div class="botao_acoes">
	                <button onclick="location.href='{{script_name}}/{{proc.new_run_url}}'"><span>Executar</span></button>
	                <button onclick="location.href='{{script_name}}/{{proc.edit_url}}'"><span>Alterar</span></button>
	                <button onclick="location.href='{{script_name}}/{{proc.delete_url}}'" class="red"><span>Remover</span></button>
	            </div>
	        </div>
	        <ul class="aux escondido" id="detalhes_procedure_{{ proc.id }}">
	            <li>
	                <img class="ico_secao" src="{{script_name}}/static/imagens/ico_big_gear.gif" />
	                <span class="label"><strong>Caminhos do backup:</strong><br/>
	                    <a href="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/fileset/new"><img src="/static/imagens/ico_plus.gif" /></a></span>
	                <span class="value">
	                {% if not proc.fileset_set.count %}
	                (vazio)
	                {% endif %}
					{% for fset in proc.fileset_set.all %}
	                	{{ fset.path }}
			            <button onclick="location.href='{{script_name}}/{{fset.delete_url}}'" class="button_delete" title="Remover este item."><span>Remover</span></button><br/>
	                {% endfor %}
	                </span>
	            </li>
	            <li>
	                <img class="ico_secao" src="{{script_name}}/static/imagens/ico_big_clock.gif" />
	                <span class="label"><strong>Agendamentos:</strong><br/>
	                    <a href="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/schedule/new"><img src="/static/imagens/ico_plus.gif" /></a></span>
	                {% if not p.schedule_set.count %}
	                <span class="value">(vazio)</span>
	                {% endif %}
	                {% for sched in p.schedule_set.all %}
	                <span class="value">
	                    Tipo: {{ sched.type }}
                        <ul>
                        {% for wtrigg in sched.weeklytrigger_set.all %}
                            <li>Nível: {{ wtrigg.level }}</li>
                            <li>Hora: {{ wtrigg.hour }}</li>
                            <li>Dias da semana:
                            {% for day, day_br in DAYS_OF_THE_WEEK.items %}
                                {% if wtrigg|get_method:day %}
                                    {{ day_br }}
                                {% endif %}
                            {% endfor %}
                            </li>
                        {% endfor %}
                        {% for mtrigg in sched.monthlytrigger_set.all %}
                            <li>Nível: {{ mtrigg.level }}</li>
                            <li>Hora: {{ mtrigg.hour }}</li>
                            <li>Dias: {{ mtrigg.target_days }}</li>
                        {% endfor %}
                        </ul>
	                    <button onclick="location.href='{{script_name}}/{{sched.edit_url}}';return false"><span>Editar</span></button>
	                    <button onclick="location.href='{{script_name}}/{{sched.delete_url}}';return false" class="red"><span>Remover</span></button>
                    </span>
                    {% endfor %}
                </li>
	        </ul>
	        
        </div>
    {% endfor %}
    </div>

    <div class="titulo_botoes">
	    <h3>
	        <span>Procedimentos Executando</span>
	    </h3>
	    <div class="botao_acoes"></div>
	</div>
	<div class="bloco_texto">
		{% for job in running_jobs %}
			{% if forloop.first %}
		        <table>
		        <thead>
			        <tr>
			        <th scope='col'>Nome</th>
			        <th scope='col'>Tipo</th>
			        <th scope='col'>Data Início</th>
			        <th scope='col'>Hora Início</th>
			        <th scope='col'>Duração</th>
			        <th scope='col'>Status</th>
			        </tr>
		        </thead>
		        <tbody>
			{% endif %}
        <tr> 
	        <td> {{ job.Name }} </td>
	        <td> {{ job.Level|friendly_level }} </td>
	        <td> {{ job.StartTime|friendly_date }} </td>
	        <td> {{ job.StartTime|friendly_hour }} </td>
	        <td> {{ job.Duration|friendly_duration_min }} </td>
	        <td> {{ job.JobStatus|friendly_status }} </td>
		</tr>
			{% if forloop.last %}
		</tbody>
		</table>
			{% endif %}
        {% endfor %}
    </div>



    <div class="titulo_botoes">
	    <h3>
	        <span>Últimos Procedimentos Executados</span>
	    </h3>
	    <div class="botao_acoes"></div>
	</div>
	<div class="bloco_texto">
		{% for job in last_jobs %}
			{% if forloop.first %}
		        <table>
		        <thead>
			        <tr>
			        <th scope='col'>Nome</th>
			        <th scope='col'>Tipo</th>
			        <th scope='col'>Arquivos</th>
			        <th scope='col'>Tamanho</th>
			        <th scope='col'>Data Início</th>
			        <th scope='col'>Hora Início</th>
			        <th scope='col'>Duração</th>
			        <th scope='col'>Status</th>
			        </tr>
		        </thead>
		        <tbody>
			{% endif %}
        <tr> 
	        <td> {{ job.Name }} </td>
	        <td> {{ job.Level|friendly_level }} </td>
	        <td> {{ job.JobFiles }} </td>
	        <td> {{ job.JobBytes|friendly_size_mb }} </td>
	        <td> {{ job.StartTime|friendly_date }} </td>
	        <td> {{ job.StartTime|friendly_hour }} </td>
	        <td> {{ job.Duration|friendly_duration_min }} </td>
	        <td> {{ job.JobStatus|friendly_status }} </td>
		</tr>
			{% if forloop.last %}
		</tbody>
		</table>
			{% endif %}
        {% endfor %}
    </div>
{% endblock %}
