{% extends "bkp/base.html" %}
{% load bkp_extras %}
{% block content %}

    <div class="titulo_botoes">
	    <h2>
	        <span>Computador</span><br/>
	        {{ comp.computer_name }}
	    </h2>
	    <div class="botao_acoes">
	        <button onclick="location.href='{{script_name}}/{{comp.edit_url}}'"><span>Alterar</span></button>
		    <button onclick="location.href='{{script_name}}/{{comp.delete_url}}';"><span>Remover</span></button>
	    </div>
	</div>
	
	<div class="bloco_texto">
	    <div class="titulo_botoes">
		<div class="botao_acoes">
	        <form action="{{script_name}}/{{comp.run_test_url}}" method="post">
	            <button type="submit"><span>Testar Conexão</span></button>
	        </form>
		</div>
		</div>

	    <ul class="aux">
	        <li><strong class="label">IP:</strong> <span class="value">{{ comp.ip }}</span></li>
	        <li><strong class="label">Descrição:</strong> <span class="value">{{ comp.description }}</span></li>
	        <li><strong class="label">Status:</strong> <span class="value">{{ compstatus }}</span></li>
	    </ul>
	</div>

    <div class="titulo_botoes">
	    <h3>
	        <span>Procedimentos</span>
	    </h3>
	    <div class="botao_acoes">
	        <button onclick="location.href='{{script_name}}/computer/{{comp.id}}/procedure/new';"><span class="">Adicionar</span></button>
	    </div>
	</div>
	<div class="bloco_texto">
	{% if not comp.procedure_set.count %}
	    <span>Não existem procedimentos cadastrados para este computador.</span>
	{% endif %}
    {% for p in comp.procedure_set.all %}
        <div class="procedure">
            <div class="titulo_topo">
                <h3><strong>{{ p.procedure_name }}</strong></h3>
                <div class="botao_acoes">
	                <button onclick="location.href='{{script_name}}/{{p.new_run_url}}'"><span>Executar</span></button>
	                <button onclick="location.href='{{script_name}}/{{p.edit_url}}'"><span>Alterar</span></button>
	                <button onclick="location.href='{{script_name}}/{{p.delete_url}}'"><span>Remover</span></button>
	            </div>
	        </div>
	        <ul class="aux">
	            <!--li><span class="label">Caminho para recuperação:</span> <span class="value">{{ p.restore_path }}</span></li-->
	            <li>
	                <span class="label">Caminhos do backup:<br/>
	                    <a href="{{script_name}}/computer/{{comp.id}}/procedure/{{p.id}}/fileset/new">adicionar</a></span>
	                <span class="value">
					{% for fs in p.fileset_set.all %}
	                	{{ fs.path }}
			            <button onclick="location.href='{{script_name}}/{{fs.delete_url}}'"><span>Remover</span></button>
	                {% endfor %}
	                </span>
	            </li>
	            <li>
	                <span class="label">Agendamentos:<br/>
	                    <a href="{{script_name}}/computer/{{comp.id}}/procedure/{{p.id}}/schedule/new">adicionar</a></span>
	                {% for sc in p.schedule_set.all %}
	                <span class="value">
	                    Tipo: {{ sc.type }}
                        <ul>
                        {% for scwt in sc.weeklytrigger_set.all %}
                            <li>Nível: {{ scwt.level }}</li>
                            <li>Hora: {{ scwt.hour }}</li>
                            <li>Dias da semana:
                            {% for day, day_br in DAYS_OF_THE_WEEK.items %}
                                {% if scwt|get_method:day %}
                                    {{ day_br }}
                                {% endif %}
                            {% endfor %}
                            </li>
                        {% endfor %}
                        {% for scmt in sc.monthlytrigger_set.all %}
                            <li>Nível: {{ scmt.level }}</li>
                            <li>Hora: {{ scmt.hour }}</li>
                            <li>Dias: {{ scmt.target_days }}</li>
                        {% endfor %}
                        </ul>
	                    <button onclick="location.href='{{script_name}}/{{sc.edit_url}}';return false"><span>Editar</span></button>
	                    <button onclick="location.href='{{script_name}}/{{sc.delete_url}}';return false"><span>Remover</span></button>
                    </span>
                    {% endfor %}
                </li>
	        </ul>
	        
        </div>
    {% endfor %}
    </div>

    <div class="titulo_botoes">
	    <h3>
	        <span>Procedimentos Executando</span>
	    </h3>
	    <div class="botao_acoes"></div>
	</div>
	<div class="bloco_texto">
		{% for job in running_jobs %}
			{% if forloop.first %}
		        <table>
		        <thead>
			        <tr>
			        <th scope='col'>Job</th>
			        <th scope='col'>Level</th>
			        <th scope='col'>Status</th>
			        <th scope='col'>Start</th>
			        <th scope='col'>End</th>
			        <th scope='col'>JobFiles</th>
			        <th scope='col'>JobBytes</th>
			        <th scope='col'>Errors</th>
			        </tr>
		        </thead>
		        <tbody>
			{% endif %}
        <tr> 
	        <td> {{ job.Name }} </td>
	        <td> {{ job.Level|friendly_level }} </td>
	        <td> {{ job.JobStatus }} </td>
	        <td> {{ job.StartTime }} </td>
	        <td> {{ job.EndTime }} </td>
	        <td> {{ job.JobFiles }} </td>
	        <td> {{ job.JobBytes }} </td>
	        <td> {{ job.JobErrors }} </td>
		</tr>
			{% if forloop.last %}
		</tbody>
		</table>
			{% endif %}
        {% endfor %}
    </div>



    <div class="titulo_botoes">
	    <h3>
	        <span>Últimos Procedimentos Executados</span>
	    </h3>
	    <div class="botao_acoes"></div>
	</div>
	<div class="bloco_texto">
		{% for job in last_jobs %}
			{% if forloop.first %}
		        <table>
		        <thead>
			        <tr>
			        <th scope='col'>Job</th>
			        <th scope='col'>Level</th>
			        <th scope='col'>Status</th>
			        <th scope='col'>Start</th>
			        <th scope='col'>End</th>
			        <th scope='col'>JobFiles</th>
			        <th scope='col'>JobBytes</th>
			        <th scope='col'>Errors</th>
			        <th scope='col'></th>
			        </tr>
		        </thead>
		        <tbody>
			{% endif %}
        <tr> 
	        <td> {{ job.Name }} </td>
	        <td> {{ job.Level|friendly_level }} </td>
	        <td> {{ job.JobStatus }} </td>
	        <td> {{ job.StartTime }} </td>
	        <td> {{ job.EndTime }} </td>
	        <td> {{ job.JobFiles }} </td>
	        <td> {{ job.JobBytes }} </td>
	        <td> {{ job.JobErrors }} </td>

		    {% ifequal job.JobStatus "T" %}
			<td>
			<button onclick="location.href='{{script_name}}/computer/{{comp.id}}/restore/new?jid={{job.JobID}}&src={{job.cName}}&dt={{job.StartTime}}';return false"><span>Restaurar</span></button>
			</td>
			{% endifequal %}
		</tr>
			{% if forloop.last %}
		</tbody>
		</table>
			{% endif %}
        {% endfor %}
    </div>
{% endblock %}
