{% extends "bkp/base.html" %}
{% block content %}

<ul class="aux menu_horizontal config">
    <li><a href="/config/global/edit"{% ifequal config_type 'global' %} class="ativo"{% endifequal %}>Configurações globais</a></li>
    <li><a href="/config/dump_restore/edit"{% ifequal config_type 'dump_restore' %} class="ativo"{% endifequal %}>Dump e restauração</a></li>
    <li><a href="/config/password/edit"{% ifequal config_type 'password' %} class="ativo"{% endifequal %}>Senha</a></li>
    <li><a href="/config/devices/edit"{% ifequal config_type 'devices' %} class="ativo"{% endifequal %}>Dispositivos Externos</a></li>
</ul>

{% ifequal config_type 'global' %}
	    <h2>Configurações Globais</h2>

    <form action="{{script_name}}/config/edit" method="post">
        {% for field in gconfigform %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <p><input type="submit" value="Salvar" /></p>
    </form>
{% endifequal %}

{% ifequal config_type 'dump_restore' %}
    <h2>Gerar Dump do Sistema</h2>

    <form action="{{script_name}}/dump/create" method="post">
    <p><input type="submit" value="Dump" /></p>
    </form>
    <br />

    <h2>Restaurar Sistema</h2>
    <form action="{{script_name}}/dump/restore" method="post" enctype="multipart/form-data">
	    {% for field in restoredumpform %}
		    <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
            </div>
	    {% endfor %}

    <p><input type="submit" value="Restore" /></p>
    </form>
{% endifequal %}

{% ifequal config_type 'password' %}
<h2>Alterar Senha do Administrador</h2>

<form action="{{script_name}}/password/" method="post">
    {% for field in pwdform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Salvar" /></p>
</form>
{% endifequal %}


{% ifequal config_type 'devices' %}
<h2>Dispositivos Cadastrados</h2>
<div class="bloco_texto">
{% if not devices %}
<p> Não existem dispositivos cadastrados.</p>
{% else %}
<ul>
{% for dev in devices %}
	<li>
	{{dev}} 
	<button onclick="location.href='{{script_name}}/{{dev.edit_url}}'"><span>Alterar</span></button>
	<button onclick="location.href='{{script_name}}/{{dev.delete_url}}'"><span>Remover</span></button>
    </li>
{% endfor %}
</ul>
{% endif %}
</div>


<h2>Cadastrar Dispositivo</h2>

<form action="{{script_name}}/device/" method="post">
    <div class="fieldWrapper">
        {{ devform.device_name.errors }}
        {{ devform.device_name.label_tag }} {{ devform.device_name }}
    </div>

    <div class="fieldWrapper">
        {{ devform.uuid.errors }}
		{{ devform.uuid.label_tag }}	
		<select name="uuid" id="id_uuid">
			{% for value,choice in dev_choices %}
			<option value="{{value}}" selected="selected">{{choice}} (UUID {{value}})</option>
			{% endfor %}
		</select>
    </div>
    <p><input type="submit" value="Salvar" /></p>
</form>

{% endifequal %}

{% endblock %}
