{% extends "bkp/base.html" %}
{% block content %}


<h2> Alterar Procedimento </h2>


<form action="{{script_name}}/computer/{{comp.id}}/procedure/{{proc.id}}/update" method="post">
    {% for field in procform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Salvar" /></p>
</form>

<a href="{{script_name}}/computer/{{comp.id}}">Cancelar</a>
<br />

{% endblock %}
