{% extends "base.html" %}
{% load i18n %}

{% block headtags %}
<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
<link rel="stylesheet" type="text/css" href="/media/css/restore.css" />
{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>

    <div class="block_content">
    <h2>{% trans "Step 2: Select procedure"%}</h2><br />
        <form action="/restore/step3/" id="step2_form" method="post">
			<p>
                <label>{% trans "Computer"%}:</label> {{computer.name}}
			</p>
			<p>
                <label for="procedure_id">{% trans "Select procedure"%}:</label>
                <select name="procedure_id" id="procedure_id" >
                    <option value=""> - {%trans "Select"%} - </option>
                    {% for procedure in computer.procedure_set.all %}
					{% if procedure.all_my_good_jobs|length == 1%}
                    <option value="{{procedure.id}}">{{procedure.name}} ({{procedure.all_my_good_jobs|length}} {%trans "available backup"%})</option>
					{% else %}
                    <option value="{{procedure.id}}">{{procedure.name}} ({{procedure.all_my_good_jobs|length}} {%trans "available backups"%})</option>
					{% endif %}
                    {% endfor %}
                </select>
            </p>
			<input type="hidden" name="computer_id" value="{{computer.id}}"></input>
			<div>
                <a href="/restore/step1/" class="css3button negative last_step"><span>{% trans "Back to step 1: Select computer"%}</span></a>
                <button type="submit" class="css3button positive next_step" onClick="if ($('#step2_form')[0].procedure_id.value == '') {alert('{% trans "No procedure has been selected"%}'); return false}">{% trans "Step 3: Select backup"%}</button>
			</div>
        </form>
        
        <div class="clear"></div>
        <p></p>
    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
