{% extends "base.html" %}
{% load i18n %}

{% block headtags %}
<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
<link rel="stylesheet" type="text/css" href="/media/css/restore.css" />
{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>

    <div class="block_content">
    <h2>{% trans "Step 3: Select backup"%}</h2><br />
        <form action="/restore/step4/" id="step3_form" method="post">
			<p>
                <label>{% trans "Computer"%}:</label> {{computer.name}}
			</p>	
			<p>
                <label>{% trans "Procedure"%}:</label> {{procedure.name}}
			</p>
			<p>
                <label>{% trans "Start date"%}:</label> 
				<input type="text" class="date_picker" name="start_date" value="{{start_date}}" />
                <label>{% trans "End date"%}:</label> 
				<input type="text" class="date_picker" name="end_date" value="{{end_date}}" />
                <a href="#" class="css3button positive" onClick="$('#step3_form')[0].action = '/restore/step3/'; $('#step3_form')[0].submit();"><span>{% trans "Filter"%}</span></a>
			</p>
			<p>
                <label for="job_id">{% trans "Select backup"%}:</label>
                <select name="job_id" id="job_id" >
					{% if jobs|length == 0%}
                    <option value=""> {% trans "No backups for this date"%}</option>
					{% else %}
                    <option value=""> - {% trans "Select"%} - </option>
                    {% for job in jobs %}
                    <option value="{{job.jobid}}">{{job.end_time}} - {{job.backup_level}} - {{job.jobfiles}} {% trans "files" %} ({{job.human_readable_size.size}} {{job.human_readable_size.unit}})</option>
                    {% endfor %}
					{% endif %}
                </select>
            </p>
			<input type="hidden" name="computer_id" value="{{computer.id}}"></input>
			<input type="hidden" name="procedure_id" value="{{procedure.id}}"></input>
			<div>
                <a href="#" class="css3button negative last_step" onClick="$('#step3_form')[0].action = '/restore/step2/'; $('#step3_form')[0].submit();"><span>{% trans "Back to step 2: Select procedure"%}</span></a>
                <button type="submit" class="css3button positive next_step" onClick="if ($('#step3_form')[0].job_id.value == '') {alert('{% trans "No backup has been selected"%}'); return false}">{% trans "Step 4 - Select files" %}</button>
			</div>
        </form>
        
        <div class="clear"></div>
        <p></p>
    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
