{% load bkp_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="pt-BR" />

		<title>{% block title %}{% endblock %} Backup corporativo</title>

		<link href="{{script_name}}/static/estilo.css" rel="stylesheet" />
		<script type="text/javascript" src="{{script_name}}/static/jquery.js"></script>
		<script type="text/javascript" src="{{script_name}}/static/jquery.cookie.js"></script>
		<script type="text/javascript" src="{{script_name}}/static/main.js"></script>
		
		<link type="text/css" href="{{script_name}}/static/css/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="{{script_name}}/static/js/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="{{script_name}}/static/js/jquery-ui-1.7.2.custom.min.js"></script>
		<script type="text/javascript">
			$(function(){
				// Tabs
				$('#tabs').tabs();
			});
		</script>
		
		
		{% block headtags %}{% endblock %}
	</head>
	<body>
		<div id="site">
			<div id="topo">
                <h1><a href="{{script_name}}/" title="Home">Linconet - Tencnologia Estratégica</a></h1>
                <div id="main_menu" class="menu">
                    <ul class="links">
						{% ifnotequal wizard.wizard_lock 1 %} 
						<li {% if request.META.PATH_INFO|contains:"/wizard" %}class="active"{% endif %}><a href="{% url bkp.views.main_wizard %}" title="">Wizard</a></li>
						{% endifnotequal %}
                    </ul>
                    {% if current_user.username %}
                    <form class="link" action="{% url bkp.views.delete_session %}" method="post">
                        <p>{{current_time}} - Bem-vindo, {{current_user.username}} | <button type="submit">Sair</button></p>
                    </form>
                    {% endif %}
                    {% if not current_user.username %}
                    <p>Você não está autenticado.</p>
                    {% endif %}
                </div>
			</div>
			<div id="conteudo">	
				{% block horizontal_menu %}{% endblock %}
				<div id="main_content">
				    <!-- start messages block -->
				    {% if messages %}
				        <div id="mensagens">
				            {% for msg in messages %}
				                <p>{{ msg }}</p>
				            {% endfor %}
				        </div>
				    {% endif %}
				    <!-- end messages block -->
				    
				    <!-- start content block -->
		    		{% block content %}
		    		    -- Aqui fica o conteúdo principal --
		    		{% endblock %}
		    		<!-- end content block -->
				</div>
			</div>
			<div id="rodape">
			    <p>Todos os direitos reservados à Linconet Ltda.</p>
			</div>
		</div>
	</body>
</html>
