{% extends "base.html" %}

{% block headtags %}
<script type="text/javascript" src="/media/js/procedures.js"></script>
<script type="text/javascript" src="/media/lib/js/tree_plugin.js"></script>
<script type="text/javascript" src="/media/jquery-ui.js"></script>
<link href="/media/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css"/>
<link href="/media/css/procedures.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
$(document).ready(function(){
    var field_schedule = ".schedule_return";
    var field_fileset = ".fileset_return";
    {{ init_script }}
});
</script>

{% endblock %}

{% block page %}

<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>
	<div class="block_content">
		<form action="/procedures/add/" method="post">
			{{ form.non_field_errors }}
			{% for field in form.visible_fields %}
				{% if field.errors %}
			<ul class="errorlist">
				<li>{{ field.errors }}</li>
			</ul>
				{% endif %}
			<p>
				<label>{{ field.label }}:</label><br />
				{% if field.label == 'Agendamento' %}
				<a href="/schedules/add/" id="schedule_button" class="css3button positive add_schedule_button">Criar um agendamento</a>
				<span id="discard_schedule" class="hidden"> ou <a class="css3button negative" onClick="unset_schedule()">Descartar e escolher um perfil</a></span>
				<input type="hidden" name="schedule_return" class="schedule_return" value="{{ schedule_return }}" />
				{% endif %}
				{%if field.label == 'Conjunto de arquivos' %}
				<a href="/filesets/add/" class="filesets css3button positive" id="fileset_button">Criar um conjunto de arquivos</a>
				<span id="discard_fileset" class="hidden"> ou <a class="css3button negative" onClick="unset_fileset()">Descartar e escolher um perfil</a></span>
				<input type="hidden" name="fileset_return" class="fileset_return" value="{{ fileset_return }}" />
				{% endif %}
				{{ field }}
			</p>
			{% endfor %}
			{% for hidden in form.hidden_fields %}
			{{ hidden }}
			{% endfor %}
			<div class="pool_value">
				<label>Tempo de retenção: <label id="slider_value"></label> dias</label> <label id="slider_value"></label><br />
				<div id="slider"></div>
				<div class="add_new_pool"><a href="#">Adicionar Outro Valor</a></div>
				<div class="clear">&nbsp;</div>
			</div>
			<div class="pool_new_value">
				<label>Tempo de retencao (em dias):</label><br />
				<input type="text" name="pool_retention_alt" id="pool_retention_alt" maxlength="4" value="" class="text small" /><br />
			</div>
			<hr />
			<!--
<p>
				<input type="submit" class="submit" value="Criar" />
			</p>
-->
			<p><button type="submit" value="submit" class="css3button big positive">Adicionar Backup</button></p>
		</form>
		<form action="/schedules/add/" method="POST" id="to_schedule_form"></form>
	</div>
</div>

{% endblock %}
