{% extends "base.html" %}
{% load i18n %}

{% block headtags %}
<script type="text/javascript" src="/media/js/procedures.js"></script>
<!-- <script type="text/javascript" src="/media/js/filesets.js"></script> -->
<!-- <script type="text/javascript" src="/media/js/schedules.js"></script> -->

<link href="/media/css/procedures.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	$(document).ready(function(){
        $("#slider").slider({ value: $("#id_procedure-pool_retention_time").val() });
		{% if fileset %}
			{% if not fileset.is_model %}
		FILESET_ID = '{{fileset.id}}';		
		set_fileset();
			{% endif %}
		{% endif %}
		{% if schedule %}
			{% if not schedule.is_model %}
		SCHEDULE_ID = '{{schedule.id}}';
		set_schedule();
			{% endif %}
		{% endif %}
	});
</script>

{% endblock %}

{% block page %}

<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>
	<div class="block_content">
		<form action="" method="post">
			{{ form.non_field_errors }}
			{% for field in form.visible_fields %}
				{% if field.errors %}
			<ul class="errorlist">
				<li>{{ field.errors }}</li>
			</ul>
				{% endif %}
			<p>
				{% ifequal field.label _('Schedule') %}
				<label>{{ field.label }}:</label><br />
				<a href="/schedules/add/" id="schedule_button" class="css3button positive add_schedule_button">{% trans "Create a schedule" %}</a>
				<span id="discard_schedule" class="hidden">{% trans "or" %}<a class="css3button negative" onClick="unset_schedule()">{% trans "Discard and choose a profile" %}</a></span>
				{{field}}
				{% else %}
					{%ifequal field.label _('File sets') %}
				<label>{{ field.label }}:</label><br />
				<a href="/filesets/add/" class="filesets css3button positive" id="fileset_button">{% trans "Create set files " %}</a>
				<span id="discard_fileset" class="hidden"> {% trans "or" %} <a class="css3button negative" onClick="unset_fileset()">{% trans "Discard and choose a profile" %}</a></span>
				{{field}}
					{% else %}
						{%ifequal field.label _('Retention time') %}
				<label>{{field.label}}: <span id="slider_value"></span>{% trans "days" %}</label><br />
				{{field}}
				<div id="slider"></div>
				<span class="add_new_pool"><a href="#">{% trans "Add another value" %}</a></span>
						{% else %}
				<label>{{ field.label }}:</label><br />
				{{ field }}
						{% endifequal %}
					{% endifequal %}
				{% endifequal %}
			</p>
			{% endfor %}
			{% for hidden in form.hidden_fields %}
			{{ hidden }}
			{% endfor %}
			<hr />
			<p><button type="submit" value="submit" class="css3button big positive">{% trans "Save" %}</button><a href="/procedures/list" class="css3button big negative">{% trans "Cancel" %}</a></p>
		</form>
		<form action="/schedules/add/" method="POST" id="to_schedule_form"></form>
	</div>
</div>

{% endblock %}
