{% if profile_form.errors.name %}
<ul class="errorlist">
    <li>{{ profile_form.errors.name }}</li>
</ul>
{% endif %}

<p>
    <label for="profile_name">Nome:</label><br/>
    <input type="text" name="profile_name" id="profile_name" value="{{ profile_post.name }}" class="text small" />
</p>

{% if profile_form.errors.storage %}
<ul class="errorlist">
    <li>{{ profile_form.errors.storage }}</li>
</ul>
{% endif %}
<p>
    <label for="storage_id">Local de armazenamento dos arquivos:</label><br/>
    <select class="styled" id="storage_id" name="profile_storage">
        <option value=""> - Selecione - </option>
        {% for storage in storages %}
        <option value="{{storage.id}}" {% if profile_post.storage == storage.id|stringformat:"s" %}selected="selected"{% endif %}>{{storage.name}} - {{storage.address}}</option>
        {% endfor %}
    </select>
</p>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('#schedule_id').change(function(){
            if ($('#schedule_id :selected').attr('id') == 'new_schedule') {
                $('#schedule').slideDown();
            } else {
                $('#schedule').slideUp();
            }
        });
        $('#schedule_id').change();
    });
</script>

{% if errors.profile_schedule_id %}
<ul class="errorlist">
    <li>{{ errors.profile_schedule_id }}</li>
</ul>
{% endif %}
<p>
    <label for="schedule_id">Agendamento:</label><br/>
    <select class="styled" id="schedule_id" name="profile_schedule">
        <option> - Selecione - </option>
        {% for schedule in schedules %}
        <option value="{{schedule.id}}" {% if profile_post.schedule == schedule.id|stringformat:"s" %}selected="selected"{% endif %}>{{schedule.name}}</option>
        {% endfor %}
        <option id="new_schedule" value="new_schedule" {% if profile_post.schedule == "new_schedule" %}selected="selected"{% endif %}>Criar novo agendamento</option>
    </select>
</p>

<!-- TODO: Prever um agendamento já definido. -->
<div class="block withsidebar" id="schedule" style="display: none">
    <div class="block_head">
    	<div class="bheadl"></div>
    	<div class="bheadr"></div>

    	<h2 style="font-size: 1.2em">
    	    Criar novo agendamento
    	</h2>
    </div>		<!-- .block_head ends -->

    <div class="block_content">
	    {% include "form_schedules_add.html" %}
	</div>		<!-- .block_content ends -->


    <div class="bendl"></div>
    <div class="bendr"></div>
</div>		<!-- .block .schedule ends -->


<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('#fileset_id').change(function(){
            if ($('#fileset_id :selected').attr('id') == 'new_fileset') {
                $('#fileset').slideDown();
            } else {
                $('#fileset').slideUp();
            }
        });
        $('#fileset_id').change();
    });
</script>

{% if profile_form.errors.fileset %}
<ul class="errorlist">
    <li>{{ profile_form.errors.fileset }}</li>
</ul>
{% endif %}
<p>
    <label for="fileset_id">Conjunto de arquivos para backup:</label><br/>
    <select class="styled" id="fileset_id" name="profile_fileset">
        <option> - Selecione - </option>
        {% for fileset in filesets %}
        <option value="{{fileset.id}}" {% if profile_post.fileset == fileset.id|stringformat:"s" %}selected="selected"{% endif %}>{{fileset.name}}</option>
        {% endfor %}
        <option id="new_fileset" value="new_fileset" {% if profile_post.fileset == "new_fileset" %}selected="selected"{% endif %}>Criar novo conjunto de arquivo</option>
    </select>
</p>

<div class="block" id="fileset" style="display: none">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>Criar novo conjunto de arquivos</h2>
	</div>		<!-- .block_head ends -->
	<div class="block_content">
	    {% include "form_filesets_add.html" %}
	</div>		<!-- .block_content ends -->
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>		<!-- .block ends -->
