{% extends "base.html" %}
{% load i18n %}

{% block headtags %}
<script type="text/javascript" src="/jsi18n/main/djangojs"></script>
<script type="text/javascript" src="/media/js/procedures.js"></script>
<link rel="stylesheet" type="text/css" href="/media/css/procedures.css" />
<link rel="stylesheet" type="text/css" href="/media/css/historico.css" />

{% endblock %}

{% block page %}

<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>

    <div class="block_content">
        <p></p>
        <div class="procedures">
        {% for procedure in procedures %}
            <div class="procedure">
                <div class="left">
                    <div class="title">
                        <img src="/media/icons/engine.png" alt=""/>
                        <h3 class="name">{{procedure.name}}</h3>
                        <small>Computador: {{procedure.computer.name}} ({{procedure.computer.operation_system|title}})</small>
                    </div>
                    <p class="options">
                        <a href="/procedures/{{procedure.id}}/edit/" class="css3button positive pill">{% trans "Edit" %}</a>
                        <a href="/procedures/{{procedure.id}}/delete/" class="css3button negative pill">{% trans "Remove" %}</a>
                    </p>
                </div>
                <div class="right">
                    <div class="floatright align-left">
                        <form action="/procedures/{{procedure.id}}/execute/" method="post" class="floatright">
                            <button type="submit" class="css3button positive" value="Executar agora">{% trans "Execute now" %}</button>
                        </form>
                        {% if not procedure.active %}
                        <form action="/procedures/{{procedure.id}}/activate/" method="post" class="floatright">
                            <button type="submit" class="css3button positive" value="Ativar">{% trans "Active" %}</button>
                        </form>
                        {% else %}
                        <form action="/procedures/{{procedure.id}}/deactivate/" method="post" class="floatright">
                            <button type="submit" class="css3button negative" value="Desativar">{% trans "Disable" %}</button>
                        </form>
                        {% endif %}
                    </div>
                    <h4>{% if not procedure.active %}{% trans "PROCEDURE DISABLED" %}{% else %}{% trans "SETTINGS PROCEDURE" %}{% endif %}</h4>
                    <div class="procedure-config {% if not procedure.active %}inactive{% endif %}">
                        <div>
                            {% trans "File sets:" %} <strong>{{procedure.fileset.name}}</strong>
							{% if procedure.fileset.is_model %}
								{% trans "[Profile]" %}
							{% endif %}
							<br/>
                            {% trans "Schedule:" %} <strong>{{procedure.schedule.name}}</strong>
							{% if procedure.schedule.is_model %}
                                                                {% trans "[Profile]" %}
							{% endif %}
							<br/>
                            {% trans "Retention time of files:" %} <strong>{{procedure.pool_retention_time}}</strong>
							{% if procedure.job_tasks.all %}
							<br/>{% trans "Post-backup tasks:" %}
							{% for task in procedure.job_tasks.all %}
							{% if task.active %}
							<li>{{task}}</li>
							{% else %}
							<li class="inactive_task">{{task}}</li>
							{% endif %}
							{% endfor %}
							{% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        {% empty %}
            <p>{% trans "There are no procedures added." %}</p>
        {% endfor %}
        </div>

    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

        <div class="block">

    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>

    			<h2 class="floatleft">{% trans "Procedural History" %}</h2>&nbsp;&nbsp;
    			<a href="/procedures/history" class="css3button positive">{% trans "List all procedures" %}</a>

    		</div>		<!-- .block_head ends -->

            <div class="block_content">
		    {% with backups_com_falhas as item %}
    		    <div class="stat_block">
                {% include "stat_block.html" %}
                </div>
    		{% endwith %}
    		</div>

    		<div class="bendl"></div>
    		<div class="bendr"></div>
    	</div>		<!-- .block ends -->
    


{% endblock %}
