{% extends "base.html" %}

{% block headtags %}
<script type="text/javascript" src="/media/js/procedures.js"></script>
<link rel="stylesheet" type="text/css" href="/media/css/procedures.css" />

{% endblock %}

{% block page %}

<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>

    <div class="block_content">
        <p></p>
        <div class="procedures">
        {% for procedure in procedures %}
            <div class="procedure">
                <div class="left">
                    <div class="title">
                        <img src="/media/icons/engine.png" alt=""/>
                        <h3 class="name">{{procedure.name}}</h3>
                        <small>Computador: {{procedure.computer.name}} ({{procedure.computer.operation_system|title}})</small>
                    </div>
                    <p class="options"><a href="/procedures/{{procedure.id}}/edit/">Editar</a> - <a href="/procedures/{{procedure.id}}/delete/">Remover</a></p>
                </div>
                <div class="right">
                    <div class="floatright">
                        <form action="/procedures/{{procedure.id}}/execute/" method="post" class="floatright">
                            <input type="submit" class="submit tiny" value="Executar agora" />
                        </form>
                        {%  if offsite_on %}
                            {% if not procedure.offsite_on %}
                            <form action="/procedures/{{procedure.id}}/activate_offsite/" method="post" class="floatright">
                                <input type="submit" class="submit tiny" value="Ativar Offsite" />
                            </form>
                            {% else %}
                            <form action="/procedures/{{procedure.id}}/deactivate_offsite/" method="post" class="floatright">
                                <input type="submit" class="submit tiny" value="Desativar Offsite" />
                            </form>
                            {% endif %}
                        {% endif %}
                        {% if not procedure.active %}
                        <form action="/procedures/{{procedure.id}}/activate/" method="post" class="floatright">
                            <input type="submit" class="submit tiny" value="Ativar" />
                        </form>
                        {% else %}
                        <form action="/procedures/{{procedure.id}}/deactivate/" method="post" class="floatright">
                            <input type="submit" class="submit tiny" value="Desativar" />
                        </form>
                        {% endif %}
                    </div>
                    <h4>CONFIGURAÇÕES DO PROCEDIMENTO</h4>
                    <div class="procedure-config">
                        <div style="width: 69%; float: left;">
                            Offsite ativado: <strong>{{procedure.offsite_on|yesno:"Sim,Não"}}</strong><br/>
                            Conjunto de arquivos: <strong>{{procedure.fileset.name}}</strong>
							{% if procedure.fileset.is_model %}
								[Perfil]
							{% endif %}
							<br/>
                            Agendamento: <strong>{{procedure.schedule.name}}</strong>
							{% if procedure.schedule.is_model %}
								[Perfil]
							{% endif %}
							<br/>
                            Tempo de retenção dos arquivos: <strong>{{procedure.pool_retention_time}}</strong>
                        </div>
                        <div style="width: 29%; float: right;">
                            &nbsp;
                            <!-- Use this div to display any content you need to. The following images are just for testing.
<img src="/media/icons/exchange32.png" alt="Running" />
                            <img src="/media/icons/check32.png" alt="Check" />
                            <img src="/media/icons/stop32.png" alt="Stop" />
                            <img src="/media/icons/sleep32.png" alt="Sleep" />
                            <img src="/media/icons/warning32.png" alt="Warn" />
-->
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        {% empty %}
            <p>Não existem procedimentos adicionados.</p>
        {% endfor %}
        </div>
        
        <div class="block-executados">
    		    <div class="stat_block">
                {% include "stat_block.html" %}
                </div>
    	    <div class="clear"></div>
    	    <p></p>
    	</div>
    
    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}