{% extends "base.html" %}


{% block headtags %}
<script type="text/javascript" charset="utf-8" src="/media/lib/js/tree_plugin.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.toggle').click(function(){
            var target = $(this).attr('ref');
            $(this).parent().parent().find('.' + target).slideToggle();
        });
        
        get_tree_path = "/backup/get_tree/";
        
        $('#update_tree').click(function()
        {
            update_tree('/', get_tree_path, undefined, undefined, undefined, '#computer_id');
            return false;
        });

        $(".tree a").click(function()
        {
            update_tree($(this).attr("path"), get_tree_path, undefined, undefined, undefined, '#computer_id');
            return false;
        });
    });
    
    
    $(document).ready(function(){
        $('#schedule_id').change(function(){
            if ($('#schedule_id :selected').attr('id') == 'new_schedule') {
                $('#schedule').slideDown();
            } else {
                $('#schedule').slideUp();
            }
        });
        $('#schedule_id').change();
    });
    
    $(document).ready(function(){
        $('.schedule_activate').change(function(){
            _checked = $(this).attr('checked');
            _class = $(this).attr('id');
            if (_checked) {
                $('.' + _class).addClass('active');
            } else {
                $('.' + _class).removeClass('active');
            }
        });
        $('.schedule_activate').change();
    });
    
    $(document).ready(function(){
        $('#fileset_id').change(function(){
            if ($('#fileset_id :selected').attr('id') == 'new_fileset') {
                $('#fileset').slideDown();
            } else {
                $('#fileset').slideUp();
            }
        });
        $('#fileset_id').change();
    });
    
    $(document).ready(function(){
        $('#filepath_template').clone().appendTo('.filepaths').show();
        
        function remover_path(obj) {
            $(obj).parent().remove();
            if ($('#filepath_template').parent().children().length == 1) {
                adicionar_path();
            }
        }
        
        function adicionar_path(obj) {
            if (obj) {
                $('#filepath_template').clone().insertAfter($(obj).parent()).show();
            } else {
                $('#filepath_template').clone().appendTo('.filepaths').show();
            }
            
            
            $('.filepaths .add').unbind('click').click(function(){
                adicionar_path(this);
            });
            
            $('.filepaths .del').unbind('click').click(function(){
                remover_path(this);
            });
        }
        
        $('.filepaths .add').click(function(){
            adicionar_path(this);
        });
        
        $('.filepaths .del').click(function(){
            remover_path(this);
        });
    });
    
</script>
{% endblock %}

{% block page %}
<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">
        <form action="{% url nimbus.procedures.views.profile_add %}" method="post">
            {% include "form_profile_add.html" %}
            <p>
                <input type="submit" class="submit mid" value="Adicionar" />
            </p>
        </form>
        <p></p>
    </div>

    <div class="bendl"></div>
	<div class="bendr"></div>

</div>
{% endblock %}