{% extends "base.html" %}

{% block headtags %}
<script type="text/javascript" src="/media/js/procedures.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="/media/css/procedures.css" />
{% endblock %}

{% block page %}

<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>
    <div class="block_content">
		<h2 class="floatleft">Conjuntos de arquivos</h2>
		&nbsp;&nbsp;<a href="/filesets/add/" class="minibutton edit-fileset" id="fileset_new"><span>Novo</span></a>
		<select class="computer-fileset" id="select_fileset_new">
			<option value="">a partir do computador:</option>
            {% for computer in computers %}
            <option value="{{ computer.id }}">{{ computer.name }}</option>
            {% endfor %}
        </select>
		
		<div class="clear"></div><hr />
		<!-- real env for filesets -->
		<div class="procedure">
            {% for fileset in filesets %}
			<div class="fileset">
                <div class="title">
                    <div class="title-left">
    			        <span class="name">{{ fileset.name }}</span>
                    </div>
                    <div class="title-right">
						<select class="computer-fileset" id="select_fileset_{{fileset.id}}">
							<option value="">Escolha um computador:</option>
                            {% for computer in computers %}
                            <option value="{{ computer.id }}">{{ computer.name }}</option>
                            {% endfor %}
                        </select>
                        <a class="minibutton edit-fileset" id="fileset_{{fileset.id}}" href="/filesets/{{ fileset.id }}/edit/"><span>Editar</span></a>
                        <a class="minibutton red" href="/filesets/delete/{{fileset.id}}"><span>Excluir</span></a>
                    </div>
                    <div class="clear"></div>
                </div><!-- .title -->
                <div class="body">
                    <div class="left">
                        <h3>Utilizado por:</h3>
                        <table cellpadding="0" cellspacing="0">
                            <thead>
                                <tr><th>Procedimento</th><th>Computador</th></tr>
                            </thead>
                            <tbody>
                                {% for procedure in fileset.procedures.all %}
                                <tr><td>{{procedure.name}}</td><td>{{procedure.computer}}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- .left -->
                    <div class="right">
                        <h3 class="floatleft">Lista de arquivos</h3>
                        <div class="clear"></div>
                        <div class="list">
                        <ul>
                            {% for file in fileset.files.all %}
                            <li>{{file.path}}</li>
                            {% endfor %}
                        </ul>
                        </div>
                    </div><!-- .right -->
                    <div class="clear"></div>
                </div><!-- .body -->
			</div><!-- .fileset -->
			<hr />
			{% endfor %}
		</div><!-- .procedure -->
        
        <h2 class="floatleft">Agendamentos</h2>&nbsp;<a href="/schedules/add/" class="minibutton edit-schedule"><span>Adicionar</span></a>
		<div class="clear"></div><hr />
        <!-- real env for schedules -->
		<div class="schedule">
            {% for schedule in schedules %}
			<div class="fileset">
                <div class="title">
                    <div class="title-left">
    			        <span class="name">{{ schedule.name }}</span>
                    </div>
                    <div class="title-right">
                        <a class="minibutton edit-schedule" href="/schedules/{{schedule.id}}/edit/"><span>Editar</span></a>
                        <a class="minibutton red" href="/schedules/delete/{{schedule.id}}"><span>Excluir</span></a>
                    </div>
                    <div class="clear"></div>
                </div><!-- .title -->
                <div class="body">
                    <div class="left">
                        <h3>Utilizado por:</h3>
                        <table cellpadding="0" cellspacing="0">
                            <thead>
                                <tr><th>Procedimento</th><th>Computador</th></tr>
                            </thead>
                            <tbody>
            					{% for procedure in schedule.procedures.all %}
            					<tr><td>{{procedure.name}}</td><td>{{procedure.computer}}</td></tr>
            					{% endfor %}
            				</tbody>
                        </table>
                    </div><!-- .left -->
                    <div class="right">
                        <h3 class="floatleft">Lista de arquivos</h3>
                        <div class="clear"></div>
                        <div class="list">
                        <ul>
                        {% if schedule.if_month %}
                            {% for line in schedule.month.human_readable %}
                            <li>{{ line }}</li>
                            {% endfor %}
                            {% endif %}
                            {% if schedule.if_week %}
                            {% for line in schedule.week.human_readable %}
                            <li>{{ line }}</li>
                            {% endfor %}
                            {% endif %}
                            {% if schedule.if_day %}
                            <li>{{ schedule.day.human_readable }}</li>
                            {% endif %}
                            {% if schedule.if_hour %}
                            <li>{{ schedule.hour.human_readable }}</li>
                        {% endif %}
                        </ul>
                        </div>
                    </div><!-- .right -->
                    <div class="clear"></div>
                </div><!-- .body -->
			</div><!-- .fileset -->
			<hr />
            {% endfor %}
		</div><!-- .schedule -->
    </div>
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}