{% extends "base.html" %}

{% block page %}
<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">

        <form action="{% url nimbus.procedures.views.profile_edit object_id=profile.id %}" method="post">
            {% if errors.profile_name %}
            <ul class="errorlist">
                <li>{{ errors.profile_name }}</li>
            </ul>
            {% endif %}
            <p>
                <label for="profile_name">Nome:</label><br/>
                <input type="text" name="profile_name" id="profile_name" value="{{ profile.name }}" class="text small" />
            </p>
            {% if errors.storage_id %}
            <ul class="errorlist">
                <li>{{ errors.storage_id }}</li>
            </ul>
            {% endif %}
            <p>
                <label for="storage_id">Local de armazenamento dos arquivos:</label><br/>
                <select class="styled" id="storage_id" name="profile_storage_id">
                    <option value=""> - Selecione - </option>
                    {% for storage in storages %}
                    <option value="{{storage.id}}" {% if profile.storage.id == storage.id %}selected="selected"{% endif %}>{{storage.name}} - {{storage.address}}</option>
                    {% endfor %}
                </select>
            </p>
            {% if errors.profile_schedule_id %}
            <ul class="errorlist">
                <li>{{ errors.profile_schedule_id }}</li>
            </ul>
            {% endif %}
            <p>
                <label for="schedule_id">Agendamento:</label><br/>
                <select class="styled" id="schedule_id" name="profile_schedule_id">
                    <option> - Selecione - </option>
                    {% for schedule in schedules %}
                    <option value="{{schedule.id}}" {% if profile.schedule.id == schedule.id %}selected="selected"{% endif %}>{{schedule.name}}</option>
                    {% endfor %}
                </select>
            </p>
            {% if errors.profile_fileset_id %}
            <ul class="errorlist">
                <li>{{ errors.profile_fileset_id }}</li>
            </ul>
            {% endif %}
            <p>
                <label for="fileset_id">Conjunto de arquivos para backup:</label><br/>
                <select class="styled" id="fileset_id" name="profile_fileset_id">
                    <option> - Selecione - </option>
                    {% for fileset in filesets %}
                    <option value="{{fileset.id}}" {% if profile.fileset.id == fileset.id %}selected="selected"{% endif %}>{{fileset.name}}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <input type="submit" class="submit mid" value="Salvar" /> ou &nbsp;
                <input type="submit" class="submit longer" name="save_as_new" value="Salvar como novo perfil" />
            </p>
        </form>
        <p></p>
    </div>

    <div class="bendl"></div>
	<div class="bendr"></div>

</div>
{% endblock %}