{% extends "base.html" %}
{% load i18n %}

{% block headtags %}
<script type="text/javascript" src="/media/js/procedures.js"></script>
<link rel="stylesheet" type="text/css" href="/media/css/historico.css" />
{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{% trans "Removal Confirmation" %}</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">
        <form method="post" action="">
            <h1>{% trans "You are about to delete the backup procedure" %} "{{procedure.name}}".</h1>
			<ul>
				<li>{% trans "The computer" %} <strong>"{{procedure.computer.name}}"</strong> {% trans "will not be affected." %}</li>
				{% if procedure.fileset.is_model %}
				<li>{% trans "The profile of the set of files" %}<strong>"{{procedure.fileset.name}}"</strong>{% trans "will not be affected." %}</li>
				{% else %}
				<li> {% trans "The set of files" %}<strong>"{{procedure.fileset.name}}"</strong>{% trans "is only used for this backup and" %}<strong>{% trans "will be removed" %}</strong>.</li>
				{% endif %}
				{% if procedure.schedule.is_model %}
				<li>{% trans "The profile of schedule" %}<strong>"{{procedure.schedule.name}}"</strong>{% trans "will not be affected" %}</li>
				{% else %}
				<li> {% trans "The schedule" %} <strong>"{{procedure.schedule.name}}"</strong> {% trans "is only used for this backup and" %} <strong>{% trans "will be removed" %}</strong>.</li>
				{% endif %}
				{% if last_jobs %}
				<li>{% trans "The following backups will be deleted and can not be restored:" %}</li>
				<div style="margin-left: 50px; margin-right: 50px;">
        		{% include "stat_block.html" %}
				</div>
				{% else %}
				<li>{% trans "There is no backup unless this procedure" %}</li>
				{% endif %}
			</ul>
            <br \>
			<p><strong>{% trans "This operation can not be undone. Would you like to proceed anyway?" %}</strong></p>
            <p>
                <!-- <input type="submit" class="css3button positive" name="confirm" value="Prosseguir" /> ou <a href="" onclick="history.back(-1); return false;">Cancelar</a> -->
                <a href="/procedures/{{procedure.id}}/do_delete/" class="css3button negative">{% trans "Remove" %}</a> ou <a href="" class="css3button positive" onclick="history.back(-1); return false;">{% trans "Cancel" %}</a>
            </p>
        </form>
    </div>

    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
