{% extends "base.html" %}

{% block headtags %}
<script type="text/javascript">

    $(document).ready(function() {
        $("select#id_country").bind("change", getAreaChoices);
    });
 
    function getAreaChoices() {
        $.ajax({
            type: "POST",
            url: "{% url nimbus.timezone.views.area_request %}",
            dataType: "json",
            data: {country: $('[name=country]').val()},
            success: function(data, textStatus){
                $("select#id_area").empty();
                $.each(data, function(i, item){
                    $("select#id_area").append(
                        '<option value="'+item+'" selected="selected">'+item+'</option>'
                    );
                });
                $("select#id_area").change();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Status: "+textStatus+".");
                this; // the options for this ajax request
            }
        });
    }

</script>
{% endblock %}


{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>Configuração de Hora</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">
    
        <form method="post" action="">
            {% include "form.html" %}
            <p><input type="submit" class="submit" value="Confirm" /></p>
        </form>
    
    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}